# coding: utf-8

"""
    Hyperstruck Core

    Hyperstruck Core management API  # noqa: E501

    OpenAPI spec version: 0.1.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from hyperstruck.api_client import ApiClient


class AdminIdentityApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def create_identity_provider_admin_tenants_tenant_id_identity_provider_post(self, body, tenant_id, **kwargs):  # noqa: E501
        """Create Identity Provider  # noqa: E501

        Create a WorkOS Organization for the tenant and map it.  Requires the `identity:admin:write` scope. Creates a WorkOS Organization with `external_id = tenant_id`, then stores the mapping (status `pending_setup`) through admin impersonation. Creates real WorkOS state.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_identity_provider_admin_tenants_tenant_id_identity_provider_post(body, tenant_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param WorkOSOrganizationLinkRequest body: (required)
        :param object tenant_id: (required)
        :return: WorkOSOrganizationLinkResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_identity_provider_admin_tenants_tenant_id_identity_provider_post_with_http_info(body, tenant_id, **kwargs)  # noqa: E501
        else:
            (data) = self.create_identity_provider_admin_tenants_tenant_id_identity_provider_post_with_http_info(body, tenant_id, **kwargs)  # noqa: E501
            return data

    def create_identity_provider_admin_tenants_tenant_id_identity_provider_post_with_http_info(self, body, tenant_id, **kwargs):  # noqa: E501
        """Create Identity Provider  # noqa: E501

        Create a WorkOS Organization for the tenant and map it.  Requires the `identity:admin:write` scope. Creates a WorkOS Organization with `external_id = tenant_id`, then stores the mapping (status `pending_setup`) through admin impersonation. Creates real WorkOS state.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_identity_provider_admin_tenants_tenant_id_identity_provider_post_with_http_info(body, tenant_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param WorkOSOrganizationLinkRequest body: (required)
        :param object tenant_id: (required)
        :return: WorkOSOrganizationLinkResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'tenant_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_identity_provider_admin_tenants_tenant_id_identity_provider_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_identity_provider_admin_tenants_tenant_id_identity_provider_post`")  # noqa: E501
        # verify the required parameter 'tenant_id' is set
        if ('tenant_id' not in params or
                params['tenant_id'] is None):
            raise ValueError("Missing the required parameter `tenant_id` when calling `create_identity_provider_admin_tenants_tenant_id_identity_provider_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'tenant_id' in params:
            path_params['tenant_id'] = params['tenant_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/admin/tenants/{tenant_id}/identity-provider', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='WorkOSOrganizationLinkResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_member_admin_tenants_tenant_id_members_post(self, body, tenant_id, **kwargs):  # noqa: E501
        """Create Member  # noqa: E501

        Manually assign a tenant membership (admin-provisioned).  Requires the `identity:admin:write` scope. Creates the identity user by email if needed and upserts the membership (`provisioning_source = 'hyperstruck_admin'`) through admin impersonation. Used to seed the first owner before SSO, or whenever JIT is disabled.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_member_admin_tenants_tenant_id_members_post(body, tenant_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param AdminMembershipRequest body: (required)
        :param object tenant_id: (required)
        :return: AdminMembershipResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_member_admin_tenants_tenant_id_members_post_with_http_info(body, tenant_id, **kwargs)  # noqa: E501
        else:
            (data) = self.create_member_admin_tenants_tenant_id_members_post_with_http_info(body, tenant_id, **kwargs)  # noqa: E501
            return data

    def create_member_admin_tenants_tenant_id_members_post_with_http_info(self, body, tenant_id, **kwargs):  # noqa: E501
        """Create Member  # noqa: E501

        Manually assign a tenant membership (admin-provisioned).  Requires the `identity:admin:write` scope. Creates the identity user by email if needed and upserts the membership (`provisioning_source = 'hyperstruck_admin'`) through admin impersonation. Used to seed the first owner before SSO, or whenever JIT is disabled.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_member_admin_tenants_tenant_id_members_post_with_http_info(body, tenant_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param AdminMembershipRequest body: (required)
        :param object tenant_id: (required)
        :return: AdminMembershipResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'tenant_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_member_admin_tenants_tenant_id_members_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_member_admin_tenants_tenant_id_members_post`")  # noqa: E501
        # verify the required parameter 'tenant_id' is set
        if ('tenant_id' not in params or
                params['tenant_id'] is None):
            raise ValueError("Missing the required parameter `tenant_id` when calling `create_member_admin_tenants_tenant_id_members_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'tenant_id' in params:
            path_params['tenant_id'] = params['tenant_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/admin/tenants/{tenant_id}/members', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AdminMembershipResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_portal_link_admin_tenants_tenant_id_identity_provider_portal_links_post(self, body, tenant_id, **kwargs):  # noqa: E501
        """Create Portal Link  # noqa: E501

        Generate a WorkOS Admin Portal link for the tenant's organization.  Requires the `identity:admin:write` scope. Returns a link to hand customer IT for domain verification / SSO setup (`intent` = `sso` or `domain_verification`). Responds 404 if the tenant has no WorkOS organization mapping yet.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_portal_link_admin_tenants_tenant_id_identity_provider_portal_links_post(body, tenant_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param WorkOSPortalLinkRequest body: (required)
        :param object tenant_id: (required)
        :return: WorkOSPortalLinkResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_portal_link_admin_tenants_tenant_id_identity_provider_portal_links_post_with_http_info(body, tenant_id, **kwargs)  # noqa: E501
        else:
            (data) = self.create_portal_link_admin_tenants_tenant_id_identity_provider_portal_links_post_with_http_info(body, tenant_id, **kwargs)  # noqa: E501
            return data

    def create_portal_link_admin_tenants_tenant_id_identity_provider_portal_links_post_with_http_info(self, body, tenant_id, **kwargs):  # noqa: E501
        """Create Portal Link  # noqa: E501

        Generate a WorkOS Admin Portal link for the tenant's organization.  Requires the `identity:admin:write` scope. Returns a link to hand customer IT for domain verification / SSO setup (`intent` = `sso` or `domain_verification`). Responds 404 if the tenant has no WorkOS organization mapping yet.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_portal_link_admin_tenants_tenant_id_identity_provider_portal_links_post_with_http_info(body, tenant_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param WorkOSPortalLinkRequest body: (required)
        :param object tenant_id: (required)
        :return: WorkOSPortalLinkResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'tenant_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_portal_link_admin_tenants_tenant_id_identity_provider_portal_links_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_portal_link_admin_tenants_tenant_id_identity_provider_portal_links_post`")  # noqa: E501
        # verify the required parameter 'tenant_id' is set
        if ('tenant_id' not in params or
                params['tenant_id'] is None):
            raise ValueError("Missing the required parameter `tenant_id` when calling `create_portal_link_admin_tenants_tenant_id_identity_provider_portal_links_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'tenant_id' in params:
            path_params['tenant_id'] = params['tenant_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/admin/tenants/{tenant_id}/identity-provider/portal-links', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='WorkOSPortalLinkResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def workos_webhook_webhooks_workos_post(self, **kwargs):  # noqa: E501
        """Workos Webhook  # noqa: E501

        Receive and verify WorkOS webhook events.  Public but signature-verified via the `WorkOS-Signature` header against `HYPER_WORKOS__WEBHOOK_SECRET`. Reconciles provider connection status for an already-mapped organization only; never grants tenant access on its own.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.workos_webhook_webhooks_workos_post(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object work_os_signature:
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.workos_webhook_webhooks_workos_post_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.workos_webhook_webhooks_workos_post_with_http_info(**kwargs)  # noqa: E501
            return data

    def workos_webhook_webhooks_workos_post_with_http_info(self, **kwargs):  # noqa: E501
        """Workos Webhook  # noqa: E501

        Receive and verify WorkOS webhook events.  Public but signature-verified via the `WorkOS-Signature` header against `HYPER_WORKOS__WEBHOOK_SECRET`. Reconciles provider connection status for an already-mapped organization only; never grants tenant access on its own.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.workos_webhook_webhooks_workos_post_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object work_os_signature:
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['work_os_signature']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method workos_webhook_webhooks_workos_post" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}
        if 'work_os_signature' in params:
            header_params['WorkOS-Signature'] = params['work_os_signature']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/webhooks/workos', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
