# coding: utf-8

"""
    Hyperstruck Core

    Hyperstruck Core management API  # noqa: E501

    OpenAPI spec version: 0.1.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from hyperstruck.api_client import ApiClient


class AuthApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def logout_auth_logout_post(self, **kwargs):  # noqa: E501
        """Logout  # noqa: E501

        Clear the session cookie and return the WorkOS logout URL to revoke the session.  Clearing only the cookie leaves the WorkOS session valid until expiry, so a stolen sealed session would still work. We compute the WorkOS logout URL from the current session and return it; the frontend redirects there to actually end the WorkOS session. Safe to call when already signed out (logout_url null).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.logout_auth_logout_post(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.logout_auth_logout_post_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.logout_auth_logout_post_with_http_info(**kwargs)  # noqa: E501
            return data

    def logout_auth_logout_post_with_http_info(self, **kwargs):  # noqa: E501
        """Logout  # noqa: E501

        Clear the session cookie and return the WorkOS logout URL to revoke the session.  Clearing only the cookie leaves the WorkOS session valid until expiry, so a stolen sealed session would still work. We compute the WorkOS logout URL from the current session and return it; the frontend redirects there to actually end the WorkOS session. Safe to call when already signed out (logout_url null).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.logout_auth_logout_post_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method logout_auth_logout_post" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/auth/logout', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def me_me_get(self, **kwargs):  # noqa: E501
        """Me  # noqa: E501

        Return the current portal session: user, active tenant, memberships, scopes.  Portal-session only. API-key callers have no portal identity and are rejected with 403 — they should use the resource APIs directly, not `/me`. A valid session without an active membership surfaces as 403 from the middleware.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.me_me_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: MeResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.me_me_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.me_me_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def me_me_get_with_http_info(self, **kwargs):  # noqa: E501
        """Me  # noqa: E501

        Return the current portal session: user, active tenant, memberships, scopes.  Portal-session only. API-key callers have no portal identity and are rejected with 403 — they should use the resource APIs directly, not `/me`. A valid session without an active membership surfaces as 403 from the middleware.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.me_me_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: MeResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method me_me_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/me', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='MeResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def workos_callback_auth_sso_callback_get(self, **kwargs):  # noqa: E501
        """Workos Callback  # noqa: E501

        Complete login: exchange the WorkOS code and issue the session cookie.  The backend owns the code exchange (the WorkOS secret never reaches the browser). The `state` is HMAC-signed and carries a CSRF nonce + landing path; the signature must verify AND the nonce must match the host-only pre-login cookie (double-submit) or the callback is rejected. On authorized or pending-admin-assignment it sets the HTTP-only sealed-session cookie and 303-redirects to the frontend; the frontend's `/me` call then decides app vs. pending UI. Every response clears the one-shot state cookie.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.workos_callback_auth_sso_callback_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object code:
        :param object state:
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.workos_callback_auth_sso_callback_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.workos_callback_auth_sso_callback_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def workos_callback_auth_sso_callback_get_with_http_info(self, **kwargs):  # noqa: E501
        """Workos Callback  # noqa: E501

        Complete login: exchange the WorkOS code and issue the session cookie.  The backend owns the code exchange (the WorkOS secret never reaches the browser). The `state` is HMAC-signed and carries a CSRF nonce + landing path; the signature must verify AND the nonce must match the host-only pre-login cookie (double-submit) or the callback is rejected. On authorized or pending-admin-assignment it sets the HTTP-only sealed-session cookie and 303-redirects to the frontend; the frontend's `/me` call then decides app vs. pending UI. Every response clears the one-shot state cookie.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.workos_callback_auth_sso_callback_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object code:
        :param object state:
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['code', 'state']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method workos_callback_auth_sso_callback_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'code' in params:
            query_params.append(('code', params['code']))  # noqa: E501
        if 'state' in params:
            query_params.append(('state', params['state']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/auth/sso/callback', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def workos_login_auth_sso_login_get(self, **kwargs):  # noqa: E501
        """Workos Login  # noqa: E501

        Start the WorkOS AuthKit login hand-off.  Resolves the target WorkOS organization from `tenant_hint` when present and 303-redirects to the AuthKit authorization URL; without a hint, WorkOS resolves the org from the user's identity (no local domain->org map). An unmapped user comes back org-less and is rejected at the callback (no session), so the hand-off is unconditional. `email` is forwarded only as a WorkOS `login_hint`. `return_to` is carried through WorkOS in `state` (open-redirect-validated).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.workos_login_auth_sso_login_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object email:
        :param object tenant_hint:
        :param object return_to:
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.workos_login_auth_sso_login_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.workos_login_auth_sso_login_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def workos_login_auth_sso_login_get_with_http_info(self, **kwargs):  # noqa: E501
        """Workos Login  # noqa: E501

        Start the WorkOS AuthKit login hand-off.  Resolves the target WorkOS organization from `tenant_hint` when present and 303-redirects to the AuthKit authorization URL; without a hint, WorkOS resolves the org from the user's identity (no local domain->org map). An unmapped user comes back org-less and is rejected at the callback (no session), so the hand-off is unconditional. `email` is forwarded only as a WorkOS `login_hint`. `return_to` is carried through WorkOS in `state` (open-redirect-validated).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.workos_login_auth_sso_login_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object email:
        :param object tenant_hint:
        :param object return_to:
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['email', 'tenant_hint', 'return_to']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method workos_login_auth_sso_login_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'email' in params:
            query_params.append(('email', params['email']))  # noqa: E501
        if 'tenant_hint' in params:
            query_params.append(('tenant_hint', params['tenant_hint']))  # noqa: E501
        if 'return_to' in params:
            query_params.append(('return_to', params['return_to']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/auth/sso/login', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
