# coding: utf-8

"""
    Hyperstruck Core

    Create and operate hosted agents, runs, learnings, and integrations. Authenticate resource requests with a Bearer API key unless an endpoint explicitly requires a portal session.  # noqa: E501

    OpenAPI spec version: 0.1.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from hyperstruck.api_client import ApiClient


class ClaimsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def admin_release_claim_endpoint_agents_agent_id_claims_claim_id_admin_release_post(self, agent_id, claim_id, **kwargs):  # noqa: E501
        """Release a quarantined claim (administrator path)  # noqa: E501

        Release any quarantined claim, including an untrusted (possible-injection) one, with re-verification. Admin-tier because releasing attacker-reachable content into a corpus the planner reads is the sharpest curation action. Requires the If-Match consent token.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.admin_release_claim_endpoint_agents_agent_id_claims_claim_id_admin_release_post(agent_id, claim_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object claim_id: Claim UUID returned by a curation queue, dossier, or review-context endpoint. (required)
        :param object if_match: The consent ETag returned by GET .../review-context. Required for release, promote and adopt: it proves the reviewer saw this claim's state, and a stale token is refused.
        :return: CuratedClaim
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.admin_release_claim_endpoint_agents_agent_id_claims_claim_id_admin_release_post_with_http_info(agent_id, claim_id, **kwargs)  # noqa: E501
        else:
            (data) = self.admin_release_claim_endpoint_agents_agent_id_claims_claim_id_admin_release_post_with_http_info(agent_id, claim_id, **kwargs)  # noqa: E501
            return data

    def admin_release_claim_endpoint_agents_agent_id_claims_claim_id_admin_release_post_with_http_info(self, agent_id, claim_id, **kwargs):  # noqa: E501
        """Release a quarantined claim (administrator path)  # noqa: E501

        Release any quarantined claim, including an untrusted (possible-injection) one, with re-verification. Admin-tier because releasing attacker-reachable content into a corpus the planner reads is the sharpest curation action. Requires the If-Match consent token.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.admin_release_claim_endpoint_agents_agent_id_claims_claim_id_admin_release_post_with_http_info(agent_id, claim_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object claim_id: Claim UUID returned by a curation queue, dossier, or review-context endpoint. (required)
        :param object if_match: The consent ETag returned by GET .../review-context. Required for release, promote and adopt: it proves the reviewer saw this claim's state, and a stale token is refused.
        :return: CuratedClaim
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['agent_id', 'claim_id', 'if_match']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method admin_release_claim_endpoint_agents_agent_id_claims_claim_id_admin_release_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'agent_id' is set
        if ('agent_id' not in params or
                params['agent_id'] is None):
            raise ValueError("Missing the required parameter `agent_id` when calling `admin_release_claim_endpoint_agents_agent_id_claims_claim_id_admin_release_post`")  # noqa: E501
        # verify the required parameter 'claim_id' is set
        if ('claim_id' not in params or
                params['claim_id'] is None):
            raise ValueError("Missing the required parameter `claim_id` when calling `admin_release_claim_endpoint_agents_agent_id_claims_claim_id_admin_release_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'agent_id' in params:
            path_params['agent_id'] = params['agent_id']  # noqa: E501
        if 'claim_id' in params:
            path_params['claim_id'] = params['claim_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'if_match' in params:
            header_params['If-Match'] = params['if_match']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/agents/{agent_id}/claims/{claim_id}/admin-release', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CuratedClaim',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def adopt_claim_endpoint_agents_agent_id_claims_claim_id_adopt_post(self, body, agent_id, claim_id, **kwargs):  # noqa: E501
        """Adopt an abstained claim under a structural attribute  # noqa: E501

        Assign a structural attribute key to a claim stored without one, with the operator's attestation, so it can participate in supersession. A second adoption returns 409. Requires the If-Match consent token.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.adopt_claim_endpoint_agents_agent_id_claims_claim_id_adopt_post(body, agent_id, claim_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param AdoptClaimRequest body: (required)
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object claim_id: Claim UUID returned by a curation queue, dossier, or review-context endpoint. (required)
        :param object if_match: The consent ETag returned by GET .../review-context. Required for release, promote and adopt: it proves the reviewer saw this claim's state, and a stale token is refused.
        :return: CuratedClaim
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.adopt_claim_endpoint_agents_agent_id_claims_claim_id_adopt_post_with_http_info(body, agent_id, claim_id, **kwargs)  # noqa: E501
        else:
            (data) = self.adopt_claim_endpoint_agents_agent_id_claims_claim_id_adopt_post_with_http_info(body, agent_id, claim_id, **kwargs)  # noqa: E501
            return data

    def adopt_claim_endpoint_agents_agent_id_claims_claim_id_adopt_post_with_http_info(self, body, agent_id, claim_id, **kwargs):  # noqa: E501
        """Adopt an abstained claim under a structural attribute  # noqa: E501

        Assign a structural attribute key to a claim stored without one, with the operator's attestation, so it can participate in supersession. A second adoption returns 409. Requires the If-Match consent token.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.adopt_claim_endpoint_agents_agent_id_claims_claim_id_adopt_post_with_http_info(body, agent_id, claim_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param AdoptClaimRequest body: (required)
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object claim_id: Claim UUID returned by a curation queue, dossier, or review-context endpoint. (required)
        :param object if_match: The consent ETag returned by GET .../review-context. Required for release, promote and adopt: it proves the reviewer saw this claim's state, and a stale token is refused.
        :return: CuratedClaim
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'agent_id', 'claim_id', 'if_match']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method adopt_claim_endpoint_agents_agent_id_claims_claim_id_adopt_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `adopt_claim_endpoint_agents_agent_id_claims_claim_id_adopt_post`")  # noqa: E501
        # verify the required parameter 'agent_id' is set
        if ('agent_id' not in params or
                params['agent_id'] is None):
            raise ValueError("Missing the required parameter `agent_id` when calling `adopt_claim_endpoint_agents_agent_id_claims_claim_id_adopt_post`")  # noqa: E501
        # verify the required parameter 'claim_id' is set
        if ('claim_id' not in params or
                params['claim_id'] is None):
            raise ValueError("Missing the required parameter `claim_id` when calling `adopt_claim_endpoint_agents_agent_id_claims_claim_id_adopt_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'agent_id' in params:
            path_params['agent_id'] = params['agent_id']  # noqa: E501
        if 'claim_id' in params:
            path_params['claim_id'] = params['claim_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'if_match' in params:
            header_params['If-Match'] = params['if_match']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/agents/{agent_id}/claims/{claim_id}/adopt', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CuratedClaim',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_alias_endpoint_agents_agent_id_claims_entities_entity_id_aliases_post(self, body, agent_id, entity_id, **kwargs):  # noqa: E501
        """Author an alias for an entity  # noqa: E501

        Create a reversible alias edge from an observed surface form to an entity. A sequential retry with the same text returns the existing active alias rather than duplicating it; genuinely concurrent authorings may still both insert, and either can be deactivated. Deactivating an alias does not re-split claims already folded onto the entity while it was active.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_alias_endpoint_agents_agent_id_claims_entities_entity_id_aliases_post(body, agent_id, entity_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateAliasRequest body: (required)
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object entity_id: Claim entity UUID (the unit of identity and of erasure). (required)
        :return: AliasResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_alias_endpoint_agents_agent_id_claims_entities_entity_id_aliases_post_with_http_info(body, agent_id, entity_id, **kwargs)  # noqa: E501
        else:
            (data) = self.create_alias_endpoint_agents_agent_id_claims_entities_entity_id_aliases_post_with_http_info(body, agent_id, entity_id, **kwargs)  # noqa: E501
            return data

    def create_alias_endpoint_agents_agent_id_claims_entities_entity_id_aliases_post_with_http_info(self, body, agent_id, entity_id, **kwargs):  # noqa: E501
        """Author an alias for an entity  # noqa: E501

        Create a reversible alias edge from an observed surface form to an entity. A sequential retry with the same text returns the existing active alias rather than duplicating it; genuinely concurrent authorings may still both insert, and either can be deactivated. Deactivating an alias does not re-split claims already folded onto the entity while it was active.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_alias_endpoint_agents_agent_id_claims_entities_entity_id_aliases_post_with_http_info(body, agent_id, entity_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateAliasRequest body: (required)
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object entity_id: Claim entity UUID (the unit of identity and of erasure). (required)
        :return: AliasResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'agent_id', 'entity_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_alias_endpoint_agents_agent_id_claims_entities_entity_id_aliases_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_alias_endpoint_agents_agent_id_claims_entities_entity_id_aliases_post`")  # noqa: E501
        # verify the required parameter 'agent_id' is set
        if ('agent_id' not in params or
                params['agent_id'] is None):
            raise ValueError("Missing the required parameter `agent_id` when calling `create_alias_endpoint_agents_agent_id_claims_entities_entity_id_aliases_post`")  # noqa: E501
        # verify the required parameter 'entity_id' is set
        if ('entity_id' not in params or
                params['entity_id'] is None):
            raise ValueError("Missing the required parameter `entity_id` when calling `create_alias_endpoint_agents_agent_id_claims_entities_entity_id_aliases_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'agent_id' in params:
            path_params['agent_id'] = params['agent_id']  # noqa: E501
        if 'entity_id' in params:
            path_params['entity_id'] = params['entity_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/agents/{agent_id}/claims/entities/{entity_id}/aliases', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AliasResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def deactivate_alias_endpoint_agents_agent_id_claims_aliases_alias_id_deactivate_post(self, agent_id, alias_id, **kwargs):  # noqa: E501
        """Deactivate an alias  # noqa: E501

        Toggle an alias edge off. Reversible; never a hard merge.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.deactivate_alias_endpoint_agents_agent_id_claims_aliases_alias_id_deactivate_post(agent_id, alias_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object alias_id: Claim alias UUID returned by the alias authoring endpoint. (required)
        :return: AliasResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.deactivate_alias_endpoint_agents_agent_id_claims_aliases_alias_id_deactivate_post_with_http_info(agent_id, alias_id, **kwargs)  # noqa: E501
        else:
            (data) = self.deactivate_alias_endpoint_agents_agent_id_claims_aliases_alias_id_deactivate_post_with_http_info(agent_id, alias_id, **kwargs)  # noqa: E501
            return data

    def deactivate_alias_endpoint_agents_agent_id_claims_aliases_alias_id_deactivate_post_with_http_info(self, agent_id, alias_id, **kwargs):  # noqa: E501
        """Deactivate an alias  # noqa: E501

        Toggle an alias edge off. Reversible; never a hard merge.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.deactivate_alias_endpoint_agents_agent_id_claims_aliases_alias_id_deactivate_post_with_http_info(agent_id, alias_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object alias_id: Claim alias UUID returned by the alias authoring endpoint. (required)
        :return: AliasResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['agent_id', 'alias_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method deactivate_alias_endpoint_agents_agent_id_claims_aliases_alias_id_deactivate_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'agent_id' is set
        if ('agent_id' not in params or
                params['agent_id'] is None):
            raise ValueError("Missing the required parameter `agent_id` when calling `deactivate_alias_endpoint_agents_agent_id_claims_aliases_alias_id_deactivate_post`")  # noqa: E501
        # verify the required parameter 'alias_id' is set
        if ('alias_id' not in params or
                params['alias_id'] is None):
            raise ValueError("Missing the required parameter `alias_id` when calling `deactivate_alias_endpoint_agents_agent_id_claims_aliases_alias_id_deactivate_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'agent_id' in params:
            path_params['agent_id'] = params['agent_id']  # noqa: E501
        if 'alias_id' in params:
            path_params['alias_id'] = params['alias_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/agents/{agent_id}/claims/aliases/{alias_id}/deactivate', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AliasResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def erase_entity_endpoint_agents_agent_id_claims_entities_entity_id_erasure_post(self, agent_id, entity_id, **kwargs):  # noqa: E501
        """Erase an entity's claim layer  # noqa: E501

        Delete an entity and its claims, aliases, dossier and split proposals, and record a durable, PII-free receipt. Before the delete, the reinforcement each of those claims earned is subtracted back out of the rules it fed, so no rule keeps standing granted by erased evidence. Idempotent: a repeat request returns the original receipt. This is still a claim-layer erasure, not a full Article 17 erasure: learnings themselves, graph nodes, raw run traces and usage aggregates are not deleted, and the receipt names each. The ledger is designed so those fan-out legs can replay against requests served today.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.erase_entity_endpoint_agents_agent_id_claims_entities_entity_id_erasure_post(agent_id, entity_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object entity_id: Claim entity UUID (the unit of identity and of erasure). (required)
        :return: ClaimErasureReceipt
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.erase_entity_endpoint_agents_agent_id_claims_entities_entity_id_erasure_post_with_http_info(agent_id, entity_id, **kwargs)  # noqa: E501
        else:
            (data) = self.erase_entity_endpoint_agents_agent_id_claims_entities_entity_id_erasure_post_with_http_info(agent_id, entity_id, **kwargs)  # noqa: E501
            return data

    def erase_entity_endpoint_agents_agent_id_claims_entities_entity_id_erasure_post_with_http_info(self, agent_id, entity_id, **kwargs):  # noqa: E501
        """Erase an entity's claim layer  # noqa: E501

        Delete an entity and its claims, aliases, dossier and split proposals, and record a durable, PII-free receipt. Before the delete, the reinforcement each of those claims earned is subtracted back out of the rules it fed, so no rule keeps standing granted by erased evidence. Idempotent: a repeat request returns the original receipt. This is still a claim-layer erasure, not a full Article 17 erasure: learnings themselves, graph nodes, raw run traces and usage aggregates are not deleted, and the receipt names each. The ledger is designed so those fan-out legs can replay against requests served today.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.erase_entity_endpoint_agents_agent_id_claims_entities_entity_id_erasure_post_with_http_info(agent_id, entity_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object entity_id: Claim entity UUID (the unit of identity and of erasure). (required)
        :return: ClaimErasureReceipt
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['agent_id', 'entity_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method erase_entity_endpoint_agents_agent_id_claims_entities_entity_id_erasure_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'agent_id' is set
        if ('agent_id' not in params or
                params['agent_id'] is None):
            raise ValueError("Missing the required parameter `agent_id` when calling `erase_entity_endpoint_agents_agent_id_claims_entities_entity_id_erasure_post`")  # noqa: E501
        # verify the required parameter 'entity_id' is set
        if ('entity_id' not in params or
                params['entity_id'] is None):
            raise ValueError("Missing the required parameter `entity_id` when calling `erase_entity_endpoint_agents_agent_id_claims_entities_entity_id_erasure_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'agent_id' in params:
            path_params['agent_id'] = params['agent_id']  # noqa: E501
        if 'entity_id' in params:
            path_params['entity_id'] = params['entity_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/agents/{agent_id}/claims/entities/{entity_id}/erasure', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ClaimErasureReceipt',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_entity_dossier_endpoint_agents_agent_id_claims_entities_entity_id_get(self, agent_id, entity_id, **kwargs):  # noqa: E501
        """Get an entity's curation dossier  # noqa: E501

        Every version of every claim the agent holds about one entity, including quarantined and disputed versions the agent-facing recall path never surfaces. Answers what the agent knows about this entity, on whose word, and since when.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_entity_dossier_endpoint_agents_agent_id_claims_entities_entity_id_get(agent_id, entity_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object entity_id: Claim entity UUID (the unit of identity and of erasure). (required)
        :return: ClaimDossierResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_entity_dossier_endpoint_agents_agent_id_claims_entities_entity_id_get_with_http_info(agent_id, entity_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_entity_dossier_endpoint_agents_agent_id_claims_entities_entity_id_get_with_http_info(agent_id, entity_id, **kwargs)  # noqa: E501
            return data

    def get_entity_dossier_endpoint_agents_agent_id_claims_entities_entity_id_get_with_http_info(self, agent_id, entity_id, **kwargs):  # noqa: E501
        """Get an entity's curation dossier  # noqa: E501

        Every version of every claim the agent holds about one entity, including quarantined and disputed versions the agent-facing recall path never surfaces. Answers what the agent knows about this entity, on whose word, and since when.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_entity_dossier_endpoint_agents_agent_id_claims_entities_entity_id_get_with_http_info(agent_id, entity_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object entity_id: Claim entity UUID (the unit of identity and of erasure). (required)
        :return: ClaimDossierResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['agent_id', 'entity_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_entity_dossier_endpoint_agents_agent_id_claims_entities_entity_id_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'agent_id' is set
        if ('agent_id' not in params or
                params['agent_id'] is None):
            raise ValueError("Missing the required parameter `agent_id` when calling `get_entity_dossier_endpoint_agents_agent_id_claims_entities_entity_id_get`")  # noqa: E501
        # verify the required parameter 'entity_id' is set
        if ('entity_id' not in params or
                params['entity_id'] is None):
            raise ValueError("Missing the required parameter `entity_id` when calling `get_entity_dossier_endpoint_agents_agent_id_claims_entities_entity_id_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'agent_id' in params:
            path_params['agent_id'] = params['agent_id']  # noqa: E501
        if 'entity_id' in params:
            path_params['entity_id'] = params['entity_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/agents/{agent_id}/claims/entities/{entity_id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ClaimDossierResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_review_context_endpoint_agents_agent_id_claims_claim_id_review_context_get(self, agent_id, claim_id, **kwargs):  # noqa: E501
        """Get a claim's review context and consent token  # noqa: E501

        The provenance, quarantine reason and corroboration a reviewer must see before releasing a claim, plus an ETag consent token. Pass the ETag back as If-Match on release, promote or adopt; any change to the claim invalidates it.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_review_context_endpoint_agents_agent_id_claims_claim_id_review_context_get(agent_id, claim_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object claim_id: Claim UUID returned by a curation queue, dossier, or review-context endpoint. (required)
        :return: ClaimReviewContext
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_review_context_endpoint_agents_agent_id_claims_claim_id_review_context_get_with_http_info(agent_id, claim_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_review_context_endpoint_agents_agent_id_claims_claim_id_review_context_get_with_http_info(agent_id, claim_id, **kwargs)  # noqa: E501
            return data

    def get_review_context_endpoint_agents_agent_id_claims_claim_id_review_context_get_with_http_info(self, agent_id, claim_id, **kwargs):  # noqa: E501
        """Get a claim's review context and consent token  # noqa: E501

        The provenance, quarantine reason and corroboration a reviewer must see before releasing a claim, plus an ETag consent token. Pass the ETag back as If-Match on release, promote or adopt; any change to the claim invalidates it.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_review_context_endpoint_agents_agent_id_claims_claim_id_review_context_get_with_http_info(agent_id, claim_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object claim_id: Claim UUID returned by a curation queue, dossier, or review-context endpoint. (required)
        :return: ClaimReviewContext
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['agent_id', 'claim_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_review_context_endpoint_agents_agent_id_claims_claim_id_review_context_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'agent_id' is set
        if ('agent_id' not in params or
                params['agent_id'] is None):
            raise ValueError("Missing the required parameter `agent_id` when calling `get_review_context_endpoint_agents_agent_id_claims_claim_id_review_context_get`")  # noqa: E501
        # verify the required parameter 'claim_id' is set
        if ('claim_id' not in params or
                params['claim_id'] is None):
            raise ValueError("Missing the required parameter `claim_id` when calling `get_review_context_endpoint_agents_agent_id_claims_claim_id_review_context_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'agent_id' in params:
            path_params['agent_id'] = params['agent_id']  # noqa: E501
        if 'claim_id' in params:
            path_params['claim_id'] = params['claim_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/agents/{agent_id}/claims/{claim_id}/review-context', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ClaimReviewContext',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_abstained_queue_endpoint_org_claims_abstained_get(self, **kwargs):  # noqa: E501
        """List abstained claims across the tenant  # noqa: E501

        Claims stored without a structural attribute key, awaiting adoption under one. Fanned across the tenant's agents and labelled with the owning agent. recorded_at keyset pagination.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_abstained_queue_endpoint_org_claims_abstained_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object limit: Maximum number of items to return on this page.
        :param object cursor: Opaque pagination token from the previous response's `next_cursor`. Pass it back unchanged; omit it to start again from the first page.
        :return: AbstainedQueueResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_abstained_queue_endpoint_org_claims_abstained_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.list_abstained_queue_endpoint_org_claims_abstained_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def list_abstained_queue_endpoint_org_claims_abstained_get_with_http_info(self, **kwargs):  # noqa: E501
        """List abstained claims across the tenant  # noqa: E501

        Claims stored without a structural attribute key, awaiting adoption under one. Fanned across the tenant's agents and labelled with the owning agent. recorded_at keyset pagination.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_abstained_queue_endpoint_org_claims_abstained_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object limit: Maximum number of items to return on this page.
        :param object cursor: Opaque pagination token from the previous response's `next_cursor`. Pass it back unchanged; omit it to start again from the first page.
        :return: AbstainedQueueResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['limit', 'cursor']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_abstained_queue_endpoint_org_claims_abstained_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'cursor' in params:
            query_params.append(('cursor', params['cursor']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/org/claims/abstained', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AbstainedQueueResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_quarantine_queue_endpoint_org_claims_quarantine_get(self, **kwargs):  # noqa: E501
        """List quarantined claims across the tenant  # noqa: E501

        The tenant's quarantined claims, fanned across its agents and each labelled with its owning agent. A quarantined claim is a possible injection or a high-stakes supersession that a human must judge before it can bind. recorded_at keyset pagination.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_quarantine_queue_endpoint_org_claims_quarantine_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object limit: Maximum number of items to return on this page.
        :param object cursor: Opaque pagination token from the previous response's `next_cursor`. Pass it back unchanged; omit it to start again from the first page.
        :return: QuarantineQueueResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_quarantine_queue_endpoint_org_claims_quarantine_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.list_quarantine_queue_endpoint_org_claims_quarantine_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def list_quarantine_queue_endpoint_org_claims_quarantine_get_with_http_info(self, **kwargs):  # noqa: E501
        """List quarantined claims across the tenant  # noqa: E501

        The tenant's quarantined claims, fanned across its agents and each labelled with its owning agent. A quarantined claim is a possible injection or a high-stakes supersession that a human must judge before it can bind. recorded_at keyset pagination.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_quarantine_queue_endpoint_org_claims_quarantine_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object limit: Maximum number of items to return on this page.
        :param object cursor: Opaque pagination token from the previous response's `next_cursor`. Pass it back unchanged; omit it to start again from the first page.
        :return: QuarantineQueueResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['limit', 'cursor']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_quarantine_queue_endpoint_org_claims_quarantine_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'cursor' in params:
            query_params.append(('cursor', params['cursor']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/org/claims/quarantine', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='QuarantineQueueResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_split_proposal_queue_endpoint_org_claims_split_proposals_get(self, **kwargs):  # noqa: E501
        """List open split proposals across the tenant  # noqa: E501

        Proposals that an oscillating attribute key be split into qualified variants rather than repeatedly superseded. Fanned across the tenant's agents and labelled with the owning agent. created_at keyset pagination.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_split_proposal_queue_endpoint_org_claims_split_proposals_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object limit: Maximum number of items to return on this page.
        :param object cursor: Opaque pagination token from the previous response's `next_cursor`. Pass it back unchanged; omit it to start again from the first page.
        :return: SplitProposalQueueResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_split_proposal_queue_endpoint_org_claims_split_proposals_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.list_split_proposal_queue_endpoint_org_claims_split_proposals_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def list_split_proposal_queue_endpoint_org_claims_split_proposals_get_with_http_info(self, **kwargs):  # noqa: E501
        """List open split proposals across the tenant  # noqa: E501

        Proposals that an oscillating attribute key be split into qualified variants rather than repeatedly superseded. Fanned across the tenant's agents and labelled with the owning agent. created_at keyset pagination.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_split_proposal_queue_endpoint_org_claims_split_proposals_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object limit: Maximum number of items to return on this page.
        :param object cursor: Opaque pagination token from the previous response's `next_cursor`. Pass it back unchanged; omit it to start again from the first page.
        :return: SplitProposalQueueResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['limit', 'cursor']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_split_proposal_queue_endpoint_org_claims_split_proposals_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'cursor' in params:
            query_params.append(('cursor', params['cursor']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/org/claims/split-proposals', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SplitProposalQueueResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def promote_claim_endpoint_agents_agent_id_claims_claim_id_promote_post(self, body, agent_id, claim_id, **kwargs):  # noqa: E501
        """Promote a disputed claim to the binding version  # noqa: E501

        Make a disputed alternative the open, binding version for its key, with the operator's attestation. A second promotion of the same claim returns 409. Requires the If-Match consent token.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.promote_claim_endpoint_agents_agent_id_claims_claim_id_promote_post(body, agent_id, claim_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param PromoteClaimRequest body: (required)
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object claim_id: Claim UUID returned by a curation queue, dossier, or review-context endpoint. (required)
        :param object if_match: The consent ETag returned by GET .../review-context. Required for release, promote and adopt: it proves the reviewer saw this claim's state, and a stale token is refused.
        :return: CuratedClaim
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.promote_claim_endpoint_agents_agent_id_claims_claim_id_promote_post_with_http_info(body, agent_id, claim_id, **kwargs)  # noqa: E501
        else:
            (data) = self.promote_claim_endpoint_agents_agent_id_claims_claim_id_promote_post_with_http_info(body, agent_id, claim_id, **kwargs)  # noqa: E501
            return data

    def promote_claim_endpoint_agents_agent_id_claims_claim_id_promote_post_with_http_info(self, body, agent_id, claim_id, **kwargs):  # noqa: E501
        """Promote a disputed claim to the binding version  # noqa: E501

        Make a disputed alternative the open, binding version for its key, with the operator's attestation. A second promotion of the same claim returns 409. Requires the If-Match consent token.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.promote_claim_endpoint_agents_agent_id_claims_claim_id_promote_post_with_http_info(body, agent_id, claim_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param PromoteClaimRequest body: (required)
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object claim_id: Claim UUID returned by a curation queue, dossier, or review-context endpoint. (required)
        :param object if_match: The consent ETag returned by GET .../review-context. Required for release, promote and adopt: it proves the reviewer saw this claim's state, and a stale token is refused.
        :return: CuratedClaim
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'agent_id', 'claim_id', 'if_match']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method promote_claim_endpoint_agents_agent_id_claims_claim_id_promote_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `promote_claim_endpoint_agents_agent_id_claims_claim_id_promote_post`")  # noqa: E501
        # verify the required parameter 'agent_id' is set
        if ('agent_id' not in params or
                params['agent_id'] is None):
            raise ValueError("Missing the required parameter `agent_id` when calling `promote_claim_endpoint_agents_agent_id_claims_claim_id_promote_post`")  # noqa: E501
        # verify the required parameter 'claim_id' is set
        if ('claim_id' not in params or
                params['claim_id'] is None):
            raise ValueError("Missing the required parameter `claim_id` when calling `promote_claim_endpoint_agents_agent_id_claims_claim_id_promote_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'agent_id' in params:
            path_params['agent_id'] = params['agent_id']  # noqa: E501
        if 'claim_id' in params:
            path_params['claim_id'] = params['claim_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'if_match' in params:
            header_params['If-Match'] = params['if_match']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/agents/{agent_id}/claims/{claim_id}/promote', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CuratedClaim',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def release_claim_endpoint_agents_agent_id_claims_claim_id_release_post(self, agent_id, claim_id, **kwargs):  # noqa: E501
        """Release a quarantined claim (curator path)  # noqa: E501

        Release a curator-releasable quarantined claim (high-stakes or a lapsed endorsement), re-entering it into verification with the operator's attestation. Any other reason, an untrusted (possible-injection) claim, an unresolved-identity or unclassified one, or a claim with no recorded reason, is refused here and must go through the admin release. Requires the If-Match consent token.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.release_claim_endpoint_agents_agent_id_claims_claim_id_release_post(agent_id, claim_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object claim_id: Claim UUID returned by a curation queue, dossier, or review-context endpoint. (required)
        :param object if_match: The consent ETag returned by GET .../review-context. Required for release, promote and adopt: it proves the reviewer saw this claim's state, and a stale token is refused.
        :return: CuratedClaim
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.release_claim_endpoint_agents_agent_id_claims_claim_id_release_post_with_http_info(agent_id, claim_id, **kwargs)  # noqa: E501
        else:
            (data) = self.release_claim_endpoint_agents_agent_id_claims_claim_id_release_post_with_http_info(agent_id, claim_id, **kwargs)  # noqa: E501
            return data

    def release_claim_endpoint_agents_agent_id_claims_claim_id_release_post_with_http_info(self, agent_id, claim_id, **kwargs):  # noqa: E501
        """Release a quarantined claim (curator path)  # noqa: E501

        Release a curator-releasable quarantined claim (high-stakes or a lapsed endorsement), re-entering it into verification with the operator's attestation. Any other reason, an untrusted (possible-injection) claim, an unresolved-identity or unclassified one, or a claim with no recorded reason, is refused here and must go through the admin release. Requires the If-Match consent token.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.release_claim_endpoint_agents_agent_id_claims_claim_id_release_post_with_http_info(agent_id, claim_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object claim_id: Claim UUID returned by a curation queue, dossier, or review-context endpoint. (required)
        :param object if_match: The consent ETag returned by GET .../review-context. Required for release, promote and adopt: it proves the reviewer saw this claim's state, and a stale token is refused.
        :return: CuratedClaim
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['agent_id', 'claim_id', 'if_match']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method release_claim_endpoint_agents_agent_id_claims_claim_id_release_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'agent_id' is set
        if ('agent_id' not in params or
                params['agent_id'] is None):
            raise ValueError("Missing the required parameter `agent_id` when calling `release_claim_endpoint_agents_agent_id_claims_claim_id_release_post`")  # noqa: E501
        # verify the required parameter 'claim_id' is set
        if ('claim_id' not in params or
                params['claim_id'] is None):
            raise ValueError("Missing the required parameter `claim_id` when calling `release_claim_endpoint_agents_agent_id_claims_claim_id_release_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'agent_id' in params:
            path_params['agent_id'] = params['agent_id']  # noqa: E501
        if 'claim_id' in params:
            path_params['claim_id'] = params['claim_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'if_match' in params:
            header_params['If-Match'] = params['if_match']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/agents/{agent_id}/claims/{claim_id}/release', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CuratedClaim',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def resolve_split_proposal_endpoint_agents_agent_id_claims_split_proposals_proposal_id_resolve_post(self, body, agent_id, proposal_id, **kwargs):  # noqa: E501
        """Confirm or reject a split proposal  # noqa: E501

        Resolve an oscillating-key split proposal. Refuses to re-resolve one that is already confirmed or rejected (409).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.resolve_split_proposal_endpoint_agents_agent_id_claims_split_proposals_proposal_id_resolve_post(body, agent_id, proposal_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ResolveSplitRequest body: (required)
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object proposal_id: Split-proposal UUID returned by the split-proposal queue. (required)
        :return: ResolveSplitResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.resolve_split_proposal_endpoint_agents_agent_id_claims_split_proposals_proposal_id_resolve_post_with_http_info(body, agent_id, proposal_id, **kwargs)  # noqa: E501
        else:
            (data) = self.resolve_split_proposal_endpoint_agents_agent_id_claims_split_proposals_proposal_id_resolve_post_with_http_info(body, agent_id, proposal_id, **kwargs)  # noqa: E501
            return data

    def resolve_split_proposal_endpoint_agents_agent_id_claims_split_proposals_proposal_id_resolve_post_with_http_info(self, body, agent_id, proposal_id, **kwargs):  # noqa: E501
        """Confirm or reject a split proposal  # noqa: E501

        Resolve an oscillating-key split proposal. Refuses to re-resolve one that is already confirmed or rejected (409).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.resolve_split_proposal_endpoint_agents_agent_id_claims_split_proposals_proposal_id_resolve_post_with_http_info(body, agent_id, proposal_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ResolveSplitRequest body: (required)
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object proposal_id: Split-proposal UUID returned by the split-proposal queue. (required)
        :return: ResolveSplitResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'agent_id', 'proposal_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method resolve_split_proposal_endpoint_agents_agent_id_claims_split_proposals_proposal_id_resolve_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `resolve_split_proposal_endpoint_agents_agent_id_claims_split_proposals_proposal_id_resolve_post`")  # noqa: E501
        # verify the required parameter 'agent_id' is set
        if ('agent_id' not in params or
                params['agent_id'] is None):
            raise ValueError("Missing the required parameter `agent_id` when calling `resolve_split_proposal_endpoint_agents_agent_id_claims_split_proposals_proposal_id_resolve_post`")  # noqa: E501
        # verify the required parameter 'proposal_id' is set
        if ('proposal_id' not in params or
                params['proposal_id'] is None):
            raise ValueError("Missing the required parameter `proposal_id` when calling `resolve_split_proposal_endpoint_agents_agent_id_claims_split_proposals_proposal_id_resolve_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'agent_id' in params:
            path_params['agent_id'] = params['agent_id']  # noqa: E501
        if 'proposal_id' in params:
            path_params['proposal_id'] = params['proposal_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/agents/{agent_id}/claims/split-proposals/{proposal_id}/resolve', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ResolveSplitResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
