# coding: utf-8

"""
    Hyperstruck Core

    Create and operate hosted agents, runs, learnings, and integrations. Authenticate resource requests with a Bearer API key unless an endpoint explicitly requires a portal session.  # noqa: E501

    OpenAPI spec version: 0.1.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from hyperstruck.api_client import ApiClient


class ClaimsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def admin_release_claim_endpoint_agents_agent_id_claims_claim_id_admin_release_post(self, agent_id, claim_id, **kwargs):  # noqa: E501
        """Release a quarantined claim (administrator path)  # noqa: E501

        Release any quarantined claim, including an untrusted (possible-injection) one, with re-verification. Admin-tier because releasing attacker-reachable content into a corpus the planner reads is the sharpest curation action. Requires the If-Match consent token.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.admin_release_claim_endpoint_agents_agent_id_claims_claim_id_admin_release_post(agent_id, claim_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object claim_id: Claim UUID returned by a curation queue, dossier, or review-context endpoint. (required)
        :param object if_match: The consent ETag returned by GET .../review-context. Required for release, promote, adopt and propose-split: it proves the reviewer saw this claim's state, and a stale token is refused.
        :return: CuratedClaim
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.admin_release_claim_endpoint_agents_agent_id_claims_claim_id_admin_release_post_with_http_info(agent_id, claim_id, **kwargs)  # noqa: E501
        else:
            (data) = self.admin_release_claim_endpoint_agents_agent_id_claims_claim_id_admin_release_post_with_http_info(agent_id, claim_id, **kwargs)  # noqa: E501
            return data

    def admin_release_claim_endpoint_agents_agent_id_claims_claim_id_admin_release_post_with_http_info(self, agent_id, claim_id, **kwargs):  # noqa: E501
        """Release a quarantined claim (administrator path)  # noqa: E501

        Release any quarantined claim, including an untrusted (possible-injection) one, with re-verification. Admin-tier because releasing attacker-reachable content into a corpus the planner reads is the sharpest curation action. Requires the If-Match consent token.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.admin_release_claim_endpoint_agents_agent_id_claims_claim_id_admin_release_post_with_http_info(agent_id, claim_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object claim_id: Claim UUID returned by a curation queue, dossier, or review-context endpoint. (required)
        :param object if_match: The consent ETag returned by GET .../review-context. Required for release, promote, adopt and propose-split: it proves the reviewer saw this claim's state, and a stale token is refused.
        :return: CuratedClaim
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['agent_id', 'claim_id', 'if_match']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method admin_release_claim_endpoint_agents_agent_id_claims_claim_id_admin_release_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'agent_id' is set
        if ('agent_id' not in params or
                params['agent_id'] is None):
            raise ValueError("Missing the required parameter `agent_id` when calling `admin_release_claim_endpoint_agents_agent_id_claims_claim_id_admin_release_post`")  # noqa: E501
        # verify the required parameter 'claim_id' is set
        if ('claim_id' not in params or
                params['claim_id'] is None):
            raise ValueError("Missing the required parameter `claim_id` when calling `admin_release_claim_endpoint_agents_agent_id_claims_claim_id_admin_release_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'agent_id' in params:
            path_params['agent_id'] = params['agent_id']  # noqa: E501
        if 'claim_id' in params:
            path_params['claim_id'] = params['claim_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'if_match' in params:
            header_params['If-Match'] = params['if_match']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/agents/{agent_id}/claims/{claim_id}/admin-release', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CuratedClaim',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def adopt_claim_endpoint_agents_agent_id_claims_claim_id_adopt_post(self, body, agent_id, claim_id, **kwargs):  # noqa: E501
        """Adopt an abstained claim under a structural attribute  # noqa: E501

        Assign a structural attribute key to a claim stored without one, with the operator's attestation, so it can participate in supersession. A second adoption returns 409. Requires the If-Match consent token.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.adopt_claim_endpoint_agents_agent_id_claims_claim_id_adopt_post(body, agent_id, claim_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param AdoptClaimRequest body: (required)
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object claim_id: Claim UUID returned by a curation queue, dossier, or review-context endpoint. (required)
        :param object if_match: The consent ETag returned by GET .../review-context. Required for release, promote, adopt and propose-split: it proves the reviewer saw this claim's state, and a stale token is refused.
        :return: CuratedClaim
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.adopt_claim_endpoint_agents_agent_id_claims_claim_id_adopt_post_with_http_info(body, agent_id, claim_id, **kwargs)  # noqa: E501
        else:
            (data) = self.adopt_claim_endpoint_agents_agent_id_claims_claim_id_adopt_post_with_http_info(body, agent_id, claim_id, **kwargs)  # noqa: E501
            return data

    def adopt_claim_endpoint_agents_agent_id_claims_claim_id_adopt_post_with_http_info(self, body, agent_id, claim_id, **kwargs):  # noqa: E501
        """Adopt an abstained claim under a structural attribute  # noqa: E501

        Assign a structural attribute key to a claim stored without one, with the operator's attestation, so it can participate in supersession. A second adoption returns 409. Requires the If-Match consent token.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.adopt_claim_endpoint_agents_agent_id_claims_claim_id_adopt_post_with_http_info(body, agent_id, claim_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param AdoptClaimRequest body: (required)
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object claim_id: Claim UUID returned by a curation queue, dossier, or review-context endpoint. (required)
        :param object if_match: The consent ETag returned by GET .../review-context. Required for release, promote, adopt and propose-split: it proves the reviewer saw this claim's state, and a stale token is refused.
        :return: CuratedClaim
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'agent_id', 'claim_id', 'if_match']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method adopt_claim_endpoint_agents_agent_id_claims_claim_id_adopt_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `adopt_claim_endpoint_agents_agent_id_claims_claim_id_adopt_post`")  # noqa: E501
        # verify the required parameter 'agent_id' is set
        if ('agent_id' not in params or
                params['agent_id'] is None):
            raise ValueError("Missing the required parameter `agent_id` when calling `adopt_claim_endpoint_agents_agent_id_claims_claim_id_adopt_post`")  # noqa: E501
        # verify the required parameter 'claim_id' is set
        if ('claim_id' not in params or
                params['claim_id'] is None):
            raise ValueError("Missing the required parameter `claim_id` when calling `adopt_claim_endpoint_agents_agent_id_claims_claim_id_adopt_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'agent_id' in params:
            path_params['agent_id'] = params['agent_id']  # noqa: E501
        if 'claim_id' in params:
            path_params['claim_id'] = params['claim_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'if_match' in params:
            header_params['If-Match'] = params['if_match']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/agents/{agent_id}/claims/{claim_id}/adopt', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CuratedClaim',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def answer_endpoint_agents_agent_id_answer_post(self, body, agent_id, **kwargs):  # noqa: E501
        """Answer a question from the documents that concern it  # noqa: E501

        Reads the documents linked to the accounts your question names, and the documents its wording reaches, latest first, then writes an answer from what each one says.  Read `answer`; it can be null with a typed reason.  The default `detail=answer` level returns the answer, its `references`, the documents they name, `completeness` and `silence`; `completeness` is returned at every level. `detail=findings` adds `lead`, `findings`, `sections`, `results`, `appended_finding_ids`, `background_finding_ids`, `interpretation`, `subject`, `selection`, `multi_valued_slots`, `boundary`, `change`, `obligations`; `detail=claims` adds `claims`; `detail=everything` adds `read_documents`, `sources`, `stage_events`. Each level is the one before it plus its additions. A section at or below the level asked for is null when the step that produces it did not run for this answer, and an empty list when it ran and found nothing.  `budget_chars` lowers or raises how much document text is read, up to a ceiling. Past the budget the latest meetings are read first and the rest are chosen for relevance, labelled `earlier_history` so they are never stated as the current position.  Obligations are read at the time of the call rather than at `as_of`, which `obligations.is_as_of_pinned` states. Needs `claims:read` AND `agents:read`.  Synchronous, bounded only against a hang. The whole answer is stored as given for 30 days regardless of the `detail` asked for, so `GET /agents/{agent_id}/answers/{answer_id}` serves it again, word for word, at any level up to the one it names in `more`. A reused Idempotency-Key returns that same stored answer rather than composing again; a withheld answer is never billed and never holds the key, so a retry with it composes fresh. It earns no attribution.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.answer_endpoint_agents_agent_id_answer_post(body, agent_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param AnswerRequest body: (required)
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object idempotency_key: Makes a retry safe: a repeat of a key this agent used in the last 30 days returns the answer already given, at the requested level, and bills nothing. A withheld answer never holds the key, so a retry with it composes fresh instead.
        :return: AnswerView
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.answer_endpoint_agents_agent_id_answer_post_with_http_info(body, agent_id, **kwargs)  # noqa: E501
        else:
            (data) = self.answer_endpoint_agents_agent_id_answer_post_with_http_info(body, agent_id, **kwargs)  # noqa: E501
            return data

    def answer_endpoint_agents_agent_id_answer_post_with_http_info(self, body, agent_id, **kwargs):  # noqa: E501
        """Answer a question from the documents that concern it  # noqa: E501

        Reads the documents linked to the accounts your question names, and the documents its wording reaches, latest first, then writes an answer from what each one says.  Read `answer`; it can be null with a typed reason.  The default `detail=answer` level returns the answer, its `references`, the documents they name, `completeness` and `silence`; `completeness` is returned at every level. `detail=findings` adds `lead`, `findings`, `sections`, `results`, `appended_finding_ids`, `background_finding_ids`, `interpretation`, `subject`, `selection`, `multi_valued_slots`, `boundary`, `change`, `obligations`; `detail=claims` adds `claims`; `detail=everything` adds `read_documents`, `sources`, `stage_events`. Each level is the one before it plus its additions. A section at or below the level asked for is null when the step that produces it did not run for this answer, and an empty list when it ran and found nothing.  `budget_chars` lowers or raises how much document text is read, up to a ceiling. Past the budget the latest meetings are read first and the rest are chosen for relevance, labelled `earlier_history` so they are never stated as the current position.  Obligations are read at the time of the call rather than at `as_of`, which `obligations.is_as_of_pinned` states. Needs `claims:read` AND `agents:read`.  Synchronous, bounded only against a hang. The whole answer is stored as given for 30 days regardless of the `detail` asked for, so `GET /agents/{agent_id}/answers/{answer_id}` serves it again, word for word, at any level up to the one it names in `more`. A reused Idempotency-Key returns that same stored answer rather than composing again; a withheld answer is never billed and never holds the key, so a retry with it composes fresh. It earns no attribution.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.answer_endpoint_agents_agent_id_answer_post_with_http_info(body, agent_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param AnswerRequest body: (required)
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object idempotency_key: Makes a retry safe: a repeat of a key this agent used in the last 30 days returns the answer already given, at the requested level, and bills nothing. A withheld answer never holds the key, so a retry with it composes fresh instead.
        :return: AnswerView
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'agent_id', 'idempotency_key']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method answer_endpoint_agents_agent_id_answer_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `answer_endpoint_agents_agent_id_answer_post`")  # noqa: E501
        # verify the required parameter 'agent_id' is set
        if ('agent_id' not in params or
                params['agent_id'] is None):
            raise ValueError("Missing the required parameter `agent_id` when calling `answer_endpoint_agents_agent_id_answer_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'agent_id' in params:
            path_params['agent_id'] = params['agent_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'idempotency_key' in params:
            header_params['Idempotency-Key'] = params['idempotency_key']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/agents/{agent_id}/answer', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AnswerView',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def apply_harness_repair_endpoint_agents_agent_id_claims_harness_repair_apply_post(self, body, agent_id, **kwargs):  # noqa: E501
        """Erase the approved harness-shaped entities  # noqa: E501

        Erase the entities named in the body, through the same cascade and the same durable receipt the single-entity erasure writes, so no rule is left standing on evidence that is gone. The plan is re-derived first and only the intersection is erased: an entity that gained a real claim since the plan was read is reported as skipped rather than erased on stale evidence. Bounded per request; the remainder is reported and needs no resume, because an erased entity leaves the registry and the next plan is simply smaller. Requires the If-Match consent token from the plan.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.apply_harness_repair_endpoint_agents_agent_id_claims_harness_repair_apply_post(body, agent_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ApplyHarnessRepairRequest body: (required)
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object if_match: The consent ETag returned by GET .../review-context. Required for release, promote, adopt and propose-split: it proves the reviewer saw this claim's state, and a stale token is refused.
        :return: HarnessRepairOutcome
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.apply_harness_repair_endpoint_agents_agent_id_claims_harness_repair_apply_post_with_http_info(body, agent_id, **kwargs)  # noqa: E501
        else:
            (data) = self.apply_harness_repair_endpoint_agents_agent_id_claims_harness_repair_apply_post_with_http_info(body, agent_id, **kwargs)  # noqa: E501
            return data

    def apply_harness_repair_endpoint_agents_agent_id_claims_harness_repair_apply_post_with_http_info(self, body, agent_id, **kwargs):  # noqa: E501
        """Erase the approved harness-shaped entities  # noqa: E501

        Erase the entities named in the body, through the same cascade and the same durable receipt the single-entity erasure writes, so no rule is left standing on evidence that is gone. The plan is re-derived first and only the intersection is erased: an entity that gained a real claim since the plan was read is reported as skipped rather than erased on stale evidence. Bounded per request; the remainder is reported and needs no resume, because an erased entity leaves the registry and the next plan is simply smaller. Requires the If-Match consent token from the plan.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.apply_harness_repair_endpoint_agents_agent_id_claims_harness_repair_apply_post_with_http_info(body, agent_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ApplyHarnessRepairRequest body: (required)
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object if_match: The consent ETag returned by GET .../review-context. Required for release, promote, adopt and propose-split: it proves the reviewer saw this claim's state, and a stale token is refused.
        :return: HarnessRepairOutcome
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'agent_id', 'if_match']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method apply_harness_repair_endpoint_agents_agent_id_claims_harness_repair_apply_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `apply_harness_repair_endpoint_agents_agent_id_claims_harness_repair_apply_post`")  # noqa: E501
        # verify the required parameter 'agent_id' is set
        if ('agent_id' not in params or
                params['agent_id'] is None):
            raise ValueError("Missing the required parameter `agent_id` when calling `apply_harness_repair_endpoint_agents_agent_id_claims_harness_repair_apply_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'agent_id' in params:
            path_params['agent_id'] = params['agent_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'if_match' in params:
            header_params['If-Match'] = params['if_match']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/agents/{agent_id}/claims/harness-repair/apply', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='HarnessRepairOutcome',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_alias_endpoint_agents_agent_id_claims_entities_entity_id_aliases_post(self, body, agent_id, entity_id, **kwargs):  # noqa: E501
        """Author an alias for an entity  # noqa: E501

        Assert that a surface form denotes this entity. Reversible, and never a hard merge. A retry with the same text updates the form already recorded rather than duplicating it, and re-authoring a form that was withdrawn puts it back. Deactivating a form does not re-split claims already folded onto the entity while it was active. Refused with **409** when the text is the canonical name of another entity, because recall returns a single entity per folded form and ranks a name above every other form, so the new binding could never fire. The message names the entity in the way; the remedy is to merge the two entities or rename one of them.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_alias_endpoint_agents_agent_id_claims_entities_entity_id_aliases_post(body, agent_id, entity_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateAliasRequest body: (required)
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object entity_id: Claim entity UUID (the unit of identity and of erasure). (required)
        :return: AliasResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_alias_endpoint_agents_agent_id_claims_entities_entity_id_aliases_post_with_http_info(body, agent_id, entity_id, **kwargs)  # noqa: E501
        else:
            (data) = self.create_alias_endpoint_agents_agent_id_claims_entities_entity_id_aliases_post_with_http_info(body, agent_id, entity_id, **kwargs)  # noqa: E501
            return data

    def create_alias_endpoint_agents_agent_id_claims_entities_entity_id_aliases_post_with_http_info(self, body, agent_id, entity_id, **kwargs):  # noqa: E501
        """Author an alias for an entity  # noqa: E501

        Assert that a surface form denotes this entity. Reversible, and never a hard merge. A retry with the same text updates the form already recorded rather than duplicating it, and re-authoring a form that was withdrawn puts it back. Deactivating a form does not re-split claims already folded onto the entity while it was active. Refused with **409** when the text is the canonical name of another entity, because recall returns a single entity per folded form and ranks a name above every other form, so the new binding could never fire. The message names the entity in the way; the remedy is to merge the two entities or rename one of them.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_alias_endpoint_agents_agent_id_claims_entities_entity_id_aliases_post_with_http_info(body, agent_id, entity_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateAliasRequest body: (required)
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object entity_id: Claim entity UUID (the unit of identity and of erasure). (required)
        :return: AliasResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'agent_id', 'entity_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_alias_endpoint_agents_agent_id_claims_entities_entity_id_aliases_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_alias_endpoint_agents_agent_id_claims_entities_entity_id_aliases_post`")  # noqa: E501
        # verify the required parameter 'agent_id' is set
        if ('agent_id' not in params or
                params['agent_id'] is None):
            raise ValueError("Missing the required parameter `agent_id` when calling `create_alias_endpoint_agents_agent_id_claims_entities_entity_id_aliases_post`")  # noqa: E501
        # verify the required parameter 'entity_id' is set
        if ('entity_id' not in params or
                params['entity_id'] is None):
            raise ValueError("Missing the required parameter `entity_id` when calling `create_alias_endpoint_agents_agent_id_claims_entities_entity_id_aliases_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'agent_id' in params:
            path_params['agent_id'] = params['agent_id']  # noqa: E501
        if 'entity_id' in params:
            path_params['entity_id'] = params['entity_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/agents/{agent_id}/claims/entities/{entity_id}/aliases', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AliasResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def deactivate_alias_endpoint_agents_agent_id_claims_aliases_alias_id_deactivate_post(self, agent_id, alias_id, **kwargs):  # noqa: E501
        """Deactivate an alias  # noqa: E501

        Withdraw an authored form so it stops binding. Reversible: authoring the same text again puts it back. The id is the one this entity's listing returned, whenever it was minted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.deactivate_alias_endpoint_agents_agent_id_claims_aliases_alias_id_deactivate_post(agent_id, alias_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object alias_id: Claim alias UUID returned by the alias authoring endpoint. (required)
        :return: AliasResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.deactivate_alias_endpoint_agents_agent_id_claims_aliases_alias_id_deactivate_post_with_http_info(agent_id, alias_id, **kwargs)  # noqa: E501
        else:
            (data) = self.deactivate_alias_endpoint_agents_agent_id_claims_aliases_alias_id_deactivate_post_with_http_info(agent_id, alias_id, **kwargs)  # noqa: E501
            return data

    def deactivate_alias_endpoint_agents_agent_id_claims_aliases_alias_id_deactivate_post_with_http_info(self, agent_id, alias_id, **kwargs):  # noqa: E501
        """Deactivate an alias  # noqa: E501

        Withdraw an authored form so it stops binding. Reversible: authoring the same text again puts it back. The id is the one this entity's listing returned, whenever it was minted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.deactivate_alias_endpoint_agents_agent_id_claims_aliases_alias_id_deactivate_post_with_http_info(agent_id, alias_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object alias_id: Claim alias UUID returned by the alias authoring endpoint. (required)
        :return: AliasResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['agent_id', 'alias_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method deactivate_alias_endpoint_agents_agent_id_claims_aliases_alias_id_deactivate_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'agent_id' is set
        if ('agent_id' not in params or
                params['agent_id'] is None):
            raise ValueError("Missing the required parameter `agent_id` when calling `deactivate_alias_endpoint_agents_agent_id_claims_aliases_alias_id_deactivate_post`")  # noqa: E501
        # verify the required parameter 'alias_id' is set
        if ('alias_id' not in params or
                params['alias_id'] is None):
            raise ValueError("Missing the required parameter `alias_id` when calling `deactivate_alias_endpoint_agents_agent_id_claims_aliases_alias_id_deactivate_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'agent_id' in params:
            path_params['agent_id'] = params['agent_id']  # noqa: E501
        if 'alias_id' in params:
            path_params['alias_id'] = params['alias_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/agents/{agent_id}/claims/aliases/{alias_id}/deactivate', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AliasResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def erase_entity_endpoint_agents_agent_id_claims_entities_entity_id_erasure_post(self, agent_id, entity_id, **kwargs):  # noqa: E501
        """Erase an entity's claim layer  # noqa: E501

        Delete an entity and its claims, aliases, dossier and split proposals, and record a durable, PII-free receipt. Before the delete, the reinforcement each of those claims earned is subtracted back out of the rules it fed, so no rule keeps standing granted by erased evidence. Idempotent: a repeat request returns the original receipt. This is still a claim-layer erasure, not a full Article 17 erasure: learnings themselves, graph nodes, raw run traces and usage aggregates are not deleted, and the receipt names each. The ledger is designed so those fan-out legs can replay against requests served today.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.erase_entity_endpoint_agents_agent_id_claims_entities_entity_id_erasure_post(agent_id, entity_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object entity_id: Claim entity UUID (the unit of identity and of erasure). (required)
        :param object body:
        :return: ClaimErasureReceipt
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.erase_entity_endpoint_agents_agent_id_claims_entities_entity_id_erasure_post_with_http_info(agent_id, entity_id, **kwargs)  # noqa: E501
        else:
            (data) = self.erase_entity_endpoint_agents_agent_id_claims_entities_entity_id_erasure_post_with_http_info(agent_id, entity_id, **kwargs)  # noqa: E501
            return data

    def erase_entity_endpoint_agents_agent_id_claims_entities_entity_id_erasure_post_with_http_info(self, agent_id, entity_id, **kwargs):  # noqa: E501
        """Erase an entity's claim layer  # noqa: E501

        Delete an entity and its claims, aliases, dossier and split proposals, and record a durable, PII-free receipt. Before the delete, the reinforcement each of those claims earned is subtracted back out of the rules it fed, so no rule keeps standing granted by erased evidence. Idempotent: a repeat request returns the original receipt. This is still a claim-layer erasure, not a full Article 17 erasure: learnings themselves, graph nodes, raw run traces and usage aggregates are not deleted, and the receipt names each. The ledger is designed so those fan-out legs can replay against requests served today.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.erase_entity_endpoint_agents_agent_id_claims_entities_entity_id_erasure_post_with_http_info(agent_id, entity_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object entity_id: Claim entity UUID (the unit of identity and of erasure). (required)
        :param object body:
        :return: ClaimErasureReceipt
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['agent_id', 'entity_id', 'body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method erase_entity_endpoint_agents_agent_id_claims_entities_entity_id_erasure_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'agent_id' is set
        if ('agent_id' not in params or
                params['agent_id'] is None):
            raise ValueError("Missing the required parameter `agent_id` when calling `erase_entity_endpoint_agents_agent_id_claims_entities_entity_id_erasure_post`")  # noqa: E501
        # verify the required parameter 'entity_id' is set
        if ('entity_id' not in params or
                params['entity_id'] is None):
            raise ValueError("Missing the required parameter `entity_id` when calling `erase_entity_endpoint_agents_agent_id_claims_entities_entity_id_erasure_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'agent_id' in params:
            path_params['agent_id'] = params['agent_id']  # noqa: E501
        if 'entity_id' in params:
            path_params['entity_id'] = params['entity_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/agents/{agent_id}/claims/entities/{entity_id}/erasure', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ClaimErasureReceipt',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_attribute_endpoint_agents_agent_id_claims_attributes_attribute_id_get(self, agent_id, attribute_id, **kwargs):  # noqa: E501
        """Resolve a claim attribute registry id  # noqa: E501

        Returns the attribute_key for a registry UUID so a curator can confirm they are adopting an abstained claim under the intended filing slot before the one-shot adopt.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_attribute_endpoint_agents_agent_id_claims_attributes_attribute_id_get(agent_id, attribute_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object attribute_id: Claim attribute registry UUID (filing slot for structured facts). (required)
        :return: AttributeRef
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_attribute_endpoint_agents_agent_id_claims_attributes_attribute_id_get_with_http_info(agent_id, attribute_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_attribute_endpoint_agents_agent_id_claims_attributes_attribute_id_get_with_http_info(agent_id, attribute_id, **kwargs)  # noqa: E501
            return data

    def get_attribute_endpoint_agents_agent_id_claims_attributes_attribute_id_get_with_http_info(self, agent_id, attribute_id, **kwargs):  # noqa: E501
        """Resolve a claim attribute registry id  # noqa: E501

        Returns the attribute_key for a registry UUID so a curator can confirm they are adopting an abstained claim under the intended filing slot before the one-shot adopt.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_attribute_endpoint_agents_agent_id_claims_attributes_attribute_id_get_with_http_info(agent_id, attribute_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object attribute_id: Claim attribute registry UUID (filing slot for structured facts). (required)
        :return: AttributeRef
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['agent_id', 'attribute_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_attribute_endpoint_agents_agent_id_claims_attributes_attribute_id_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'agent_id' is set
        if ('agent_id' not in params or
                params['agent_id'] is None):
            raise ValueError("Missing the required parameter `agent_id` when calling `get_attribute_endpoint_agents_agent_id_claims_attributes_attribute_id_get`")  # noqa: E501
        # verify the required parameter 'attribute_id' is set
        if ('attribute_id' not in params or
                params['attribute_id'] is None):
            raise ValueError("Missing the required parameter `attribute_id` when calling `get_attribute_endpoint_agents_agent_id_claims_attributes_attribute_id_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'agent_id' in params:
            path_params['agent_id'] = params['agent_id']  # noqa: E501
        if 'attribute_id' in params:
            path_params['attribute_id'] = params['attribute_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/agents/{agent_id}/claims/attributes/{attribute_id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AttributeRef',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_entity_dossier_endpoint_agents_agent_id_claims_entities_entity_id_get(self, agent_id, entity_id, **kwargs):  # noqa: E501
        """Get an entity's curation dossier  # noqa: E501

        Every version of every claim the agent holds about one entity, including quarantined and disputed versions the agent-facing recall path never surfaces. Answers what the agent knows about this entity, on whose word, and since when.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_entity_dossier_endpoint_agents_agent_id_claims_entities_entity_id_get(agent_id, entity_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object entity_id: Claim entity UUID (the unit of identity and of erasure). (required)
        :return: ClaimDossierResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_entity_dossier_endpoint_agents_agent_id_claims_entities_entity_id_get_with_http_info(agent_id, entity_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_entity_dossier_endpoint_agents_agent_id_claims_entities_entity_id_get_with_http_info(agent_id, entity_id, **kwargs)  # noqa: E501
            return data

    def get_entity_dossier_endpoint_agents_agent_id_claims_entities_entity_id_get_with_http_info(self, agent_id, entity_id, **kwargs):  # noqa: E501
        """Get an entity's curation dossier  # noqa: E501

        Every version of every claim the agent holds about one entity, including quarantined and disputed versions the agent-facing recall path never surfaces. Answers what the agent knows about this entity, on whose word, and since when.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_entity_dossier_endpoint_agents_agent_id_claims_entities_entity_id_get_with_http_info(agent_id, entity_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object entity_id: Claim entity UUID (the unit of identity and of erasure). (required)
        :return: ClaimDossierResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['agent_id', 'entity_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_entity_dossier_endpoint_agents_agent_id_claims_entities_entity_id_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'agent_id' is set
        if ('agent_id' not in params or
                params['agent_id'] is None):
            raise ValueError("Missing the required parameter `agent_id` when calling `get_entity_dossier_endpoint_agents_agent_id_claims_entities_entity_id_get`")  # noqa: E501
        # verify the required parameter 'entity_id' is set
        if ('entity_id' not in params or
                params['entity_id'] is None):
            raise ValueError("Missing the required parameter `entity_id` when calling `get_entity_dossier_endpoint_agents_agent_id_claims_entities_entity_id_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'agent_id' in params:
            path_params['agent_id'] = params['agent_id']  # noqa: E501
        if 'entity_id' in params:
            path_params['entity_id'] = params['entity_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/agents/{agent_id}/claims/entities/{entity_id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ClaimDossierResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_erasure_receipt_endpoint_agents_agent_id_claims_entities_entity_id_erasure_get(self, agent_id, entity_id, **kwargs):  # noqa: E501
        """Read one entity's erasure receipt  # noqa: E501

        The receipt for an entity already erased, or 404 if it never was. The erasure POST is idempotent and returns the original receipt, so this was previously readable only by asking to erase again; an audit record should not need a destructive verb to read.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_erasure_receipt_endpoint_agents_agent_id_claims_entities_entity_id_erasure_get(agent_id, entity_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object entity_id: Claim entity UUID (the unit of identity and of erasure). (required)
        :return: ClaimErasureReceipt
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_erasure_receipt_endpoint_agents_agent_id_claims_entities_entity_id_erasure_get_with_http_info(agent_id, entity_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_erasure_receipt_endpoint_agents_agent_id_claims_entities_entity_id_erasure_get_with_http_info(agent_id, entity_id, **kwargs)  # noqa: E501
            return data

    def get_erasure_receipt_endpoint_agents_agent_id_claims_entities_entity_id_erasure_get_with_http_info(self, agent_id, entity_id, **kwargs):  # noqa: E501
        """Read one entity's erasure receipt  # noqa: E501

        The receipt for an entity already erased, or 404 if it never was. The erasure POST is idempotent and returns the original receipt, so this was previously readable only by asking to erase again; an audit record should not need a destructive verb to read.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_erasure_receipt_endpoint_agents_agent_id_claims_entities_entity_id_erasure_get_with_http_info(agent_id, entity_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object entity_id: Claim entity UUID (the unit of identity and of erasure). (required)
        :return: ClaimErasureReceipt
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['agent_id', 'entity_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_erasure_receipt_endpoint_agents_agent_id_claims_entities_entity_id_erasure_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'agent_id' is set
        if ('agent_id' not in params or
                params['agent_id'] is None):
            raise ValueError("Missing the required parameter `agent_id` when calling `get_erasure_receipt_endpoint_agents_agent_id_claims_entities_entity_id_erasure_get`")  # noqa: E501
        # verify the required parameter 'entity_id' is set
        if ('entity_id' not in params or
                params['entity_id'] is None):
            raise ValueError("Missing the required parameter `entity_id` when calling `get_erasure_receipt_endpoint_agents_agent_id_claims_entities_entity_id_erasure_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'agent_id' in params:
            path_params['agent_id'] = params['agent_id']  # noqa: E501
        if 'entity_id' in params:
            path_params['entity_id'] = params['entity_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/agents/{agent_id}/claims/entities/{entity_id}/erasure', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ClaimErasureReceipt',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_org_claims_summary_endpoint_org_claims_summary_get(self, **kwargs):  # noqa: E501
        """Count each agent's claims waiting in the tenant queues  # noqa: E501

        For every agent the caller can see: how many claims are held, how many need an attribute, and how many split proposals are open, counted under the caller's readable spaces with the same rules the three queues list by. Agents with nothing queued are included at zero. A deleted agent that still has queued rows is listed with is_deleted true and no name. One row per agent, so it is not paged.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_org_claims_summary_endpoint_org_claims_summary_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: OrgClaimsSummary
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_org_claims_summary_endpoint_org_claims_summary_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_org_claims_summary_endpoint_org_claims_summary_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_org_claims_summary_endpoint_org_claims_summary_get_with_http_info(self, **kwargs):  # noqa: E501
        """Count each agent's claims waiting in the tenant queues  # noqa: E501

        For every agent the caller can see: how many claims are held, how many need an attribute, and how many split proposals are open, counted under the caller's readable spaces with the same rules the three queues list by. Agents with nothing queued are included at zero. A deleted agent that still has queued rows is listed with is_deleted true and no name. One row per agent, so it is not paged.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_org_claims_summary_endpoint_org_claims_summary_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: OrgClaimsSummary
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_org_claims_summary_endpoint_org_claims_summary_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/org/claims/summary', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='OrgClaimsSummary',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_org_stability_summary_endpoint_org_claims_stability_get(self, **kwargs):  # noqa: E501
        """Read how warm every agent's claim corpus is across the tenant  # noqa: E501

        The per-agent stability readings the decision to enable the plan-rewrite pass is taken on, plus the tenant total. The decision is per agent but reviewed per tenant, and this is the view that makes that possible without knowing every agent id. is_truncated says the tenant has more agents than limit, so the total covers only the agents listed. See the claim curation API guide for how to interpret each population.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_org_stability_summary_endpoint_org_claims_stability_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object limit: Maximum number of items to return on this page.
        :return: OrgClaimStabilitySummary
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_org_stability_summary_endpoint_org_claims_stability_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_org_stability_summary_endpoint_org_claims_stability_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_org_stability_summary_endpoint_org_claims_stability_get_with_http_info(self, **kwargs):  # noqa: E501
        """Read how warm every agent's claim corpus is across the tenant  # noqa: E501

        The per-agent stability readings the decision to enable the plan-rewrite pass is taken on, plus the tenant total. The decision is per agent but reviewed per tenant, and this is the view that makes that possible without knowing every agent id. is_truncated says the tenant has more agents than limit, so the total covers only the agents listed. See the claim curation API guide for how to interpret each population.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_org_stability_summary_endpoint_org_claims_stability_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object limit: Maximum number of items to return on this page.
        :return: OrgClaimStabilitySummary
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['limit']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_org_stability_summary_endpoint_org_claims_stability_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/org/claims/stability', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='OrgClaimStabilitySummary',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_review_context_endpoint_agents_agent_id_claims_claim_id_review_context_get(self, agent_id, claim_id, **kwargs):  # noqa: E501
        """Get a claim's review context and consent token  # noqa: E501

        The provenance, quarantine reason and corroboration a reviewer must see before releasing a claim, plus an ETag consent token. Pass the ETag back as If-Match on release, promote or adopt; any change to the claim invalidates it.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_review_context_endpoint_agents_agent_id_claims_claim_id_review_context_get(agent_id, claim_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object claim_id: Claim UUID returned by a curation queue, dossier, or review-context endpoint. (required)
        :return: ClaimReviewContext
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_review_context_endpoint_agents_agent_id_claims_claim_id_review_context_get_with_http_info(agent_id, claim_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_review_context_endpoint_agents_agent_id_claims_claim_id_review_context_get_with_http_info(agent_id, claim_id, **kwargs)  # noqa: E501
            return data

    def get_review_context_endpoint_agents_agent_id_claims_claim_id_review_context_get_with_http_info(self, agent_id, claim_id, **kwargs):  # noqa: E501
        """Get a claim's review context and consent token  # noqa: E501

        The provenance, quarantine reason and corroboration a reviewer must see before releasing a claim, plus an ETag consent token. Pass the ETag back as If-Match on release, promote or adopt; any change to the claim invalidates it.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_review_context_endpoint_agents_agent_id_claims_claim_id_review_context_get_with_http_info(agent_id, claim_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object claim_id: Claim UUID returned by a curation queue, dossier, or review-context endpoint. (required)
        :return: ClaimReviewContext
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['agent_id', 'claim_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_review_context_endpoint_agents_agent_id_claims_claim_id_review_context_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'agent_id' is set
        if ('agent_id' not in params or
                params['agent_id'] is None):
            raise ValueError("Missing the required parameter `agent_id` when calling `get_review_context_endpoint_agents_agent_id_claims_claim_id_review_context_get`")  # noqa: E501
        # verify the required parameter 'claim_id' is set
        if ('claim_id' not in params or
                params['claim_id'] is None):
            raise ValueError("Missing the required parameter `claim_id` when calling `get_review_context_endpoint_agents_agent_id_claims_claim_id_review_context_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'agent_id' in params:
            path_params['agent_id'] = params['agent_id']  # noqa: E501
        if 'claim_id' in params:
            path_params['claim_id'] = params['claim_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/agents/{agent_id}/claims/{claim_id}/review-context', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ClaimReviewContext',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_shadowed_bind_surfaces_endpoint_agents_agent_id_claims_shadowed_surfaces_get(self, agent_id, **kwargs):  # noqa: E501
        """Find registered names an agent's own goals cannot reach  # noqa: E501

        Recall matches a goal against a folded form of each registered name and returns one entity per folded form, so two names that fold together leave one of them unreachable by its own exact text, silently. This lists every folded form the agent registers more than once, which one a goal reaches, and whether a rule chose it. Read `is_settled_by_rank` first: true means a canonical name beat an alias, which is deliberate, and false means nothing but which row was written first decided it. Nothing here changes what binds.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_shadowed_bind_surfaces_endpoint_agents_agent_id_claims_shadowed_surfaces_get(agent_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object limit:
        :return: ShadowedBindSurfacesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_shadowed_bind_surfaces_endpoint_agents_agent_id_claims_shadowed_surfaces_get_with_http_info(agent_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_shadowed_bind_surfaces_endpoint_agents_agent_id_claims_shadowed_surfaces_get_with_http_info(agent_id, **kwargs)  # noqa: E501
            return data

    def get_shadowed_bind_surfaces_endpoint_agents_agent_id_claims_shadowed_surfaces_get_with_http_info(self, agent_id, **kwargs):  # noqa: E501
        """Find registered names an agent's own goals cannot reach  # noqa: E501

        Recall matches a goal against a folded form of each registered name and returns one entity per folded form, so two names that fold together leave one of them unreachable by its own exact text, silently. This lists every folded form the agent registers more than once, which one a goal reaches, and whether a rule chose it. Read `is_settled_by_rank` first: true means a canonical name beat an alias, which is deliberate, and false means nothing but which row was written first decided it. Nothing here changes what binds.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_shadowed_bind_surfaces_endpoint_agents_agent_id_claims_shadowed_surfaces_get_with_http_info(agent_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object limit:
        :return: ShadowedBindSurfacesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['agent_id', 'limit']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_shadowed_bind_surfaces_endpoint_agents_agent_id_claims_shadowed_surfaces_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'agent_id' is set
        if ('agent_id' not in params or
                params['agent_id'] is None):
            raise ValueError("Missing the required parameter `agent_id` when calling `get_shadowed_bind_surfaces_endpoint_agents_agent_id_claims_shadowed_surfaces_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'agent_id' in params:
            path_params['agent_id'] = params['agent_id']  # noqa: E501

        query_params = []
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/agents/{agent_id}/claims/shadowed-surfaces', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ShadowedBindSurfacesResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_split_proposal_endpoint_agents_agent_id_claims_split_proposals_proposal_id_get(self, agent_id, proposal_id, **kwargs):  # noqa: E501
        """Read one split proposal  # noqa: E501

        One of the agent's split proposals in its current state, including once it has been confirmed or rejected, so a saved link to it still opens. Another agent's proposal, or one that does not exist, is a 404.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_split_proposal_endpoint_agents_agent_id_claims_split_proposals_proposal_id_get(agent_id, proposal_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object proposal_id: Split-proposal UUID returned by the split-proposal queue. (required)
        :return: SplitProposalQueueItem
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_split_proposal_endpoint_agents_agent_id_claims_split_proposals_proposal_id_get_with_http_info(agent_id, proposal_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_split_proposal_endpoint_agents_agent_id_claims_split_proposals_proposal_id_get_with_http_info(agent_id, proposal_id, **kwargs)  # noqa: E501
            return data

    def get_split_proposal_endpoint_agents_agent_id_claims_split_proposals_proposal_id_get_with_http_info(self, agent_id, proposal_id, **kwargs):  # noqa: E501
        """Read one split proposal  # noqa: E501

        One of the agent's split proposals in its current state, including once it has been confirmed or rejected, so a saved link to it still opens. Another agent's proposal, or one that does not exist, is a 404.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_split_proposal_endpoint_agents_agent_id_claims_split_proposals_proposal_id_get_with_http_info(agent_id, proposal_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object proposal_id: Split-proposal UUID returned by the split-proposal queue. (required)
        :return: SplitProposalQueueItem
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['agent_id', 'proposal_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_split_proposal_endpoint_agents_agent_id_claims_split_proposals_proposal_id_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'agent_id' is set
        if ('agent_id' not in params or
                params['agent_id'] is None):
            raise ValueError("Missing the required parameter `agent_id` when calling `get_split_proposal_endpoint_agents_agent_id_claims_split_proposals_proposal_id_get`")  # noqa: E501
        # verify the required parameter 'proposal_id' is set
        if ('proposal_id' not in params or
                params['proposal_id'] is None):
            raise ValueError("Missing the required parameter `proposal_id` when calling `get_split_proposal_endpoint_agents_agent_id_claims_split_proposals_proposal_id_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'agent_id' in params:
            path_params['agent_id'] = params['agent_id']  # noqa: E501
        if 'proposal_id' in params:
            path_params['proposal_id'] = params['proposal_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/agents/{agent_id}/claims/split-proposals/{proposal_id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SplitProposalQueueItem',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_stability_summary_endpoint_agents_agent_id_claims_stability_get(self, agent_id, **kwargs):  # noqa: E501
        """Read how warm this agent's claim corpus is  # noqa: E501

        The slot populations the decision to enable the plan-rewrite pass is taken on, and the confidence and prior_changes they were evaluated at. Read admitted_slots as a series, not a single number, and as an upper bound on read elimination rather than a count of it. See the claim curation API guide for how to interpret each population.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_stability_summary_endpoint_agents_agent_id_claims_stability_get(agent_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :return: ClaimStabilitySummary
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_stability_summary_endpoint_agents_agent_id_claims_stability_get_with_http_info(agent_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_stability_summary_endpoint_agents_agent_id_claims_stability_get_with_http_info(agent_id, **kwargs)  # noqa: E501
            return data

    def get_stability_summary_endpoint_agents_agent_id_claims_stability_get_with_http_info(self, agent_id, **kwargs):  # noqa: E501
        """Read how warm this agent's claim corpus is  # noqa: E501

        The slot populations the decision to enable the plan-rewrite pass is taken on, and the confidence and prior_changes they were evaluated at. Read admitted_slots as a series, not a single number, and as an upper bound on read elimination rather than a count of it. See the claim curation API guide for how to interpret each population.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_stability_summary_endpoint_agents_agent_id_claims_stability_get_with_http_info(agent_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :return: ClaimStabilitySummary
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['agent_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_stability_summary_endpoint_agents_agent_id_claims_stability_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'agent_id' is set
        if ('agent_id' not in params or
                params['agent_id'] is None):
            raise ValueError("Missing the required parameter `agent_id` when calling `get_stability_summary_endpoint_agents_agent_id_claims_stability_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'agent_id' in params:
            path_params['agent_id'] = params['agent_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/agents/{agent_id}/claims/stability', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ClaimStabilitySummary',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_abstained_queue_endpoint_org_claims_abstained_get(self, **kwargs):  # noqa: E501
        """List abstained claims across the tenant  # noqa: E501

        Claims stored without a structural attribute key, awaiting adoption under one. Fanned across the tenant's agents and labelled with the owning agent. recorded_at keyset pagination.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_abstained_queue_endpoint_org_claims_abstained_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object limit: Maximum number of items to return on this page.
        :param object cursor: Opaque pagination token from the previous response's `next_cursor`. Pass it back unchanged; omit it to start again from the first page.
        :param object agent_id: List only this agent's rows. An agent the caller cannot see, or one with nothing queued, returns the same empty page. A cursor is valid only with the filter it was issued under.
        :return: AbstainedQueueResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_abstained_queue_endpoint_org_claims_abstained_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.list_abstained_queue_endpoint_org_claims_abstained_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def list_abstained_queue_endpoint_org_claims_abstained_get_with_http_info(self, **kwargs):  # noqa: E501
        """List abstained claims across the tenant  # noqa: E501

        Claims stored without a structural attribute key, awaiting adoption under one. Fanned across the tenant's agents and labelled with the owning agent. recorded_at keyset pagination.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_abstained_queue_endpoint_org_claims_abstained_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object limit: Maximum number of items to return on this page.
        :param object cursor: Opaque pagination token from the previous response's `next_cursor`. Pass it back unchanged; omit it to start again from the first page.
        :param object agent_id: List only this agent's rows. An agent the caller cannot see, or one with nothing queued, returns the same empty page. A cursor is valid only with the filter it was issued under.
        :return: AbstainedQueueResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['limit', 'cursor', 'agent_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_abstained_queue_endpoint_org_claims_abstained_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'cursor' in params:
            query_params.append(('cursor', params['cursor']))  # noqa: E501
        if 'agent_id' in params:
            query_params.append(('agent_id', params['agent_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/org/claims/abstained', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AbstainedQueueResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_agent_claims_endpoint_agents_agent_id_claims_get(self, agent_id, **kwargs):  # noqa: E501
        """List an agent's claims  # noqa: E501

        Every claim on this agent's entity shelf, including quarantined and disputed rows the recall path will not inject. Filter by review status or search entity name and statement. recorded_at keyset pagination. Facets are corpus-wide after search, before the status filter.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_agent_claims_endpoint_agents_agent_id_claims_get(agent_id, async_req=True)
        >>> result = thread.get()

[...]
