# coding: utf-8

"""
    Hyperstruck Core

    Create and operate hosted agents, runs, learnings, and integrations. Authenticate resource requests with a Bearer API key unless an endpoint explicitly requires a portal session.  # noqa: E501

    OpenAPI spec version: 0.1.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from hyperstruck.api_client import ApiClient


class DocumentsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def erase_document_endpoint_agents_agent_id_documents_doc_id_delete(self, agent_id, doc_id, **kwargs):  # noqa: E501
        """Erase a document  # noqa: E501

        Destroys the wrapped data keys first, so from that instant every copy they protect is unreadable whether or not the deletes that follow complete, and returns a receipt naming what each scope actually reached. Any queued or running ingest for this document is cancelled: a deletion request is the one operation that must never queue behind other work.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.erase_document_endpoint_agents_agent_id_documents_doc_id_delete(agent_id, doc_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object doc_id: The caller's own key for this document. It may contain slashes: the repository content ingest mints `{owner}/{repo}:{path}`, one file to one document. (required)
        :return: DocumentErasureResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.erase_document_endpoint_agents_agent_id_documents_doc_id_delete_with_http_info(agent_id, doc_id, **kwargs)  # noqa: E501
        else:
            (data) = self.erase_document_endpoint_agents_agent_id_documents_doc_id_delete_with_http_info(agent_id, doc_id, **kwargs)  # noqa: E501
            return data

    def erase_document_endpoint_agents_agent_id_documents_doc_id_delete_with_http_info(self, agent_id, doc_id, **kwargs):  # noqa: E501
        """Erase a document  # noqa: E501

        Destroys the wrapped data keys first, so from that instant every copy they protect is unreadable whether or not the deletes that follow complete, and returns a receipt naming what each scope actually reached. Any queued or running ingest for this document is cancelled: a deletion request is the one operation that must never queue behind other work.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.erase_document_endpoint_agents_agent_id_documents_doc_id_delete_with_http_info(agent_id, doc_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object doc_id: The caller's own key for this document. It may contain slashes: the repository content ingest mints `{owner}/{repo}:{path}`, one file to one document. (required)
        :return: DocumentErasureResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['agent_id', 'doc_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method erase_document_endpoint_agents_agent_id_documents_doc_id_delete" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'agent_id' is set
        if ('agent_id' not in params or
                params['agent_id'] is None):
            raise ValueError("Missing the required parameter `agent_id` when calling `erase_document_endpoint_agents_agent_id_documents_doc_id_delete`")  # noqa: E501
        # verify the required parameter 'doc_id' is set
        if ('doc_id' not in params or
                params['doc_id'] is None):
            raise ValueError("Missing the required parameter `doc_id` when calling `erase_document_endpoint_agents_agent_id_documents_doc_id_delete`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'agent_id' in params:
            path_params['agent_id'] = params['agent_id']  # noqa: E501
        if 'doc_id' in params:
            path_params['doc_id'] = params['doc_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/agents/{agent_id}/documents/{doc_id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DocumentErasureResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_document_endpoint_agents_agent_id_documents_doc_id_get(self, agent_id, doc_id, **kwargs):  # noqa: E501
        """Fetch a document and its versions  # noqa: E501

        Returns the document, its raw versions, and TWO separate state fields. `ingest` is the queue's view (`queued`, `ingesting`, `ingested`, `failed`); `version_state` is Core's own, present once a version exists. They are never conflated, because `superseded` is citable by design and is not a failure. A `doc_id` with neither a job nor a version is 404, so a typo is distinguishable from a queue.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_document_endpoint_agents_agent_id_documents_doc_id_get(agent_id, doc_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object doc_id: The caller's own key for this document. It may contain slashes: the repository content ingest mints `{owner}/{repo}:{path}`, one file to one document. (required)
        :return: DocumentResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_document_endpoint_agents_agent_id_documents_doc_id_get_with_http_info(agent_id, doc_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_document_endpoint_agents_agent_id_documents_doc_id_get_with_http_info(agent_id, doc_id, **kwargs)  # noqa: E501
            return data

    def get_document_endpoint_agents_agent_id_documents_doc_id_get_with_http_info(self, agent_id, doc_id, **kwargs):  # noqa: E501
        """Fetch a document and its versions  # noqa: E501

        Returns the document, its raw versions, and TWO separate state fields. `ingest` is the queue's view (`queued`, `ingesting`, `ingested`, `failed`); `version_state` is Core's own, present once a version exists. They are never conflated, because `superseded` is citable by design and is not a failure. A `doc_id` with neither a job nor a version is 404, so a typo is distinguishable from a queue.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_document_endpoint_agents_agent_id_documents_doc_id_get_with_http_info(agent_id, doc_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object doc_id: The caller's own key for this document. It may contain slashes: the repository content ingest mints `{owner}/{repo}:{path}`, one file to one document. (required)
        :return: DocumentResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['agent_id', 'doc_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_document_endpoint_agents_agent_id_documents_doc_id_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'agent_id' is set
        if ('agent_id' not in params or
                params['agent_id'] is None):
            raise ValueError("Missing the required parameter `agent_id` when calling `get_document_endpoint_agents_agent_id_documents_doc_id_get`")  # noqa: E501
        # verify the required parameter 'doc_id' is set
        if ('doc_id' not in params or
                params['doc_id'] is None):
            raise ValueError("Missing the required parameter `doc_id` when calling `get_document_endpoint_agents_agent_id_documents_doc_id_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'agent_id' in params:
            path_params['agent_id'] = params['agent_id']  # noqa: E501
        if 'doc_id' in params:
            path_params['doc_id'] = params['doc_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/agents/{agent_id}/documents/{doc_id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DocumentResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def read_text_window_endpoint_agents_agent_id_documents_text_window_post(self, body, agent_id, **kwargs):  # noqa: E501
        """Read a document version's text around one unit  # noqa: E501

        Any document of this agent the caller's spaces admit, not only cited ones: resolve's reach.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.read_text_window_endpoint_agents_agent_id_documents_text_window_post(body, agent_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param TextWindowRequest body: (required)
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :return: TextWindowResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.read_text_window_endpoint_agents_agent_id_documents_text_window_post_with_http_info(body, agent_id, **kwargs)  # noqa: E501
        else:
            (data) = self.read_text_window_endpoint_agents_agent_id_documents_text_window_post_with_http_info(body, agent_id, **kwargs)  # noqa: E501
            return data

    def read_text_window_endpoint_agents_agent_id_documents_text_window_post_with_http_info(self, body, agent_id, **kwargs):  # noqa: E501
        """Read a document version's text around one unit  # noqa: E501

        Any document of this agent the caller's spaces admit, not only cited ones: resolve's reach.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.read_text_window_endpoint_agents_agent_id_documents_text_window_post_with_http_info(body, agent_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param TextWindowRequest body: (required)
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :return: TextWindowResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'agent_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method read_text_window_endpoint_agents_agent_id_documents_text_window_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `read_text_window_endpoint_agents_agent_id_documents_text_window_post`")  # noqa: E501
        # verify the required parameter 'agent_id' is set
        if ('agent_id' not in params or
                params['agent_id'] is None):
            raise ValueError("Missing the required parameter `agent_id` when calling `read_text_window_endpoint_agents_agent_id_documents_text_window_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'agent_id' in params:
            path_params['agent_id'] = params['agent_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/agents/{agent_id}/documents/text:window', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TextWindowResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def resolve_citation_endpoint_agents_agent_id_documents_citations_resolve_post(self, body, agent_id, **kwargs):  # noqa: E501
        """Resolve a citation to the passage it points at  # noqa: E501

        Turns a shelf record's six-member citation back into the text it points at, or a defined refusal. The four outcomes are kept distinct: `resolved`, `truncated` (the stored excerpt is bounded and the span reaches past it), `erased`, and `missing`.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.resolve_citation_endpoint_agents_agent_id_documents_citations_resolve_post(body, agent_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ResolveCitationRequest body: (required)
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :return: CitationResolutionResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.resolve_citation_endpoint_agents_agent_id_documents_citations_resolve_post_with_http_info(body, agent_id, **kwargs)  # noqa: E501
        else:
            (data) = self.resolve_citation_endpoint_agents_agent_id_documents_citations_resolve_post_with_http_info(body, agent_id, **kwargs)  # noqa: E501
            return data

    def resolve_citation_endpoint_agents_agent_id_documents_citations_resolve_post_with_http_info(self, body, agent_id, **kwargs):  # noqa: E501
        """Resolve a citation to the passage it points at  # noqa: E501

        Turns a shelf record's six-member citation back into the text it points at, or a defined refusal. The four outcomes are kept distinct: `resolved`, `truncated` (the stored excerpt is bounded and the span reaches past it), `erased`, and `missing`.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.resolve_citation_endpoint_agents_agent_id_documents_citations_resolve_post_with_http_info(body, agent_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ResolveCitationRequest body: (required)
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :return: CitationResolutionResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'agent_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method resolve_citation_endpoint_agents_agent_id_documents_citations_resolve_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `resolve_citation_endpoint_agents_agent_id_documents_citations_resolve_post`")  # noqa: E501
        # verify the required parameter 'agent_id' is set
        if ('agent_id' not in params or
                params['agent_id'] is None):
            raise ValueError("Missing the required parameter `agent_id` when calling `resolve_citation_endpoint_agents_agent_id_documents_citations_resolve_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'agent_id' in params:
            path_params['agent_id'] = params['agent_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/agents/{agent_id}/documents/citations:resolve', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CitationResolutionResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def submit_document_endpoint_agents_agent_id_documents_doc_id_put(self, body, agent_id, doc_id, **kwargs):  # noqa: E501
        """Submit a document version  # noqa: E501

        Store one submission under the caller's own document key and queue it for ingest. Returns 202 with the new version when work was enqueued, and 200 with the existing version when identical bytes are already stored: a 202 on a duplicate would promise work that will not happen. Refuses 409 when the tenant has no document key binding, 413 above the configured size ceiling, and 404 for an unknown agent, in each case without enqueueing anything.  Send the raw bytes as the body, or `multipart/form-data` with a `content` part and a `metadata` part: JSON carrying `title`, `occurred_at` and a `record_context` in `/distill`'s schema. The metadata is what links the document to its account and dates it, and the claims read from the document carry both. Metadata sent with bytes identical to a stored version is not applied, because nothing is re-read.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.submit_document_endpoint_agents_agent_id_documents_doc_id_put(body, agent_id, doc_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object body: (required)
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object doc_id: The caller's own key for this document. It may contain slashes: the repository content ingest mints `{owner}/{repo}:{path}`, one file to one document. (required)
        :return: DocumentSubmissionResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.submit_document_endpoint_agents_agent_id_documents_doc_id_put_with_http_info(body, agent_id, doc_id, **kwargs)  # noqa: E501
        else:
            (data) = self.submit_document_endpoint_agents_agent_id_documents_doc_id_put_with_http_info(body, agent_id, doc_id, **kwargs)  # noqa: E501
            return data

    def submit_document_endpoint_agents_agent_id_documents_doc_id_put_with_http_info(self, body, agent_id, doc_id, **kwargs):  # noqa: E501
        """Submit a document version  # noqa: E501

        Store one submission under the caller's own document key and queue it for ingest. Returns 202 with the new version when work was enqueued, and 200 with the existing version when identical bytes are already stored: a 202 on a duplicate would promise work that will not happen. Refuses 409 when the tenant has no document key binding, 413 above the configured size ceiling, and 404 for an unknown agent, in each case without enqueueing anything.  Send the raw bytes as the body, or `multipart/form-data` with a `content` part and a `metadata` part: JSON carrying `title`, `occurred_at` and a `record_context` in `/distill`'s schema. The metadata is what links the document to its account and dates it, and the claims read from the document carry both. Metadata sent with bytes identical to a stored version is not applied, because nothing is re-read.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.submit_document_endpoint_agents_agent_id_documents_doc_id_put_with_http_info(body, agent_id, doc_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object body: (required)
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object doc_id: The caller's own key for this document. It may contain slashes: the repository content ingest mints `{owner}/{repo}:{path}`, one file to one document. (required)
        :return: DocumentSubmissionResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'agent_id', 'doc_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method submit_document_endpoint_agents_agent_id_documents_doc_id_put" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `submit_document_endpoint_agents_agent_id_documents_doc_id_put`")  # noqa: E501
        # verify the required parameter 'agent_id' is set
        if ('agent_id' not in params or
                params['agent_id'] is None):
            raise ValueError("Missing the required parameter `agent_id` when calling `submit_document_endpoint_agents_agent_id_documents_doc_id_put`")  # noqa: E501
        # verify the required parameter 'doc_id' is set
        if ('doc_id' not in params or
                params['doc_id'] is None):
            raise ValueError("Missing the required parameter `doc_id` when calling `submit_document_endpoint_agents_agent_id_documents_doc_id_put`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'agent_id' in params:
            path_params['agent_id'] = params['agent_id']  # noqa: E501
        if 'doc_id' in params:
            path_params['doc_id'] = params['doc_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'content' in params:
            form_params.append(('content', params['content']))  # noqa: E501
        if 'metadata' in params:
            form_params.append(('metadata', params['metadata']))  # noqa: E501

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/octet-stream', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/agents/{agent_id}/documents/{doc_id}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DocumentSubmissionResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def submit_document_endpoint_agents_agent_id_documents_doc_id_put(self, content, metadata, agent_id, doc_id, **kwargs):  # noqa: E501
        """Submit a document version  # noqa: E501

        Store one submission under the caller's own document key and queue it for ingest. Returns 202 with the new version when work was enqueued, and 200 with the existing version when identical bytes are already stored: a 202 on a duplicate would promise work that will not happen. Refuses 409 when the tenant has no document key binding, 413 above the configured size ceiling, and 404 for an unknown agent, in each case without enqueueing anything.  Send the raw bytes as the body, or `multipart/form-data` with a `content` part and a `metadata` part: JSON carrying `title`, `occurred_at` and a `record_context` in `/distill`'s schema. The metadata is what links the document to its account and dates it, and the claims read from the document carry both. Metadata sent with bytes identical to a stored version is not applied, because nothing is re-read.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.submit_document_endpoint_agents_agent_id_documents_doc_id_put(content, metadata, agent_id, doc_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object content: (required)
        :param DocumentMetadataModel metadata: (required)
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object doc_id: The caller's own key for this document. It may contain slashes: the repository content ingest mints `{owner}/{repo}:{path}`, one file to one document. (required)
        :return: DocumentSubmissionResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.submit_document_endpoint_agents_agent_id_documents_doc_id_put_with_http_info(content, metadata, agent_id, doc_id, **kwargs)  # noqa: E501
        else:
            (data) = self.submit_document_endpoint_agents_agent_id_documents_doc_id_put_with_http_info(content, metadata, agent_id, doc_id, **kwargs)  # noqa: E501
            return data

    def submit_document_endpoint_agents_agent_id_documents_doc_id_put_with_http_info(self, content, metadata, agent_id, doc_id, **kwargs):  # noqa: E501
        """Submit a document version  # noqa: E501

        Store one submission under the caller's own document key and queue it for ingest. Returns 202 with the new version when work was enqueued, and 200 with the existing version when identical bytes are already stored: a 202 on a duplicate would promise work that will not happen. Refuses 409 when the tenant has no document key binding, 413 above the configured size ceiling, and 404 for an unknown agent, in each case without enqueueing anything.  Send the raw bytes as the body, or `multipart/form-data` with a `content` part and a `metadata` part: JSON carrying `title`, `occurred_at` and a `record_context` in `/distill`'s schema. The metadata is what links the document to its account and dates it, and the claims read from the document carry both. Metadata sent with bytes identical to a stored version is not applied, because nothing is re-read.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.submit_document_endpoint_agents_agent_id_documents_doc_id_put_with_http_info(content, metadata, agent_id, doc_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object content: (required)
        :param DocumentMetadataModel metadata: (required)
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object doc_id: The caller's own key for this document. It may contain slashes: the repository content ingest mints `{owner}/{repo}:{path}`, one file to one document. (required)
        :return: DocumentSubmissionResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['content', 'metadata', 'agent_id', 'doc_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method submit_document_endpoint_agents_agent_id_documents_doc_id_put" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'content' is set
        if ('content' not in params or
                params['content'] is None):
            raise ValueError("Missing the required parameter `content` when calling `submit_document_endpoint_agents_agent_id_documents_doc_id_put`")  # noqa: E501
        # verify the required parameter 'metadata' is set
        if ('metadata' not in params or
                params['metadata'] is None):
            raise ValueError("Missing the required parameter `metadata` when calling `submit_document_endpoint_agents_agent_id_documents_doc_id_put`")  # noqa: E501
        # verify the required parameter 'agent_id' is set
        if ('agent_id' not in params or
                params['agent_id'] is None):
            raise ValueError("Missing the required parameter `agent_id` when calling `submit_document_endpoint_agents_agent_id_documents_doc_id_put`")  # noqa: E501
        # verify the required parameter 'doc_id' is set
        if ('doc_id' not in params or
                params['doc_id'] is None):
            raise ValueError("Missing the required parameter `doc_id` when calling `submit_document_endpoint_agents_agent_id_documents_doc_id_put`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'agent_id' in params:
            path_params['agent_id'] = params['agent_id']  # noqa: E501
        if 'doc_id' in params:
            path_params['doc_id'] = params['doc_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'content' in params:
            form_params.append(('content', params['content']))  # noqa: E501
        if 'metadata' in params:
            form_params.append(('metadata', params['metadata']))  # noqa: E501

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/octet-stream', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/agents/{agent_id}/documents/{doc_id}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DocumentSubmissionResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
