# coding: utf-8

"""
    Hyperstruck Core

    Create and operate hosted agents, runs, learnings, and integrations. Authenticate resource requests with a Bearer API key unless an endpoint explicitly requires a portal session.  # noqa: E501

    OpenAPI spec version: 0.1.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from hyperstruck.api_client import ApiClient


class LearningsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def delete_agent_learnings_endpoint_agents_agent_id_learnings_delete(self, agent_id, **kwargs):  # noqa: E501
        """Delete all learnings for an agent  # noqa: E501

        Delete every learning memory scoped to the agent. This is a destructive operation and does not affect other memory categories.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_agent_learnings_endpoint_agents_agent_id_learnings_delete(agent_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :return: DeleteLearningsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_agent_learnings_endpoint_agents_agent_id_learnings_delete_with_http_info(agent_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_agent_learnings_endpoint_agents_agent_id_learnings_delete_with_http_info(agent_id, **kwargs)  # noqa: E501
            return data

    def delete_agent_learnings_endpoint_agents_agent_id_learnings_delete_with_http_info(self, agent_id, **kwargs):  # noqa: E501
        """Delete all learnings for an agent  # noqa: E501

        Delete every learning memory scoped to the agent. This is a destructive operation and does not affect other memory categories.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_agent_learnings_endpoint_agents_agent_id_learnings_delete_with_http_info(agent_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :return: DeleteLearningsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['agent_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_agent_learnings_endpoint_agents_agent_id_learnings_delete" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'agent_id' is set
        if ('agent_id' not in params or
                params['agent_id'] is None):
            raise ValueError("Missing the required parameter `agent_id` when calling `delete_agent_learnings_endpoint_agents_agent_id_learnings_delete`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'agent_id' in params:
            path_params['agent_id'] = params['agent_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/agents/{agent_id}/learnings', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DeleteLearningsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_agent_learnings_graph_endpoint_agents_agent_id_learnings_graph_get(self, agent_id, learning_id, **kwargs):  # noqa: E501
        """Agent learning evidence graph  # noqa: E501

        Return a learning and related learnings within the requested lineage depth, including available evidence. Use this endpoint to explain relationships during audit or curation; a temporarily unavailable relationship service returns 503.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_agent_learnings_graph_endpoint_agents_agent_id_learnings_graph_get(agent_id, learning_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object learning_id: Learning identifier to place at the centre of the graph. (required)
        :param object depth: Lineage hops from the learning (1-2).
        :return: LearningAuditGraphResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_agent_learnings_graph_endpoint_agents_agent_id_learnings_graph_get_with_http_info(agent_id, learning_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_agent_learnings_graph_endpoint_agents_agent_id_learnings_graph_get_with_http_info(agent_id, learning_id, **kwargs)  # noqa: E501
            return data

    def get_agent_learnings_graph_endpoint_agents_agent_id_learnings_graph_get_with_http_info(self, agent_id, learning_id, **kwargs):  # noqa: E501
        """Agent learning evidence graph  # noqa: E501

        Return a learning and related learnings within the requested lineage depth, including available evidence. Use this endpoint to explain relationships during audit or curation; a temporarily unavailable relationship service returns 503.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_agent_learnings_graph_endpoint_agents_agent_id_learnings_graph_get_with_http_info(agent_id, learning_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object learning_id: Learning identifier to place at the centre of the graph. (required)
        :param object depth: Lineage hops from the learning (1-2).
        :return: LearningAuditGraphResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['agent_id', 'learning_id', 'depth']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_agent_learnings_graph_endpoint_agents_agent_id_learnings_graph_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'agent_id' is set
        if ('agent_id' not in params or
                params['agent_id'] is None):
            raise ValueError("Missing the required parameter `agent_id` when calling `get_agent_learnings_graph_endpoint_agents_agent_id_learnings_graph_get`")  # noqa: E501
        # verify the required parameter 'learning_id' is set
        if ('learning_id' not in params or
                params['learning_id'] is None):
            raise ValueError("Missing the required parameter `learning_id` when calling `get_agent_learnings_graph_endpoint_agents_agent_id_learnings_graph_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'agent_id' in params:
            path_params['agent_id'] = params['agent_id']  # noqa: E501

        query_params = []
        if 'learning_id' in params:
            query_params.append(('learning_id', params['learning_id']))  # noqa: E501
        if 'depth' in params:
            query_params.append(('depth', params['depth']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/agents/{agent_id}/learnings/graph', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='LearningAuditGraphResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_learning_endpoint_agents_agent_id_learnings_learning_id_get(self, agent_id, learning_id, **kwargs):  # noqa: E501
        """Get a learning  # noqa: E501

        Retrieve a single learning by its ID.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_learning_endpoint_agents_agent_id_learnings_learning_id_get(agent_id, learning_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object learning_id: Learning identifier returned by a learning list or search endpoint. (required)
        :return: LearningResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_learning_endpoint_agents_agent_id_learnings_learning_id_get_with_http_info(agent_id, learning_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_learning_endpoint_agents_agent_id_learnings_learning_id_get_with_http_info(agent_id, learning_id, **kwargs)  # noqa: E501
            return data

    def get_learning_endpoint_agents_agent_id_learnings_learning_id_get_with_http_info(self, agent_id, learning_id, **kwargs):  # noqa: E501
        """Get a learning  # noqa: E501

        Retrieve a single learning by its ID.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_learning_endpoint_agents_agent_id_learnings_learning_id_get_with_http_info(agent_id, learning_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object learning_id: Learning identifier returned by a learning list or search endpoint. (required)
        :return: LearningResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['agent_id', 'learning_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_learning_endpoint_agents_agent_id_learnings_learning_id_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'agent_id' is set
        if ('agent_id' not in params or
                params['agent_id'] is None):
            raise ValueError("Missing the required parameter `agent_id` when calling `get_learning_endpoint_agents_agent_id_learnings_learning_id_get`")  # noqa: E501
        # verify the required parameter 'learning_id' is set
        if ('learning_id' not in params or
                params['learning_id'] is None):
            raise ValueError("Missing the required parameter `learning_id` when calling `get_learning_endpoint_agents_agent_id_learnings_learning_id_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'agent_id' in params:
            path_params['agent_id'] = params['agent_id']  # noqa: E501
        if 'learning_id' in params:
            path_params['learning_id'] = params['learning_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/agents/{agent_id}/learnings/{learning_id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='LearningResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_agent_learnings_endpoint_agents_agent_id_learnings_get(self, agent_id, **kwargs):  # noqa: E501
        """List agent learnings (audit inventory)  # noqa: E501

        Paginated, filterable inventory of an agent's learnings for the curation workbench. Non-semantic (unlike /search). Defaults to the active bucket (excludes archived/superseded); use `state` for other buckets. Pagination is created_at keyset via the opaque cursor.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_agent_learnings_endpoint_agents_agent_id_learnings_get(agent_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object include_instances: Include evidence instances on each item.
        :param object limit: Maximum number of items to return on this page.
        :param object cursor: Opaque pagination token from the previous response's `next_cursor`. Pass it back unchanged; omit it to start again from the first page.
        :param LearningStateFilter state: Review bucket: active (default), needs_review, archived, superseded, or all.
        :return: LearningAuditListResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_agent_learnings_endpoint_agents_agent_id_learnings_get_with_http_info(agent_id, **kwargs)  # noqa: E501
        else:
            (data) = self.list_agent_learnings_endpoint_agents_agent_id_learnings_get_with_http_info(agent_id, **kwargs)  # noqa: E501
            return data

    def list_agent_learnings_endpoint_agents_agent_id_learnings_get_with_http_info(self, agent_id, **kwargs):  # noqa: E501
        """List agent learnings (audit inventory)  # noqa: E501

        Paginated, filterable inventory of an agent's learnings for the curation workbench. Non-semantic (unlike /search). Defaults to the active bucket (excludes archived/superseded); use `state` for other buckets. Pagination is created_at keyset via the opaque cursor.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_agent_learnings_endpoint_agents_agent_id_learnings_get_with_http_info(agent_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object include_instances: Include evidence instances on each item.
        :param object limit: Maximum number of items to return on this page.
        :param object cursor: Opaque pagination token from the previous response's `next_cursor`. Pass it back unchanged; omit it to start again from the first page.
        :param LearningStateFilter state: Review bucket: active (default), needs_review, archived, superseded, or all.
        :return: LearningAuditListResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['agent_id', 'include_instances', 'limit', 'cursor', 'state']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_agent_learnings_endpoint_agents_agent_id_learnings_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'agent_id' is set
        if ('agent_id' not in params or
                params['agent_id'] is None):
            raise ValueError("Missing the required parameter `agent_id` when calling `list_agent_learnings_endpoint_agents_agent_id_learnings_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'agent_id' in params:
            path_params['agent_id'] = params['agent_id']  # noqa: E501

        query_params = []
        if 'include_instances' in params:
            query_params.append(('include_instances', params['include_instances']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'cursor' in params:
            query_params.append(('cursor', params['cursor']))  # noqa: E501
        if 'state' in params:
            query_params.append(('state', params['state']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/agents/{agent_id}/learnings', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='LearningAuditListResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def reinforce_learning_endpoint_agents_agent_id_learnings_learning_id_reinforce_post(self, body, agent_id, learning_id, **kwargs):  # noqa: E501
        """Reinforce a learning  # noqa: E501

        Provide feedback on whether a learning was helpful. Updates the learning's standing (utility and reliability) and trust level based on the feedback signal.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.reinforce_learning_endpoint_agents_agent_id_learnings_learning_id_reinforce_post(body, agent_id, learning_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ReinforceLearningRequest body: (required)
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object learning_id: Learning identifier returned by a learning list or search endpoint. (required)
        :return: ReinforceLearningResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.reinforce_learning_endpoint_agents_agent_id_learnings_learning_id_reinforce_post_with_http_info(body, agent_id, learning_id, **kwargs)  # noqa: E501
        else:
            (data) = self.reinforce_learning_endpoint_agents_agent_id_learnings_learning_id_reinforce_post_with_http_info(body, agent_id, learning_id, **kwargs)  # noqa: E501
            return data

    def reinforce_learning_endpoint_agents_agent_id_learnings_learning_id_reinforce_post_with_http_info(self, body, agent_id, learning_id, **kwargs):  # noqa: E501
        """Reinforce a learning  # noqa: E501

        Provide feedback on whether a learning was helpful. Updates the learning's standing (utility and reliability) and trust level based on the feedback signal.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.reinforce_learning_endpoint_agents_agent_id_learnings_learning_id_reinforce_post_with_http_info(body, agent_id, learning_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ReinforceLearningRequest body: (required)
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object learning_id: Learning identifier returned by a learning list or search endpoint. (required)
        :return: ReinforceLearningResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'agent_id', 'learning_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method reinforce_learning_endpoint_agents_agent_id_learnings_learning_id_reinforce_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `reinforce_learning_endpoint_agents_agent_id_learnings_learning_id_reinforce_post`")  # noqa: E501
        # verify the required parameter 'agent_id' is set
        if ('agent_id' not in params or
                params['agent_id'] is None):
            raise ValueError("Missing the required parameter `agent_id` when calling `reinforce_learning_endpoint_agents_agent_id_learnings_learning_id_reinforce_post`")  # noqa: E501
        # verify the required parameter 'learning_id' is set
        if ('learning_id' not in params or
                params['learning_id'] is None):
            raise ValueError("Missing the required parameter `learning_id` when calling `reinforce_learning_endpoint_agents_agent_id_learnings_learning_id_reinforce_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'agent_id' in params:
            path_params['agent_id'] = params['agent_id']  # noqa: E501
        if 'learning_id' in params:
            path_params['learning_id'] = params['learning_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/agents/{agent_id}/learnings/{learning_id}/reinforce', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ReinforceLearningResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def reject_learning_endpoint_agents_agent_id_learnings_learning_id_reject_post(self, body, agent_id, learning_id, **kwargs):  # noqa: E501
        """Reject (archive) a learning  # noqa: E501

        Archive a live learning with curator provenance. Utility and trust are unchanged.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.reject_learning_endpoint_agents_agent_id_learnings_learning_id_reject_post(body, agent_id, learning_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param RejectLearningRequest body: (required)
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object learning_id: Learning identifier returned by a learning list or search endpoint. (required)
        :return: RejectLearningResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.reject_learning_endpoint_agents_agent_id_learnings_learning_id_reject_post_with_http_info(body, agent_id, learning_id, **kwargs)  # noqa: E501
        else:
            (data) = self.reject_learning_endpoint_agents_agent_id_learnings_learning_id_reject_post_with_http_info(body, agent_id, learning_id, **kwargs)  # noqa: E501
            return data

    def reject_learning_endpoint_agents_agent_id_learnings_learning_id_reject_post_with_http_info(self, body, agent_id, learning_id, **kwargs):  # noqa: E501
        """Reject (archive) a learning  # noqa: E501

        Archive a live learning with curator provenance. Utility and trust are unchanged.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.reject_learning_endpoint_agents_agent_id_learnings_learning_id_reject_post_with_http_info(body, agent_id, learning_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param RejectLearningRequest body: (required)
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object learning_id: Learning identifier returned by a learning list or search endpoint. (required)
        :return: RejectLearningResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'agent_id', 'learning_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method reject_learning_endpoint_agents_agent_id_learnings_learning_id_reject_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `reject_learning_endpoint_agents_agent_id_learnings_learning_id_reject_post`")  # noqa: E501
        # verify the required parameter 'agent_id' is set
        if ('agent_id' not in params or
                params['agent_id'] is None):
            raise ValueError("Missing the required parameter `agent_id` when calling `reject_learning_endpoint_agents_agent_id_learnings_learning_id_reject_post`")  # noqa: E501
        # verify the required parameter 'learning_id' is set
        if ('learning_id' not in params or
                params['learning_id'] is None):
            raise ValueError("Missing the required parameter `learning_id` when calling `reject_learning_endpoint_agents_agent_id_learnings_learning_id_reject_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'agent_id' in params:
            path_params['agent_id'] = params['agent_id']  # noqa: E501
        if 'learning_id' in params:
            path_params['learning_id'] = params['learning_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/agents/{agent_id}/learnings/{learning_id}/reject', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='RejectLearningResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def search_learnings_endpoint_agents_agent_id_learnings_search_get(self, agent_id, q, **kwargs):  # noqa: E501
        """Search learnings  # noqa: E501

        Semantic search over the agent's learning memories. Results are ranked intelligently by relevance, considering decay of older learnings and diversity filtering to avoid redundant results.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.search_learnings_endpoint_agents_agent_id_learnings_search_get(agent_id, q, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object q: Search query text. (required)
        :param object limit: Maximum number of results to return.
        :param object min_utility: Minimum utility threshold for results.
        :param LearningScope scope: Search scope. 'agent' searches the agent's private learnings. 'org' searches shared learnings across agents (Enterprise only).
        :return: LearningSearchResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.search_learnings_endpoint_agents_agent_id_learnings_search_get_with_http_info(agent_id, q, **kwargs)  # noqa: E501
        else:
            (data) = self.search_learnings_endpoint_agents_agent_id_learnings_search_get_with_http_info(agent_id, q, **kwargs)  # noqa: E501
            return data

    def search_learnings_endpoint_agents_agent_id_learnings_search_get_with_http_info(self, agent_id, q, **kwargs):  # noqa: E501
        """Search learnings  # noqa: E501

        Semantic search over the agent's learning memories. Results are ranked intelligently by relevance, considering decay of older learnings and diversity filtering to avoid redundant results.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.search_learnings_endpoint_agents_agent_id_learnings_search_get_with_http_info(agent_id, q, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object q: Search query text. (required)
        :param object limit: Maximum number of results to return.
        :param object min_utility: Minimum utility threshold for results.
        :param LearningScope scope: Search scope. 'agent' searches the agent's private learnings. 'org' searches shared learnings across agents (Enterprise only).
        :return: LearningSearchResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['agent_id', 'q', 'limit', 'min_utility', 'scope']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method search_learnings_endpoint_agents_agent_id_learnings_search_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'agent_id' is set
        if ('agent_id' not in params or
                params['agent_id'] is None):
            raise ValueError("Missing the required parameter `agent_id` when calling `search_learnings_endpoint_agents_agent_id_learnings_search_get`")  # noqa: E501
        # verify the required parameter 'q' is set
        if ('q' not in params or
                params['q'] is None):
            raise ValueError("Missing the required parameter `q` when calling `search_learnings_endpoint_agents_agent_id_learnings_search_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'agent_id' in params:
            path_params['agent_id'] = params['agent_id']  # noqa: E501

        query_params = []
        if 'q' in params:
            query_params.append(('q', params['q']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'min_utility' in params:
            query_params.append(('min_utility', params['min_utility']))  # noqa: E501
        if 'scope' in params:
            query_params.append(('scope', params['scope']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/agents/{agent_id}/learnings/search', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='LearningSearchResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def store_learning_endpoint_agents_agent_id_learnings_post(self, body, agent_id, **kwargs):  # noqa: E501
        """Store a learning  # noqa: E501

        Submit a caller-authored learning for one hosted agent. Processing is asynchronous, so a 202 response confirms acceptance rather than completion. Use `/distill` instead when the caller has evidence but not final learning text.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.store_learning_endpoint_agents_agent_id_learnings_post(body, agent_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param StoreLearningRequest body: (required)
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :return: StoreLearningAcceptedResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.store_learning_endpoint_agents_agent_id_learnings_post_with_http_info(body, agent_id, **kwargs)  # noqa: E501
        else:
            (data) = self.store_learning_endpoint_agents_agent_id_learnings_post_with_http_info(body, agent_id, **kwargs)  # noqa: E501
            return data

    def store_learning_endpoint_agents_agent_id_learnings_post_with_http_info(self, body, agent_id, **kwargs):  # noqa: E501
        """Store a learning  # noqa: E501

        Submit a caller-authored learning for one hosted agent. Processing is asynchronous, so a 202 response confirms acceptance rather than completion. Use `/distill` instead when the caller has evidence but not final learning text.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.store_learning_endpoint_agents_agent_id_learnings_post_with_http_info(body, agent_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param StoreLearningRequest body: (required)
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :return: StoreLearningAcceptedResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'agent_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method store_learning_endpoint_agents_agent_id_learnings_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `store_learning_endpoint_agents_agent_id_learnings_post`")  # noqa: E501
        # verify the required parameter 'agent_id' is set
        if ('agent_id' not in params or
                params['agent_id'] is None):
            raise ValueError("Missing the required parameter `agent_id` when calling `store_learning_endpoint_agents_agent_id_learnings_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'agent_id' in params:
            path_params['agent_id'] = params['agent_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/agents/{agent_id}/learnings', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='StoreLearningAcceptedResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
