# coding: utf-8

"""
    Hyperstruck Core

    Create and operate hosted agents, runs, learnings, and integrations. Authenticate resource requests with a Bearer API key unless an endpoint explicitly requires a portal session.  # noqa: E501

    OpenAPI spec version: 0.1.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from hyperstruck.api_client import ApiClient


class ObligationsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def cancel_obligation_endpoint_agents_agent_id_obligations_obligation_id_cancel_post(self, body, agent_id, obligation_id, **kwargs):  # noqa: E501
        """Withdraw an obligation record  # noqa: E501

        Withdraws the RECORD rather than deciding the commitment: a test write, a malformed body, a bad import. Takes no reason, writes no suppression key, and moves no source's credit, so the same commitment can be recorded again immediately and an operator tidying up cannot penalise a source. Use close with 'not_an_obligation' when the source was wrong.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.cancel_obligation_endpoint_agents_agent_id_obligations_obligation_id_cancel_post(body, agent_id, obligation_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CancelObligationRequest body: (required)
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object obligation_id: Obligation UUID returned by the obligations store or list endpoint. (required)
        :param object timezone: IANA zone to render due_local in on the answer.
        :return: ObligationResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.cancel_obligation_endpoint_agents_agent_id_obligations_obligation_id_cancel_post_with_http_info(body, agent_id, obligation_id, **kwargs)  # noqa: E501
        else:
            (data) = self.cancel_obligation_endpoint_agents_agent_id_obligations_obligation_id_cancel_post_with_http_info(body, agent_id, obligation_id, **kwargs)  # noqa: E501
            return data

    def cancel_obligation_endpoint_agents_agent_id_obligations_obligation_id_cancel_post_with_http_info(self, body, agent_id, obligation_id, **kwargs):  # noqa: E501
        """Withdraw an obligation record  # noqa: E501

        Withdraws the RECORD rather than deciding the commitment: a test write, a malformed body, a bad import. Takes no reason, writes no suppression key, and moves no source's credit, so the same commitment can be recorded again immediately and an operator tidying up cannot penalise a source. Use close with 'not_an_obligation' when the source was wrong.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.cancel_obligation_endpoint_agents_agent_id_obligations_obligation_id_cancel_post_with_http_info(body, agent_id, obligation_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CancelObligationRequest body: (required)
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object obligation_id: Obligation UUID returned by the obligations store or list endpoint. (required)
        :param object timezone: IANA zone to render due_local in on the answer.
        :return: ObligationResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'agent_id', 'obligation_id', 'timezone']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method cancel_obligation_endpoint_agents_agent_id_obligations_obligation_id_cancel_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `cancel_obligation_endpoint_agents_agent_id_obligations_obligation_id_cancel_post`")  # noqa: E501
        # verify the required parameter 'agent_id' is set
        if ('agent_id' not in params or
                params['agent_id'] is None):
            raise ValueError("Missing the required parameter `agent_id` when calling `cancel_obligation_endpoint_agents_agent_id_obligations_obligation_id_cancel_post`")  # noqa: E501
        # verify the required parameter 'obligation_id' is set
        if ('obligation_id' not in params or
                params['obligation_id'] is None):
            raise ValueError("Missing the required parameter `obligation_id` when calling `cancel_obligation_endpoint_agents_agent_id_obligations_obligation_id_cancel_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'agent_id' in params:
            path_params['agent_id'] = params['agent_id']  # noqa: E501
        if 'obligation_id' in params:
            path_params['obligation_id'] = params['obligation_id']  # noqa: E501

        query_params = []
        if 'timezone' in params:
            query_params.append(('timezone', params['timezone']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/agents/{agent_id}/obligations/{obligation_id}/cancel', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ObligationResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def close_obligation_endpoint_agents_agent_id_obligations_obligation_id_close_post(self, body, agent_id, obligation_id, **kwargs):  # noqa: E501
        """Close an obligation as kept or dropped  # noqa: E501

        Ends an obligation, recording who says so. 'kept' needs a kept_basis (reported, evidenced or declared); 'dropped' needs a dropped_reason, of which only 'not_an_obligation' counts against the source that produced it. Repeating the identical close returns 200 with the row and emits nothing further, so a client that retried a timed-out request is not told its own successful action failed; a close contradicting the state already held is a 409, as is a stale expected_version.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.close_obligation_endpoint_agents_agent_id_obligations_obligation_id_close_post(body, agent_id, obligation_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CloseObligationRequest body: (required)
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object obligation_id: Obligation UUID returned by the obligations store or list endpoint. (required)
        :param object timezone: IANA zone to render due_local in on the answer.
        :return: ObligationResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.close_obligation_endpoint_agents_agent_id_obligations_obligation_id_close_post_with_http_info(body, agent_id, obligation_id, **kwargs)  # noqa: E501
        else:
            (data) = self.close_obligation_endpoint_agents_agent_id_obligations_obligation_id_close_post_with_http_info(body, agent_id, obligation_id, **kwargs)  # noqa: E501
            return data

    def close_obligation_endpoint_agents_agent_id_obligations_obligation_id_close_post_with_http_info(self, body, agent_id, obligation_id, **kwargs):  # noqa: E501
        """Close an obligation as kept or dropped  # noqa: E501

        Ends an obligation, recording who says so. 'kept' needs a kept_basis (reported, evidenced or declared); 'dropped' needs a dropped_reason, of which only 'not_an_obligation' counts against the source that produced it. Repeating the identical close returns 200 with the row and emits nothing further, so a client that retried a timed-out request is not told its own successful action failed; a close contradicting the state already held is a 409, as is a stale expected_version.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.close_obligation_endpoint_agents_agent_id_obligations_obligation_id_close_post_with_http_info(body, agent_id, obligation_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CloseObligationRequest body: (required)
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object obligation_id: Obligation UUID returned by the obligations store or list endpoint. (required)
        :param object timezone: IANA zone to render due_local in on the answer.
        :return: ObligationResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'agent_id', 'obligation_id', 'timezone']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method close_obligation_endpoint_agents_agent_id_obligations_obligation_id_close_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `close_obligation_endpoint_agents_agent_id_obligations_obligation_id_close_post`")  # noqa: E501
        # verify the required parameter 'agent_id' is set
        if ('agent_id' not in params or
                params['agent_id'] is None):
            raise ValueError("Missing the required parameter `agent_id` when calling `close_obligation_endpoint_agents_agent_id_obligations_obligation_id_close_post`")  # noqa: E501
        # verify the required parameter 'obligation_id' is set
        if ('obligation_id' not in params or
                params['obligation_id'] is None):
            raise ValueError("Missing the required parameter `obligation_id` when calling `close_obligation_endpoint_agents_agent_id_obligations_obligation_id_close_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'agent_id' in params:
            path_params['agent_id'] = params['agent_id']  # noqa: E501
        if 'obligation_id' in params:
            path_params['obligation_id'] = params['obligation_id']  # noqa: E501

        query_params = []
        if 'timezone' in params:
            query_params.append(('timezone', params['timezone']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/agents/{agent_id}/obligations/{obligation_id}/close', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ObligationResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_agent_obligation_open_count_endpoint_agents_agent_id_obligations_open_count_get(self, agent_id, **kwargs):  # noqa: E501
        """Count an agent's open obligations  # noqa: E501

        How many open, unexpired obligations this agent holds right now. Only this agent's rows are counted; the tenant-wide figure beside its metered value is GET /org/obligations/open-count.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_agent_obligation_open_count_endpoint_agents_agent_id_obligations_open_count_get(agent_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :return: AgentObligationOpenCountResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_agent_obligation_open_count_endpoint_agents_agent_id_obligations_open_count_get_with_http_info(agent_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_agent_obligation_open_count_endpoint_agents_agent_id_obligations_open_count_get_with_http_info(agent_id, **kwargs)  # noqa: E501
            return data

    def get_agent_obligation_open_count_endpoint_agents_agent_id_obligations_open_count_get_with_http_info(self, agent_id, **kwargs):  # noqa: E501
        """Count an agent's open obligations  # noqa: E501

        How many open, unexpired obligations this agent holds right now. Only this agent's rows are counted; the tenant-wide figure beside its metered value is GET /org/obligations/open-count.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_agent_obligation_open_count_endpoint_agents_agent_id_obligations_open_count_get_with_http_info(agent_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :return: AgentObligationOpenCountResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['agent_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_agent_obligation_open_count_endpoint_agents_agent_id_obligations_open_count_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'agent_id' is set
        if ('agent_id' not in params or
                params['agent_id'] is None):
            raise ValueError("Missing the required parameter `agent_id` when calling `get_agent_obligation_open_count_endpoint_agents_agent_id_obligations_open_count_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'agent_id' in params:
            path_params['agent_id'] = params['agent_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/agents/{agent_id}/obligations/open-count', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AgentObligationOpenCountResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_obligation_endpoint_agents_agent_id_obligations_obligation_id_get(self, agent_id, obligation_id, **kwargs):  # noqa: E501
        """Get an obligation  # noqa: E501

        Retrieve a single obligation by its id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_obligation_endpoint_agents_agent_id_obligations_obligation_id_get(agent_id, obligation_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object obligation_id: Obligation UUID returned by the obligations store or list endpoint. (required)
        :param object timezone: IANA zone to render due_local in.
        :return: ObligationResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_obligation_endpoint_agents_agent_id_obligations_obligation_id_get_with_http_info(agent_id, obligation_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_obligation_endpoint_agents_agent_id_obligations_obligation_id_get_with_http_info(agent_id, obligation_id, **kwargs)  # noqa: E501
            return data

    def get_obligation_endpoint_agents_agent_id_obligations_obligation_id_get_with_http_info(self, agent_id, obligation_id, **kwargs):  # noqa: E501
        """Get an obligation  # noqa: E501

        Retrieve a single obligation by its id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_obligation_endpoint_agents_agent_id_obligations_obligation_id_get_with_http_info(agent_id, obligation_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object obligation_id: Obligation UUID returned by the obligations store or list endpoint. (required)
        :param object timezone: IANA zone to render due_local in.
        :return: ObligationResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['agent_id', 'obligation_id', 'timezone']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_obligation_endpoint_agents_agent_id_obligations_obligation_id_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'agent_id' is set
        if ('agent_id' not in params or
                params['agent_id'] is None):
            raise ValueError("Missing the required parameter `agent_id` when calling `get_obligation_endpoint_agents_agent_id_obligations_obligation_id_get`")  # noqa: E501
        # verify the required parameter 'obligation_id' is set
        if ('obligation_id' not in params or
                params['obligation_id'] is None):
            raise ValueError("Missing the required parameter `obligation_id` when calling `get_obligation_endpoint_agents_agent_id_obligations_obligation_id_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'agent_id' in params:
            path_params['agent_id'] = params['agent_id']  # noqa: E501
        if 'obligation_id' in params:
            path_params['obligation_id'] = params['obligation_id']  # noqa: E501

        query_params = []
        if 'timezone' in params:
            query_params.append(('timezone', params['timezone']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/agents/{agent_id}/obligations/{obligation_id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ObligationResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_org_obligation_open_count_endpoint_org_obligations_open_count_get(self, **kwargs):  # noqa: E501
        """Read the metered open-obligation stock beside the live one  # noqa: E501

        usage_daily.obligation_open_count for a day, and the number of open obligations the tenant actually holds right now, so the two are visibly the same or visibly not. obligation_open_count is the shelf's only stock counter; the other six are flow, drained from events. A flow counter that stops being written is obviously wrong. A stock counter that stops being written goes on reading as whatever it last said, which is what a healthy counter looks like on a quiet day, so it is only meaningful next to the live figure. A null metered_open_count means the reconcile has not written for that day yet, which is a different fact from a zero.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_org_obligation_open_count_endpoint_org_obligations_open_count_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object usage_date: The metered day, in UTC. Defaults to today.
        :return: ObligationOpenCountResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_org_obligation_open_count_endpoint_org_obligations_open_count_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_org_obligation_open_count_endpoint_org_obligations_open_count_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_org_obligation_open_count_endpoint_org_obligations_open_count_get_with_http_info(self, **kwargs):  # noqa: E501
        """Read the metered open-obligation stock beside the live one  # noqa: E501

        usage_daily.obligation_open_count for a day, and the number of open obligations the tenant actually holds right now, so the two are visibly the same or visibly not. obligation_open_count is the shelf's only stock counter; the other six are flow, drained from events. A flow counter that stops being written is obviously wrong. A stock counter that stops being written goes on reading as whatever it last said, which is what a healthy counter looks like on a quiet day, so it is only meaningful next to the live figure. A null metered_open_count means the reconcile has not written for that day yet, which is a different fact from a zero.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_org_obligation_open_count_endpoint_org_obligations_open_count_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object usage_date: The metered day, in UTC. Defaults to today.
        :return: ObligationOpenCountResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['usage_date']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_org_obligation_open_count_endpoint_org_obligations_open_count_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'usage_date' in params:
            query_params.append(('usage_date', params['usage_date']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/org/obligations/open-count', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ObligationOpenCountResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_obligation_source_credit_endpoint_agents_agent_id_obligation_credit_get(self, agent_id, **kwargs):  # noqa: E501
        """Read how reliable each harvesting source has proved  # noqa: E501

        How often obligations harvested from each source turned out to have been real, worst score first. Kept counts for, on any basis; only a drop for 'not_an_obligation' and an expiry for neglect count against, because the other drop reasons judge the commitment rather than the source, capacity expiry is eviction, and a passed due says the rep did not act. Each source is scored against this agent's pooled rate as a prior, so a source with a handful of outcomes is not judged on a handful of outcomes. Advisory: nothing in the harvest lane reads this back to gate anything.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_obligation_source_credit_endpoint_agents_agent_id_obligation_credit_get(agent_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object limit: Maximum number of items to return on this page.
        :return: ObligationSourceCreditListResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_obligation_source_credit_endpoint_agents_agent_id_obligation_credit_get_with_http_info(agent_id, **kwargs)  # noqa: E501
        else:
            (data) = self.list_obligation_source_credit_endpoint_agents_agent_id_obligation_credit_get_with_http_info(agent_id, **kwargs)  # noqa: E501
            return data

    def list_obligation_source_credit_endpoint_agents_agent_id_obligation_credit_get_with_http_info(self, agent_id, **kwargs):  # noqa: E501
        """Read how reliable each harvesting source has proved  # noqa: E501

        How often obligations harvested from each source turned out to have been real, worst score first. Kept counts for, on any basis; only a drop for 'not_an_obligation' and an expiry for neglect count against, because the other drop reasons judge the commitment rather than the source, capacity expiry is eviction, and a passed due says the rep did not act. Each source is scored against this agent's pooled rate as a prior, so a source with a handful of outcomes is not judged on a handful of outcomes. Advisory: nothing in the harvest lane reads this back to gate anything.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_obligation_source_credit_endpoint_agents_agent_id_obligation_credit_get_with_http_info(agent_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object limit: Maximum number of items to return on this page.
        :return: ObligationSourceCreditListResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['agent_id', 'limit']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_obligation_source_credit_endpoint_agents_agent_id_obligation_credit_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'agent_id' is set
        if ('agent_id' not in params or
                params['agent_id'] is None):
            raise ValueError("Missing the required parameter `agent_id` when calling `list_obligation_source_credit_endpoint_agents_agent_id_obligation_credit_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'agent_id' in params:
            path_params['agent_id'] = params['agent_id']  # noqa: E501

        query_params = []
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/agents/{agent_id}/obligation-credit', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ObligationSourceCreditListResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_obligations_endpoint_agents_agent_id_obligations_get(self, agent_id, **kwargs):  # noqa: E501
        """List an agent's obligations  # noqa: E501

        Paginated inventory of an agent's obligations. Filters by status, entity_id (either party or the subject), due_before, q (free text over the statement) and provenance_class, and every filter composes with needs_review. due_at is additionally rendered in ?timezone= (default: the agent's own zone, else UTC). Pagination is by opaque cursor: pass the response's next_cursor back verbatim as ?after= for the next page, and never parse or construct one yourself.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_obligations_endpoint_agents_agent_id_obligations_get(agent_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object status: Filter by status (open, kept, dropped, expired, superseded, cancelled).
        :param object entity_id: Filter to obligations naming this registry entity.
        :param object due_before: Filter to obligations due before this instant.
        :param object limit: Maximum number of items to return on this page.
        :param object after: Opaque cursor from a previous page's next_cursor, passed back verbatim. Its shape is internal and may change; a malformed value is refused with a 422.
        :param object needs_review: Narrow to the OPEN obligations waiting on a person rather than on a due date: an untrusted source, a premise since retracted or erased, a later note reporting the work done or taken back, or repeated surfacing with no decision. Each row comes back with review_reasons naming which apply. A page may be short or empty while next_cursor is set, so page until next_cursor is null.
        :param object q: Free-text contains match over the statement, case-insensitive. The caller's own wildcards are taken literally: searching for '50%' finds statements containing '50%', not everything starting '50'. Combines with every other filter, needs_review included.
        :param object provenance_class: Filter by whose word the obligation is held on: user_directed (the typed write), source_observed (harvested from a corpus), agent_committed, or rule_implied.
        :param object review_reason: Narrow the review queue to one bucket: untrusted_provenance, premise_retracted, later_standing or neglected. Only meaningful with needs_review=true, and it can only shrink that queue, never widen it.
        :param object timezone: IANA zone to render due_local in.
        :return: ObligationListResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_obligations_endpoint_agents_agent_id_obligations_get_with_http_info(agent_id, **kwargs)  # noqa: E501
        else:
            (data) = self.list_obligations_endpoint_agents_agent_id_obligations_get_with_http_info(agent_id, **kwargs)  # noqa: E501
            return data

    def list_obligations_endpoint_agents_agent_id_obligations_get_with_http_info(self, agent_id, **kwargs):  # noqa: E501
        """List an agent's obligations  # noqa: E501

        Paginated inventory of an agent's obligations. Filters by status, entity_id (either party or the subject), due_before, q (free text over the statement) and provenance_class, and every filter composes with needs_review. due_at is additionally rendered in ?timezone= (default: the agent's own zone, else UTC). Pagination is by opaque cursor: pass the response's next_cursor back verbatim as ?after= for the next page, and never parse or construct one yourself.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_obligations_endpoint_agents_agent_id_obligations_get_with_http_info(agent_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object status: Filter by status (open, kept, dropped, expired, superseded, cancelled).
        :param object entity_id: Filter to obligations naming this registry entity.
        :param object due_before: Filter to obligations due before this instant.
        :param object limit: Maximum number of items to return on this page.
        :param object after: Opaque cursor from a previous page's next_cursor, passed back verbatim. Its shape is internal and may change; a malformed value is refused with a 422.
        :param object needs_review: Narrow to the OPEN obligations waiting on a person rather than on a due date: an untrusted source, a premise since retracted or erased, a later note reporting the work done or taken back, or repeated surfacing with no decision. Each row comes back with review_reasons naming which apply. A page may be short or empty while next_cursor is set, so page until next_cursor is null.
        :param object q: Free-text contains match over the statement, case-insensitive. The caller's own wildcards are taken literally: searching for '50%' finds statements containing '50%', not everything starting '50'. Combines with every other filter, needs_review included.
        :param object provenance_class: Filter by whose word the obligation is held on: user_directed (the typed write), source_observed (harvested from a corpus), agent_committed, or rule_implied.
        :param object review_reason: Narrow the review queue to one bucket: untrusted_provenance, premise_retracted, later_standing or neglected. Only meaningful with needs_review=true, and it can only shrink that queue, never widen it.
        :param object timezone: IANA zone to render due_local in.
        :return: ObligationListResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['agent_id', 'status', 'entity_id', 'due_before', 'limit', 'after', 'needs_review', 'q', 'provenance_class', 'review_reason', 'timezone']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_obligations_endpoint_agents_agent_id_obligations_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'agent_id' is set
        if ('agent_id' not in params or
                params['agent_id'] is None):
            raise ValueError("Missing the required parameter `agent_id` when calling `list_obligations_endpoint_agents_agent_id_obligations_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'agent_id' in params:
            path_params['agent_id'] = params['agent_id']  # noqa: E501

        query_params = []
        if 'status' in params:
            query_params.append(('status', params['status']))  # noqa: E501
        if 'entity_id' in params:
            query_params.append(('entity_id', params['entity_id']))  # noqa: E501
        if 'due_before' in params:
            query_params.append(('due_before', params['due_before']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'after' in params:
            query_params.append(('after', params['after']))  # noqa: E501
        if 'needs_review' in params:
            query_params.append(('needs_review', params['needs_review']))  # noqa: E501
        if 'q' in params:
            query_params.append(('q', params['q']))  # noqa: E501
        if 'provenance_class' in params:
            query_params.append(('provenance_class', params['provenance_class']))  # noqa: E501
        if 'review_reason' in params:
            query_params.append(('review_reason', params['review_reason']))  # noqa: E501
        if 'timezone' in params:
            query_params.append(('timezone', params['timezone']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/agents/{agent_id}/obligations', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ObligationListResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_org_obligations_endpoint_org_obligations_get(self, **kwargs):  # noqa: E501
        """List obligations across the tenant's agents  # noqa: E501

        The tenant's obligations, fanned across its agents and each labelled with its owning agent. Carries the same filters as the agent-scoped list, so ?needs_review=true is the review queue across every agent an operator holds. is_space_filtered says the caller's readable-space set narrowed the page, so a short page can be told from the end of the list. Pagination is by opaque cursor: pass next_cursor back verbatim as ?after=.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_org_obligations_endpoint_org_obligations_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object status: Filter by status (open, kept, dropped, expired, superseded, cancelled).
        :param object entity_id: Filter to obligations naming this registry entity.
        :param object due_before: Filter to obligations due before this instant.
        :param object needs_review: Narrow to the OPEN obligations waiting on a person rather than on a due date. Each row comes back with review_reasons naming which of the four buckets apply. This is the parameter that makes this route the tenant's review queue.
        :param object q: Free-text contains match over the statement, case-insensitive. The caller's own wildcards are taken literally: searching for '50%' finds statements containing '50%', not everything starting '50'. Combines with every other filter, needs_review included.
        :param object provenance_class: Filter by whose word the obligation is held on: user_directed (the typed write), source_observed (harvested from a corpus), agent_committed, or rule_implied.
        :param object review_reason: Narrow the review queue to one bucket: untrusted_provenance, premise_retracted, later_standing or neglected. Only meaningful with needs_review=true, and it can only shrink that queue, never widen it.
        :param object limit: Maximum number of items to return on this page.
        :param object after: Opaque cursor from a previous page's next_cursor, passed back verbatim. Its shape is internal and may change; a malformed value is refused with a 422.
        :param object timezone: IANA zone to render due_local in. Defaults to UTC rather than to an agent's own default, because a page here spans agents and no one agent's default is the right one for it. A date-precision due still renders in its own zone.
        :return: ObligationOrgListResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_org_obligations_endpoint_org_obligations_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.list_org_obligations_endpoint_org_obligations_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def list_org_obligations_endpoint_org_obligations_get_with_http_info(self, **kwargs):  # noqa: E501
        """List obligations across the tenant's agents  # noqa: E501

        The tenant's obligations, fanned across its agents and each labelled with its owning agent. Carries the same filters as the agent-scoped list, so ?needs_review=true is the review queue across every agent an operator holds. is_space_filtered says the caller's readable-space set narrowed the page, so a short page can be told from the end of the list. Pagination is by opaque cursor: pass next_cursor back verbatim as ?after=.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_org_obligations_endpoint_org_obligations_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object status: Filter by status (open, kept, dropped, expired, superseded, cancelled).
        :param object entity_id: Filter to obligations naming this registry entity.
        :param object due_before: Filter to obligations due before this instant.
        :param object needs_review: Narrow to the OPEN obligations waiting on a person rather than on a due date. Each row comes back with review_reasons naming which of the four buckets apply. This is the parameter that makes this route the tenant's review queue.
        :param object q: Free-text contains match over the statement, case-insensitive. The caller's own wildcards are taken literally: searching for '50%' finds statements containing '50%', not everything starting '50'. Combines with every other filter, needs_review included.
        :param object provenance_class: Filter by whose word the obligation is held on: user_directed (the typed write), source_observed (harvested from a corpus), agent_committed, or rule_implied.
        :param object review_reason: Narrow the review queue to one bucket: untrusted_provenance, premise_retracted, later_standing or neglected. Only meaningful with needs_review=true, and it can only shrink that queue, never widen it.
        :param object limit: Maximum number of items to return on this page.
        :param object after: Opaque cursor from a previous page's next_cursor, passed back verbatim. Its shape is internal and may change; a malformed value is refused with a 422.
        :param object timezone: IANA zone to render due_local in. Defaults to UTC rather than to an agent's own default, because a page here spans agents and no one agent's default is the right one for it. A date-precision due still renders in its own zone.
        :return: ObligationOrgListResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['status', 'entity_id', 'due_before', 'needs_review', 'q', 'provenance_class', 'review_reason', 'limit', 'after', 'timezone']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_org_obligations_endpoint_org_obligations_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'status' in params:
            query_params.append(('status', params['status']))  # noqa: E501
        if 'entity_id' in params:
            query_params.append(('entity_id', params['entity_id']))  # noqa: E501
        if 'due_before' in params:
            query_params.append(('due_before', params['due_before']))  # noqa: E501
        if 'needs_review' in params:
            query_params.append(('needs_review', params['needs_review']))  # noqa: E501
        if 'q' in params:
            query_params.append(('q', params['q']))  # noqa: E501
        if 'provenance_class' in params:
            query_params.append(('provenance_class', params['provenance_class']))  # noqa: E501
        if 'review_reason' in params:
            query_params.append(('review_reason', params['review_reason']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'after' in params:
            query_params.append(('after', params['after']))  # noqa: E501
        if 'timezone' in params:
            query_params.append(('timezone', params['timezone']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/org/obligations', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ObligationOrgListResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def reschedule_obligation_endpoint_agents_agent_id_obligations_obligation_id_reschedule_post(self, body, agent_id, obligation_id, **kwargs):  # noqa: E501
        """Move an obligation's due date  # noqa: E501

        Moves the due, keeping the obligation's identity: moving a date is not making a new promise. An open obligation already sitting on the new day under the same key is a 409, and the caller resolves it by closing one of the two.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.reschedule_obligation_endpoint_agents_agent_id_obligations_obligation_id_reschedule_post(body, agent_id, obligation_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param RescheduleObligationRequest body: (required)
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object obligation_id: Obligation UUID returned by the obligations store or list endpoint. (required)
        :param object timezone: IANA zone to render due_local in on the answer.
        :return: ObligationResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.reschedule_obligation_endpoint_agents_agent_id_obligations_obligation_id_reschedule_post_with_http_info(body, agent_id, obligation_id, **kwargs)  # noqa: E501
        else:
            (data) = self.reschedule_obligation_endpoint_agents_agent_id_obligations_obligation_id_reschedule_post_with_http_info(body, agent_id, obligation_id, **kwargs)  # noqa: E501
            return data

    def reschedule_obligation_endpoint_agents_agent_id_obligations_obligation_id_reschedule_post_with_http_info(self, body, agent_id, obligation_id, **kwargs):  # noqa: E501
        """Move an obligation's due date  # noqa: E501

        Moves the due, keeping the obligation's identity: moving a date is not making a new promise. An open obligation already sitting on the new day under the same key is a 409, and the caller resolves it by closing one of the two.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.reschedule_obligation_endpoint_agents_agent_id_obligations_obligation_id_reschedule_post_with_http_info(body, agent_id, obligation_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param RescheduleObligationRequest body: (required)
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object obligation_id: Obligation UUID returned by the obligations store or list endpoint. (required)
        :param object timezone: IANA zone to render due_local in on the answer.
        :return: ObligationResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'agent_id', 'obligation_id', 'timezone']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method reschedule_obligation_endpoint_agents_agent_id_obligations_obligation_id_reschedule_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `reschedule_obligation_endpoint_agents_agent_id_obligations_obligation_id_reschedule_post`")  # noqa: E501
        # verify the required parameter 'agent_id' is set
        if ('agent_id' not in params or
                params['agent_id'] is None):
            raise ValueError("Missing the required parameter `agent_id` when calling `reschedule_obligation_endpoint_agents_agent_id_obligations_obligation_id_reschedule_post`")  # noqa: E501
        # verify the required parameter 'obligation_id' is set
        if ('obligation_id' not in params or
                params['obligation_id'] is None):
            raise ValueError("Missing the required parameter `obligation_id` when calling `reschedule_obligation_endpoint_agents_agent_id_obligations_obligation_id_reschedule_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'agent_id' in params:
            path_params['agent_id'] = params['agent_id']  # noqa: E501
        if 'obligation_id' in params:
            path_params['obligation_id'] = params['obligation_id']  # noqa: E501

        query_params = []
        if 'timezone' in params:
            query_params.append(('timezone', params['timezone']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/agents/{agent_id}/obligations/{obligation_id}/reschedule', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ObligationResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def store_obligation_endpoint_agents_agent_id_obligations_post(self, body, agent_id, **kwargs):  # noqa: E501
        """Record an obligation  # noqa: E501

        Write an obligation the host has, is owed, or is holding a party to. Always written as user_directed provenance. A capacity or dedupe refusal is reported as a 202 with an outcome, never a 4xx; only a malformed body, a naive datetime, or an unknown timezone is a 422.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.store_obligation_endpoint_agents_agent_id_obligations_post(body, agent_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param StoreObligationRequest body: (required)
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :return: StoreObligationAcceptedResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.store_obligation_endpoint_agents_agent_id_obligations_post_with_http_info(body, agent_id, **kwargs)  # noqa: E501
        else:
            (data) = self.store_obligation_endpoint_agents_agent_id_obligations_post_with_http_info(body, agent_id, **kwargs)  # noqa: E501
            return data

    def store_obligation_endpoint_agents_agent_id_obligations_post_with_http_info(self, body, agent_id, **kwargs):  # noqa: E501
        """Record an obligation  # noqa: E501

        Write an obligation the host has, is owed, or is holding a party to. Always written as user_directed provenance. A capacity or dedupe refusal is reported as a 202 with an outcome, never a 4xx; only a malformed body, a naive datetime, or an unknown timezone is a 422.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.store_obligation_endpoint_agents_agent_id_obligations_post_with_http_info(body, agent_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param StoreObligationRequest body: (required)
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :return: StoreObligationAcceptedResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'agent_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method store_obligation_endpoint_agents_agent_id_obligations_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `store_obligation_endpoint_agents_agent_id_obligations_post`")  # noqa: E501
        # verify the required parameter 'agent_id' is set
        if ('agent_id' not in params or
                params['agent_id'] is None):
            raise ValueError("Missing the required parameter `agent_id` when calling `store_obligation_endpoint_agents_agent_id_obligations_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'agent_id' in params:
            path_params['agent_id'] = params['agent_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/agents/{agent_id}/obligations', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='StoreObligationAcceptedResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def supersede_obligation_endpoint_agents_agent_id_obligations_obligation_id_supersede_post(self, body, agent_id, obligation_id, **kwargs):  # noqa: E501
        """Replace an obligation with its successor  # noqa: E501

        Closes this obligation as superseded and writes its successor, linked, in one step. Nothing commits unless the successor lands: a successor that collides with another open obligation on the same key is a 409 and changes nothing. The 200 body is the SUCCESSOR, which is the live row the caller now cares about.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.supersede_obligation_endpoint_agents_agent_id_obligations_obligation_id_supersede_post(body, agent_id, obligation_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SupersedeObligationRequest body: (required)
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object obligation_id: Obligation UUID returned by the obligations store or list endpoint. (required)
        :param object timezone: IANA zone to render due_local in on the answer.
        :return: ObligationResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.supersede_obligation_endpoint_agents_agent_id_obligations_obligation_id_supersede_post_with_http_info(body, agent_id, obligation_id, **kwargs)  # noqa: E501
        else:
            (data) = self.supersede_obligation_endpoint_agents_agent_id_obligations_obligation_id_supersede_post_with_http_info(body, agent_id, obligation_id, **kwargs)  # noqa: E501
            return data

    def supersede_obligation_endpoint_agents_agent_id_obligations_obligation_id_supersede_post_with_http_info(self, body, agent_id, obligation_id, **kwargs):  # noqa: E501
        """Replace an obligation with its successor  # noqa: E501

        Closes this obligation as superseded and writes its successor, linked, in one step. Nothing commits unless the successor lands: a successor that collides with another open obligation on the same key is a 409 and changes nothing. The 200 body is the SUCCESSOR, which is the live row the caller now cares about.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.supersede_obligation_endpoint_agents_agent_id_obligations_obligation_id_supersede_post_with_http_info(body, agent_id, obligation_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SupersedeObligationRequest body: (required)
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object obligation_id: Obligation UUID returned by the obligations store or list endpoint. (required)
        :param object timezone: IANA zone to render due_local in on the answer.
        :return: ObligationResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'agent_id', 'obligation_id', 'timezone']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method supersede_obligation_endpoint_agents_agent_id_obligations_obligation_id_supersede_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `supersede_obligation_endpoint_agents_agent_id_obligations_obligation_id_supersede_post`")  # noqa: E501
        # verify the required parameter 'agent_id' is set
        if ('agent_id' not in params or
                params['agent_id'] is None):
            raise ValueError("Missing the required parameter `agent_id` when calling `supersede_obligation_endpoint_agents_agent_id_obligations_obligation_id_supersede_post`")  # noqa: E501
        # verify the required parameter 'obligation_id' is set
        if ('obligation_id' not in params or
                params['obligation_id'] is None):
            raise ValueError("Missing the required parameter `obligation_id` when calling `supersede_obligation_endpoint_agents_agent_id_obligations_obligation_id_supersede_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'agent_id' in params:
            path_params['agent_id'] = params['agent_id']  # noqa: E501
        if 'obligation_id' in params:
            path_params['obligation_id'] = params['obligation_id']  # noqa: E501

        query_params = []
        if 'timezone' in params:
            query_params.append(('timezone', params['timezone']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/agents/{agent_id}/obligations/{obligation_id}/supersede', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ObligationResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
