# coding: utf-8

"""
    Hyperstruck Core

    Create and operate hosted agents, runs, learnings, and integrations. Authenticate resource requests with a Bearer API key unless an endpoint explicitly requires a portal session.  # noqa: E501

    OpenAPI spec version: 0.1.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from hyperstruck.api_client import ApiClient


class OrgLearningsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def list_org_learnings_endpoint_org_learnings_get(self, **kwargs):  # noqa: E501
        """List org-shared learnings  # noqa: E501

        Tenant-wide library of org-promoted (shared) learnings. Enterprise only. Evidence is stripped at promotion time, so items report org_stripped and summarise cross-agent corroboration. promotion_timestamp keyset pagination.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_org_learnings_endpoint_org_learnings_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object limit: Maximum number of items to return on this page.
        :param object cursor: Opaque pagination token from the previous response's `next_cursor`. Pass it back unchanged; omit it to start again from the first page.
        :return: OrgLearningListResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_org_learnings_endpoint_org_learnings_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.list_org_learnings_endpoint_org_learnings_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def list_org_learnings_endpoint_org_learnings_get_with_http_info(self, **kwargs):  # noqa: E501
        """List org-shared learnings  # noqa: E501

        Tenant-wide library of org-promoted (shared) learnings. Enterprise only. Evidence is stripped at promotion time, so items report org_stripped and summarise cross-agent corroboration. promotion_timestamp keyset pagination.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_org_learnings_endpoint_org_learnings_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object limit: Maximum number of items to return on this page.
        :param object cursor: Opaque pagination token from the previous response's `next_cursor`. Pass it back unchanged; omit it to start again from the first page.
        :return: OrgLearningListResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['limit', 'cursor']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_org_learnings_endpoint_org_learnings_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'cursor' in params:
            query_params.append(('cursor', params['cursor']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/org/learnings', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='OrgLearningListResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
