# coding: utf-8

"""
    Hyperstruck Core

    Create and operate hosted agents, runs, learnings, and integrations. Authenticate resource requests with a Bearer API key unless an endpoint explicitly requires a portal session.  # noqa: E501

    OpenAPI spec version: 0.1.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from hyperstruck.api_client import ApiClient


class OrgDirectoryApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def list_org_directory_endpoint_org_org_id_directory_get(self, org_id, **kwargs):  # noqa: E501
        """List Org Directory  # noqa: E501

        List active organization members for invite pickers: identity_user_id, email, and display_name only. Available to any org member (not just admins). Cursor-paginated on membership created_at.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_org_directory_endpoint_org_org_id_directory_get(org_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object org_id: Organization UUID (same as the caller's active tenant id). A foreign org id returns 404. (required)
        :param object limit: Maximum number of items to return on this page.
        :param object cursor: Opaque pagination token from the previous response's `next_cursor`. Pass it back unchanged; omit it to start again from the first page.
        :return: OrgDirectoryListResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_org_directory_endpoint_org_org_id_directory_get_with_http_info(org_id, **kwargs)  # noqa: E501
        else:
            (data) = self.list_org_directory_endpoint_org_org_id_directory_get_with_http_info(org_id, **kwargs)  # noqa: E501
            return data

    def list_org_directory_endpoint_org_org_id_directory_get_with_http_info(self, org_id, **kwargs):  # noqa: E501
        """List Org Directory  # noqa: E501

        List active organization members for invite pickers: identity_user_id, email, and display_name only. Available to any org member (not just admins). Cursor-paginated on membership created_at.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_org_directory_endpoint_org_org_id_directory_get_with_http_info(org_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object org_id: Organization UUID (same as the caller's active tenant id). A foreign org id returns 404. (required)
        :param object limit: Maximum number of items to return on this page.
        :param object cursor: Opaque pagination token from the previous response's `next_cursor`. Pass it back unchanged; omit it to start again from the first page.
        :return: OrgDirectoryListResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['org_id', 'limit', 'cursor']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_org_directory_endpoint_org_org_id_directory_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'org_id' is set
        if ('org_id' not in params or
                params['org_id'] is None):
            raise ValueError("Missing the required parameter `org_id` when calling `list_org_directory_endpoint_org_org_id_directory_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'org_id' in params:
            path_params['org_id'] = params['org_id']  # noqa: E501

        query_params = []
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'cursor' in params:
            query_params.append(('cursor', params['cursor']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['PortalSessionCookie']  # noqa: E501

        return self.api_client.call_api(
            '/org/{org_id}/directory', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='OrgDirectoryListResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
