# coding: utf-8

"""
    Hyperstruck Core

    Create and operate hosted agents, runs, learnings, and integrations. Authenticate resource requests with a Bearer API key unless an endpoint explicitly requires a portal session.  # noqa: E501

    OpenAPI spec version: 0.1.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from hyperstruck.api_client import ApiClient


class OrgSpacesApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def create_org_space_endpoint_org_org_id_spaces_post(self, body, org_id, **kwargs):  # noqa: E501
        """Create Org Space  # noqa: E501

        Create a domain space in the organization, with the caller seeded as steward. Requires developer role or higher.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_org_space_endpoint_org_org_id_spaces_post(body, org_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateSpaceRequest body: (required)
        :param object org_id: Organization UUID (same as the caller's active tenant id). A foreign org id returns 404. (required)
        :return: SpaceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_org_space_endpoint_org_org_id_spaces_post_with_http_info(body, org_id, **kwargs)  # noqa: E501
        else:
            (data) = self.create_org_space_endpoint_org_org_id_spaces_post_with_http_info(body, org_id, **kwargs)  # noqa: E501
            return data

    def create_org_space_endpoint_org_org_id_spaces_post_with_http_info(self, body, org_id, **kwargs):  # noqa: E501
        """Create Org Space  # noqa: E501

        Create a domain space in the organization, with the caller seeded as steward. Requires developer role or higher.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_org_space_endpoint_org_org_id_spaces_post_with_http_info(body, org_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateSpaceRequest body: (required)
        :param object org_id: Organization UUID (same as the caller's active tenant id). A foreign org id returns 404. (required)
        :return: SpaceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'org_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_org_space_endpoint_org_org_id_spaces_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_org_space_endpoint_org_org_id_spaces_post`")  # noqa: E501
        # verify the required parameter 'org_id' is set
        if ('org_id' not in params or
                params['org_id'] is None):
            raise ValueError("Missing the required parameter `org_id` when calling `create_org_space_endpoint_org_org_id_spaces_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'org_id' in params:
            path_params['org_id'] = params['org_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['PortalSessionCookie']  # noqa: E501

        return self.api_client.call_api(
            '/org/{org_id}/spaces', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SpaceResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_org_space_endpoint_org_org_id_spaces_space_id_delete(self, org_id, space_id, **kwargs):  # noqa: E501
        """Delete Org Space  # noqa: E501

        Permanently delete a domain space. Requires space steward (org admins qualify). Rejected with 409 while the space still homes agents; only kind='domain' spaces are deletable.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_org_space_endpoint_org_org_id_spaces_space_id_delete(org_id, space_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object org_id: Organization UUID (same as the caller's active tenant id). A foreign org id returns 404. (required)
        :param object space_id: Space UUID returned by the spaces list or create endpoint. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_org_space_endpoint_org_org_id_spaces_space_id_delete_with_http_info(org_id, space_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_org_space_endpoint_org_org_id_spaces_space_id_delete_with_http_info(org_id, space_id, **kwargs)  # noqa: E501
            return data

    def delete_org_space_endpoint_org_org_id_spaces_space_id_delete_with_http_info(self, org_id, space_id, **kwargs):  # noqa: E501
        """Delete Org Space  # noqa: E501

        Permanently delete a domain space. Requires space steward (org admins qualify). Rejected with 409 while the space still homes agents; only kind='domain' spaces are deletable.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_org_space_endpoint_org_org_id_spaces_space_id_delete_with_http_info(org_id, space_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object org_id: Organization UUID (same as the caller's active tenant id). A foreign org id returns 404. (required)
        :param object space_id: Space UUID returned by the spaces list or create endpoint. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['org_id', 'space_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_org_space_endpoint_org_org_id_spaces_space_id_delete" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'org_id' is set
        if ('org_id' not in params or
                params['org_id'] is None):
            raise ValueError("Missing the required parameter `org_id` when calling `delete_org_space_endpoint_org_org_id_spaces_space_id_delete`")  # noqa: E501
        # verify the required parameter 'space_id' is set
        if ('space_id' not in params or
                params['space_id'] is None):
            raise ValueError("Missing the required parameter `space_id` when calling `delete_org_space_endpoint_org_org_id_spaces_space_id_delete`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'org_id' in params:
            path_params['org_id'] = params['org_id']  # noqa: E501
        if 'space_id' in params:
            path_params['space_id'] = params['space_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['PortalSessionCookie']  # noqa: E501

        return self.api_client.call_api(
            '/org/{org_id}/spaces/{space_id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def invite_space_member_endpoint_org_org_id_spaces_space_id_members_post(self, body, org_id, space_id, **kwargs):  # noqa: E501
        """Invite Space Member  # noqa: E501

        Grant an org member a direct role on this space (default 'contributor'). Requires space steward. Domain spaces: any steward. Non-domain spaces: org admin/owner only (intentional override for personal/commons/department). The invitee must already hold an active membership in this organization.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.invite_space_member_endpoint_org_org_id_spaces_space_id_members_post(body, org_id, space_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SpaceMemberInviteRequest body: (required)
        :param object org_id: Organization UUID (same as the caller's active tenant id). A foreign org id returns 404. (required)
        :param object space_id: Space UUID returned by the spaces list or create endpoint. (required)
        :return: SpaceMemberResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.invite_space_member_endpoint_org_org_id_spaces_space_id_members_post_with_http_info(body, org_id, space_id, **kwargs)  # noqa: E501
        else:
            (data) = self.invite_space_member_endpoint_org_org_id_spaces_space_id_members_post_with_http_info(body, org_id, space_id, **kwargs)  # noqa: E501
            return data

    def invite_space_member_endpoint_org_org_id_spaces_space_id_members_post_with_http_info(self, body, org_id, space_id, **kwargs):  # noqa: E501
        """Invite Space Member  # noqa: E501

        Grant an org member a direct role on this space (default 'contributor'). Requires space steward. Domain spaces: any steward. Non-domain spaces: org admin/owner only (intentional override for personal/commons/department). The invitee must already hold an active membership in this organization.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.invite_space_member_endpoint_org_org_id_spaces_space_id_members_post_with_http_info(body, org_id, space_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SpaceMemberInviteRequest body: (required)
        :param object org_id: Organization UUID (same as the caller's active tenant id). A foreign org id returns 404. (required)
        :param object space_id: Space UUID returned by the spaces list or create endpoint. (required)
        :return: SpaceMemberResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'org_id', 'space_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method invite_space_member_endpoint_org_org_id_spaces_space_id_members_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `invite_space_member_endpoint_org_org_id_spaces_space_id_members_post`")  # noqa: E501
        # verify the required parameter 'org_id' is set
        if ('org_id' not in params or
                params['org_id'] is None):
            raise ValueError("Missing the required parameter `org_id` when calling `invite_space_member_endpoint_org_org_id_spaces_space_id_members_post`")  # noqa: E501
        # verify the required parameter 'space_id' is set
        if ('space_id' not in params or
                params['space_id'] is None):
            raise ValueError("Missing the required parameter `space_id` when calling `invite_space_member_endpoint_org_org_id_spaces_space_id_members_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'org_id' in params:
            path_params['org_id'] = params['org_id']  # noqa: E501
        if 'space_id' in params:
            path_params['space_id'] = params['space_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['PortalSessionCookie']  # noqa: E501

        return self.api_client.call_api(
            '/org/{org_id}/spaces/{space_id}/members', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SpaceMemberResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_space_members_endpoint_org_org_id_spaces_space_id_members_get(self, org_id, space_id, **kwargs):  # noqa: E501
        """List Space Members  # noqa: E501

        List direct per-user role grants on this space (steward-readable). Userset grants (e.g. commons organization#member) are omitted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_space_members_endpoint_org_org_id_spaces_space_id_members_get(org_id, space_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object org_id: Organization UUID (same as the caller's active tenant id). A foreign org id returns 404. (required)
        :param object space_id: Space UUID returned by the spaces list or create endpoint. (required)
        :return: SpaceMemberListResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_space_members_endpoint_org_org_id_spaces_space_id_members_get_with_http_info(org_id, space_id, **kwargs)  # noqa: E501
        else:
            (data) = self.list_space_members_endpoint_org_org_id_spaces_space_id_members_get_with_http_info(org_id, space_id, **kwargs)  # noqa: E501
            return data

    def list_space_members_endpoint_org_org_id_spaces_space_id_members_get_with_http_info(self, org_id, space_id, **kwargs):  # noqa: E501
        """List Space Members  # noqa: E501

        List direct per-user role grants on this space (steward-readable). Userset grants (e.g. commons organization#member) are omitted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_space_members_endpoint_org_org_id_spaces_space_id_members_get_with_http_info(org_id, space_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object org_id: Organization UUID (same as the caller's active tenant id). A foreign org id returns 404. (required)
        :param object space_id: Space UUID returned by the spaces list or create endpoint. (required)
        :return: SpaceMemberListResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['org_id', 'space_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_space_members_endpoint_org_org_id_spaces_space_id_members_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'org_id' is set
        if ('org_id' not in params or
                params['org_id'] is None):
            raise ValueError("Missing the required parameter `org_id` when calling `list_space_members_endpoint_org_org_id_spaces_space_id_members_get`")  # noqa: E501
        # verify the required parameter 'space_id' is set
        if ('space_id' not in params or
                params['space_id'] is None):
            raise ValueError("Missing the required parameter `space_id` when calling `list_space_members_endpoint_org_org_id_spaces_space_id_members_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'org_id' in params:
            path_params['org_id'] = params['org_id']  # noqa: E501
        if 'space_id' in params:
            path_params['space_id'] = params['space_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['PortalSessionCookie']  # noqa: E501

        return self.api_client.call_api(
            '/org/{org_id}/spaces/{space_id}/members', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SpaceMemberListResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def revoke_space_member_endpoint_org_org_id_spaces_space_id_members_identity_user_id_delete(self, org_id, space_id, identity_user_id, **kwargs):  # noqa: E501
        """Revoke Space Member  # noqa: E501

        Remove every direct role a member holds on this space. Requires space steward.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.revoke_space_member_endpoint_org_org_id_spaces_space_id_members_identity_user_id_delete(org_id, space_id, identity_user_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object org_id: Organization UUID (same as the caller's active tenant id). A foreign org id returns 404. (required)
        :param object space_id: Space UUID returned by the spaces list or create endpoint. (required)
        :param object identity_user_id: Identity user UUID for an organization member. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.revoke_space_member_endpoint_org_org_id_spaces_space_id_members_identity_user_id_delete_with_http_info(org_id, space_id, identity_user_id, **kwargs)  # noqa: E501
        else:
            (data) = self.revoke_space_member_endpoint_org_org_id_spaces_space_id_members_identity_user_id_delete_with_http_info(org_id, space_id, identity_user_id, **kwargs)  # noqa: E501
            return data

    def revoke_space_member_endpoint_org_org_id_spaces_space_id_members_identity_user_id_delete_with_http_info(self, org_id, space_id, identity_user_id, **kwargs):  # noqa: E501
        """Revoke Space Member  # noqa: E501

        Remove every direct role a member holds on this space. Requires space steward.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.revoke_space_member_endpoint_org_org_id_spaces_space_id_members_identity_user_id_delete_with_http_info(org_id, space_id, identity_user_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object org_id: Organization UUID (same as the caller's active tenant id). A foreign org id returns 404. (required)
        :param object space_id: Space UUID returned by the spaces list or create endpoint. (required)
        :param object identity_user_id: Identity user UUID for an organization member. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['org_id', 'space_id', 'identity_user_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method revoke_space_member_endpoint_org_org_id_spaces_space_id_members_identity_user_id_delete" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'org_id' is set
        if ('org_id' not in params or
                params['org_id'] is None):
            raise ValueError("Missing the required parameter `org_id` when calling `revoke_space_member_endpoint_org_org_id_spaces_space_id_members_identity_user_id_delete`")  # noqa: E501
        # verify the required parameter 'space_id' is set
        if ('space_id' not in params or
                params['space_id'] is None):
            raise ValueError("Missing the required parameter `space_id` when calling `revoke_space_member_endpoint_org_org_id_spaces_space_id_members_identity_user_id_delete`")  # noqa: E501
        # verify the required parameter 'identity_user_id' is set
        if ('identity_user_id' not in params or
                params['identity_user_id'] is None):
            raise ValueError("Missing the required parameter `identity_user_id` when calling `revoke_space_member_endpoint_org_org_id_spaces_space_id_members_identity_user_id_delete`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'org_id' in params:
            path_params['org_id'] = params['org_id']  # noqa: E501
        if 'space_id' in params:
            path_params['space_id'] = params['space_id']  # noqa: E501
        if 'identity_user_id' in params:
            path_params['identity_user_id'] = params['identity_user_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['PortalSessionCookie']  # noqa: E501

        return self.api_client.call_api(
            '/org/{org_id}/spaces/{space_id}/members/{identity_user_id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
