# coding: utf-8

"""
    Hyperstruck Core

    Create and operate hosted agents, runs, learnings, and integrations. Authenticate resource requests with a Bearer API key unless an endpoint explicitly requires a portal session.  # noqa: E501

    OpenAPI spec version: 0.1.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from hyperstruck.api_client import ApiClient


class OrgMembersApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def list_org_members_endpoint_org_org_id_members_get(self, org_id, **kwargs):  # noqa: E501
        """List Org Members  # noqa: E501

        List the organization's members (admin/owner only), excluding disabled accounts. `space_memberships` reports each member's direct/explicit space grants only (never implied commons/org-admin access). Cursor-paginated on `created_at`.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_org_members_endpoint_org_org_id_members_get(org_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object org_id: Organization UUID (same as the caller's active tenant id). A foreign org id returns 404. (required)
        :param object limit: Maximum number of items to return on this page.
        :param object cursor: Opaque pagination token from the previous response's `next_cursor`. Pass it back unchanged; omit it to start again from the first page.
        :return: OrgMemberListResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_org_members_endpoint_org_org_id_members_get_with_http_info(org_id, **kwargs)  # noqa: E501
        else:
            (data) = self.list_org_members_endpoint_org_org_id_members_get_with_http_info(org_id, **kwargs)  # noqa: E501
            return data

    def list_org_members_endpoint_org_org_id_members_get_with_http_info(self, org_id, **kwargs):  # noqa: E501
        """List Org Members  # noqa: E501

        List the organization's members (admin/owner only), excluding disabled accounts. `space_memberships` reports each member's direct/explicit space grants only (never implied commons/org-admin access). Cursor-paginated on `created_at`.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_org_members_endpoint_org_org_id_members_get_with_http_info(org_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object org_id: Organization UUID (same as the caller's active tenant id). A foreign org id returns 404. (required)
        :param object limit: Maximum number of items to return on this page.
        :param object cursor: Opaque pagination token from the previous response's `next_cursor`. Pass it back unchanged; omit it to start again from the first page.
        :return: OrgMemberListResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['org_id', 'limit', 'cursor']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_org_members_endpoint_org_org_id_members_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'org_id' is set
        if ('org_id' not in params or
                params['org_id'] is None):
            raise ValueError("Missing the required parameter `org_id` when calling `list_org_members_endpoint_org_org_id_members_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'org_id' in params:
            path_params['org_id'] = params['org_id']  # noqa: E501

        query_params = []
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'cursor' in params:
            query_params.append(('cursor', params['cursor']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['PortalSessionCookie']  # noqa: E501

        return self.api_client.call_api(
            '/org/{org_id}/members', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='OrgMemberListResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_org_member_role_endpoint_org_org_id_members_identity_user_id_patch(self, body, org_id, identity_user_id, **kwargs):  # noqa: E501
        """Change Org Member Role  # noqa: E501

        Change a member's role (admin/owner only). Role safety rules: a caller cannot change their own role, only an owner may assign the owner role, an admin may not modify another owner's role, and the last active owner cannot be demoted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_org_member_role_endpoint_org_org_id_members_identity_user_id_patch(body, org_id, identity_user_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param OrgMemberRoleUpdateRequest body: (required)
        :param object org_id: Organization UUID (same as the caller's active tenant id). A foreign org id returns 404. (required)
        :param object identity_user_id: Identity user UUID for an organization member. (required)
        :return: OrgMemberRoleUpdateResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_org_member_role_endpoint_org_org_id_members_identity_user_id_patch_with_http_info(body, org_id, identity_user_id, **kwargs)  # noqa: E501
        else:
            (data) = self.update_org_member_role_endpoint_org_org_id_members_identity_user_id_patch_with_http_info(body, org_id, identity_user_id, **kwargs)  # noqa: E501
            return data

    def update_org_member_role_endpoint_org_org_id_members_identity_user_id_patch_with_http_info(self, body, org_id, identity_user_id, **kwargs):  # noqa: E501
        """Change Org Member Role  # noqa: E501

        Change a member's role (admin/owner only). Role safety rules: a caller cannot change their own role, only an owner may assign the owner role, an admin may not modify another owner's role, and the last active owner cannot be demoted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_org_member_role_endpoint_org_org_id_members_identity_user_id_patch_with_http_info(body, org_id, identity_user_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param OrgMemberRoleUpdateRequest body: (required)
        :param object org_id: Organization UUID (same as the caller's active tenant id). A foreign org id returns 404. (required)
        :param object identity_user_id: Identity user UUID for an organization member. (required)
        :return: OrgMemberRoleUpdateResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'org_id', 'identity_user_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_org_member_role_endpoint_org_org_id_members_identity_user_id_patch" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_org_member_role_endpoint_org_org_id_members_identity_user_id_patch`")  # noqa: E501
        # verify the required parameter 'org_id' is set
        if ('org_id' not in params or
                params['org_id'] is None):
            raise ValueError("Missing the required parameter `org_id` when calling `update_org_member_role_endpoint_org_org_id_members_identity_user_id_patch`")  # noqa: E501
        # verify the required parameter 'identity_user_id' is set
        if ('identity_user_id' not in params or
                params['identity_user_id'] is None):
            raise ValueError("Missing the required parameter `identity_user_id` when calling `update_org_member_role_endpoint_org_org_id_members_identity_user_id_patch`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'org_id' in params:
            path_params['org_id'] = params['org_id']  # noqa: E501
        if 'identity_user_id' in params:
            path_params['identity_user_id'] = params['identity_user_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['PortalSessionCookie']  # noqa: E501

        return self.api_client.call_api(
            '/org/{org_id}/members/{identity_user_id}', 'PATCH',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='OrgMemberRoleUpdateResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
