# coding: utf-8

"""
    Hyperstruck Core

    Create and operate hosted agents, runs, learnings, and integrations. Authenticate resource requests with a Bearer API key unless an endpoint explicitly requires a portal session.  # noqa: E501

    OpenAPI spec version: 0.1.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from hyperstruck.api_client import ApiClient


class PlansApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def search_agent_similar_plans_endpoint_agents_agent_id_plans_similar_get(self, agent_id, q, **kwargs):  # noqa: E501
        """Search similar plans for one agent  # noqa: E501

        Search one agent's prior plans for approaches relevant to a new goal. Use this read-only endpoint when planning should benefit from that agent's previous experience.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.search_agent_similar_plans_endpoint_agents_agent_id_plans_similar_get(agent_id, q, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object q: Search query text used to retrieve similar plans. (required)
        :param object limit: Optional max results; capped at 10 per agent.
        :return: SimilarPlansResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.search_agent_similar_plans_endpoint_agents_agent_id_plans_similar_get_with_http_info(agent_id, q, **kwargs)  # noqa: E501
        else:
            (data) = self.search_agent_similar_plans_endpoint_agents_agent_id_plans_similar_get_with_http_info(agent_id, q, **kwargs)  # noqa: E501
            return data

    def search_agent_similar_plans_endpoint_agents_agent_id_plans_similar_get_with_http_info(self, agent_id, q, **kwargs):  # noqa: E501
        """Search similar plans for one agent  # noqa: E501

        Search one agent's prior plans for approaches relevant to a new goal. Use this read-only endpoint when planning should benefit from that agent's previous experience.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.search_agent_similar_plans_endpoint_agents_agent_id_plans_similar_get_with_http_info(agent_id, q, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object q: Search query text used to retrieve similar plans. (required)
        :param object limit: Optional max results; capped at 10 per agent.
        :return: SimilarPlansResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['agent_id', 'q', 'limit']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method search_agent_similar_plans_endpoint_agents_agent_id_plans_similar_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'agent_id' is set
        if ('agent_id' not in params or
                params['agent_id'] is None):
            raise ValueError("Missing the required parameter `agent_id` when calling `search_agent_similar_plans_endpoint_agents_agent_id_plans_similar_get`")  # noqa: E501
        # verify the required parameter 'q' is set
        if ('q' not in params or
                params['q'] is None):
            raise ValueError("Missing the required parameter `q` when calling `search_agent_similar_plans_endpoint_agents_agent_id_plans_similar_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'agent_id' in params:
            path_params['agent_id'] = params['agent_id']  # noqa: E501

        query_params = []
        if 'q' in params:
            query_params.append(('q', params['q']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/agents/{agent_id}/plans/similar', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SimilarPlansResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def search_multi_agent_similar_plans_endpoint_plans_similar_post(self, body, **kwargs):  # noqa: E501
        """Search similar plans across multiple agents  # noqa: E501

        Search prior plans across several accessible agents in one request. Use this for coordination or routing when experience may be distributed across agents.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.search_multi_agent_similar_plans_endpoint_plans_similar_post(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param MultiAgentPlanSearchRequest body: (required)
        :return: SimilarPlansResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.search_multi_agent_similar_plans_endpoint_plans_similar_post_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.search_multi_agent_similar_plans_endpoint_plans_similar_post_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def search_multi_agent_similar_plans_endpoint_plans_similar_post_with_http_info(self, body, **kwargs):  # noqa: E501
        """Search similar plans across multiple agents  # noqa: E501

        Search prior plans across several accessible agents in one request. Use this for coordination or routing when experience may be distributed across agents.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.search_multi_agent_similar_plans_endpoint_plans_similar_post_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param MultiAgentPlanSearchRequest body: (required)
        :return: SimilarPlansResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method search_multi_agent_similar_plans_endpoint_plans_similar_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `search_multi_agent_similar_plans_endpoint_plans_similar_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/plans/similar', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SimilarPlansResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
