# coding: utf-8

"""
    Hyperstruck Core

    Create and operate hosted agents, runs, learnings, and integrations. Authenticate resource requests with a Bearer API key unless an endpoint explicitly requires a portal session.  # noqa: E501

    OpenAPI spec version: 0.1.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from hyperstruck.api_client import ApiClient


class RunsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def dispatch_goal_run_endpoint_agents_agent_id_goals_post(self, body, agent_id, **kwargs):  # noqa: E501
        """Create Goal Run  # noqa: E501

        Start asynchronous work for a hosted agent. A 202 response contains the server-issued run UUID; use `GET /runs/{run_id}` to follow its status and resume it if human input is requested.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.dispatch_goal_run_endpoint_agents_agent_id_goals_post(body, agent_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param GoalRunRequest body: (required)
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :return: GoalRunAcceptedResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.dispatch_goal_run_endpoint_agents_agent_id_goals_post_with_http_info(body, agent_id, **kwargs)  # noqa: E501
        else:
            (data) = self.dispatch_goal_run_endpoint_agents_agent_id_goals_post_with_http_info(body, agent_id, **kwargs)  # noqa: E501
            return data

    def dispatch_goal_run_endpoint_agents_agent_id_goals_post_with_http_info(self, body, agent_id, **kwargs):  # noqa: E501
        """Create Goal Run  # noqa: E501

        Start asynchronous work for a hosted agent. A 202 response contains the server-issued run UUID; use `GET /runs/{run_id}` to follow its status and resume it if human input is requested.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.dispatch_goal_run_endpoint_agents_agent_id_goals_post_with_http_info(body, agent_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param GoalRunRequest body: (required)
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :return: GoalRunAcceptedResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'agent_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method dispatch_goal_run_endpoint_agents_agent_id_goals_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `dispatch_goal_run_endpoint_agents_agent_id_goals_post`")  # noqa: E501
        # verify the required parameter 'agent_id' is set
        if ('agent_id' not in params or
                params['agent_id'] is None):
            raise ValueError("Missing the required parameter `agent_id` when calling `dispatch_goal_run_endpoint_agents_agent_id_goals_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'agent_id' in params:
            path_params['agent_id'] = params['agent_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/agents/{agent_id}/goals', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GoalRunAcceptedResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_run_endpoint_runs_run_id_get(self, run_id, **kwargs):  # noqa: E501
        """Get Run  # noqa: E501

        Retrieve the latest state and result of a hosted run by its server-issued UUID. Poll this endpoint after starting or resuming a run until it reaches a terminal state or requests human input.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_run_endpoint_runs_run_id_get(run_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object run_id: Server-issued hosted run UUID returned when a run is accepted. (required)
        :return: RunDetailResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_run_endpoint_runs_run_id_get_with_http_info(run_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_run_endpoint_runs_run_id_get_with_http_info(run_id, **kwargs)  # noqa: E501
            return data

    def get_run_endpoint_runs_run_id_get_with_http_info(self, run_id, **kwargs):  # noqa: E501
        """Get Run  # noqa: E501

        Retrieve the latest state and result of a hosted run by its server-issued UUID. Poll this endpoint after starting or resuming a run until it reaches a terminal state or requests human input.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_run_endpoint_runs_run_id_get_with_http_info(run_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object run_id: Server-issued hosted run UUID returned when a run is accepted. (required)
        :return: RunDetailResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['run_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_run_endpoint_runs_run_id_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'run_id' is set
        if ('run_id' not in params or
                params['run_id'] is None):
            raise ValueError("Missing the required parameter `run_id` when calling `get_run_endpoint_runs_run_id_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'run_id' in params:
            path_params['run_id'] = params['run_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/runs/{run_id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='RunDetailResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_agent_runs_endpoint_agents_agent_id_runs_get(self, agent_id, **kwargs):  # noqa: E501
        """List Agent Runs  # noqa: E501

        List hosted runs for one agent, optionally filtered by status, type, session, or reporting window. Use the returned run UUIDs with `/runs`.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_agent_runs_endpoint_agents_agent_id_runs_get(agent_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object status: Filter by one or more run statuses.
        :param object run_type: Filter by one or more run types (goal|resume).
        :param object session_id: Filter to a single session.
        :param UsageTimeWindow window: Window bounding which runs are returned.
        :param object limit: Maximum number of items to return on this page.
        :param object cursor: Opaque pagination token from the previous response's `next_cursor`. Pass it back unchanged; omit it to start again from the first page.
        :return: AgentRunListResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_agent_runs_endpoint_agents_agent_id_runs_get_with_http_info(agent_id, **kwargs)  # noqa: E501
        else:
            (data) = self.list_agent_runs_endpoint_agents_agent_id_runs_get_with_http_info(agent_id, **kwargs)  # noqa: E501
            return data

    def list_agent_runs_endpoint_agents_agent_id_runs_get_with_http_info(self, agent_id, **kwargs):  # noqa: E501
        """List Agent Runs  # noqa: E501

        List hosted runs for one agent, optionally filtered by status, type, session, or reporting window. Use the returned run UUIDs with `/runs`.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_agent_runs_endpoint_agents_agent_id_runs_get_with_http_info(agent_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object agent_id: Hosted agent UUID returned by the agent create or list endpoint. (required)
        :param object status: Filter by one or more run statuses.
        :param object run_type: Filter by one or more run types (goal|resume).
        :param object session_id: Filter to a single session.
        :param UsageTimeWindow window: Window bounding which runs are returned.
        :param object limit: Maximum number of items to return on this page.
        :param object cursor: Opaque pagination token from the previous response's `next_cursor`. Pass it back unchanged; omit it to start again from the first page.
        :return: AgentRunListResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['agent_id', 'status', 'run_type', 'session_id', 'window', 'limit', 'cursor']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_agent_runs_endpoint_agents_agent_id_runs_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'agent_id' is set
        if ('agent_id' not in params or
                params['agent_id'] is None):
            raise ValueError("Missing the required parameter `agent_id` when calling `list_agent_runs_endpoint_agents_agent_id_runs_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'agent_id' in params:
            path_params['agent_id'] = params['agent_id']  # noqa: E501

        query_params = []
        if 'status' in params:
            query_params.append(('status', params['status']))  # noqa: E501
        if 'run_type' in params:
            query_params.append(('run_type', params['run_type']))  # noqa: E501
        if 'session_id' in params:
            query_params.append(('session_id', params['session_id']))  # noqa: E501
        if 'window' in params:
            query_params.append(('window', params['window']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'cursor' in params:
            query_params.append(('cursor', params['cursor']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/agents/{agent_id}/runs', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AgentRunListResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_session_runs_endpoint_sessions_session_id_runs_get(self, session_id, **kwargs):  # noqa: E501
        """List Session Runs  # noqa: E501

        List the hosted runs associated with one conversation session, newest first. Use the returned run UUIDs to inspect individual run details.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_session_runs_endpoint_sessions_session_id_runs_get(session_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object session_id: Conversation session UUID associated with an agent. (required)
        :param object limit: Maximum number of items to return on this page.
        :param object cursor: Opaque pagination token from the previous response's `next_cursor`. Pass it back unchanged; omit it to start again from the first page.
        :return: RunListResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_session_runs_endpoint_sessions_session_id_runs_get_with_http_info(session_id, **kwargs)  # noqa: E501
        else:
            (data) = self.list_session_runs_endpoint_sessions_session_id_runs_get_with_http_info(session_id, **kwargs)  # noqa: E501
            return data

    def list_session_runs_endpoint_sessions_session_id_runs_get_with_http_info(self, session_id, **kwargs):  # noqa: E501
        """List Session Runs  # noqa: E501

        List the hosted runs associated with one conversation session, newest first. Use the returned run UUIDs to inspect individual run details.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_session_runs_endpoint_sessions_session_id_runs_get_with_http_info(session_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object session_id: Conversation session UUID associated with an agent. (required)
        :param object limit: Maximum number of items to return on this page.
        :param object cursor: Opaque pagination token from the previous response's `next_cursor`. Pass it back unchanged; omit it to start again from the first page.
        :return: RunListResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['session_id', 'limit', 'cursor']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_session_runs_endpoint_sessions_session_id_runs_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'session_id' is set
        if ('session_id' not in params or
                params['session_id'] is None):
            raise ValueError("Missing the required parameter `session_id` when calling `list_session_runs_endpoint_sessions_session_id_runs_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'session_id' in params:
            path_params['session_id'] = params['session_id']  # noqa: E501

        query_params = []
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'cursor' in params:
            query_params.append(('cursor', params['cursor']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/sessions/{session_id}/runs', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='RunListResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def resume_run_endpoint_runs_run_id_resume_post(self, body, run_id, **kwargs):  # noqa: E501
        """Resume Run  # noqa: E501

        Continue a suspended hosted run with the requested human decision. A 202 response contains the accepted child run; follow it with `GET /runs/{run_id}`.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.resume_run_endpoint_runs_run_id_resume_post(body, run_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ResumeRunRequest body: (required)
        :param object run_id: Server-issued hosted run UUID returned when a run is accepted. (required)
        :return: GoalRunAcceptedResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.resume_run_endpoint_runs_run_id_resume_post_with_http_info(body, run_id, **kwargs)  # noqa: E501
        else:
            (data) = self.resume_run_endpoint_runs_run_id_resume_post_with_http_info(body, run_id, **kwargs)  # noqa: E501
            return data

    def resume_run_endpoint_runs_run_id_resume_post_with_http_info(self, body, run_id, **kwargs):  # noqa: E501
        """Resume Run  # noqa: E501

        Continue a suspended hosted run with the requested human decision. A 202 response contains the accepted child run; follow it with `GET /runs/{run_id}`.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.resume_run_endpoint_runs_run_id_resume_post_with_http_info(body, run_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ResumeRunRequest body: (required)
        :param object run_id: Server-issued hosted run UUID returned when a run is accepted. (required)
        :return: GoalRunAcceptedResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'run_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method resume_run_endpoint_runs_run_id_resume_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `resume_run_endpoint_runs_run_id_resume_post`")  # noqa: E501
        # verify the required parameter 'run_id' is set
        if ('run_id' not in params or
                params['run_id'] is None):
            raise ValueError("Missing the required parameter `run_id` when calling `resume_run_endpoint_runs_run_id_resume_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'run_id' in params:
            path_params['run_id'] = params['run_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/runs/{run_id}/resume', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GoalRunAcceptedResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
