# coding: utf-8

"""
    Hyperstruck Core

    Create and operate hosted agents, runs, learnings, and integrations. Authenticate resource requests with a Bearer API key unless an endpoint explicitly requires a portal session.  # noqa: E501

    OpenAPI spec version: 0.1.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from hyperstruck.api_client import ApiClient


class SpacesApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def clear_space_external_registration_endpoint_spaces_space_id_external_registration_delete(self, space_id, **kwargs):  # noqa: E501
        """Clear Space External Registration  # noqa: E501

        Unregister a domain space, so the external container it mirrored resolves to nothing and its identifier is free for another space to take. Requires an API key with the `agents:write` scope and publish rights on the space. Returns the space as it now stands rather than 204, so a connector that unregisters and re-registers needs one round trip rather than two. Clearing a space that carries no registration succeeds and writes no audit row, so a retry is safe. Rejected with 400 for any space that is not `kind='domain'`.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.clear_space_external_registration_endpoint_spaces_space_id_external_registration_delete(space_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object space_id: Space UUID returned by the spaces list or create endpoint. (required)
        :return: SpaceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.clear_space_external_registration_endpoint_spaces_space_id_external_registration_delete_with_http_info(space_id, **kwargs)  # noqa: E501
        else:
            (data) = self.clear_space_external_registration_endpoint_spaces_space_id_external_registration_delete_with_http_info(space_id, **kwargs)  # noqa: E501
            return data

    def clear_space_external_registration_endpoint_spaces_space_id_external_registration_delete_with_http_info(self, space_id, **kwargs):  # noqa: E501
        """Clear Space External Registration  # noqa: E501

        Unregister a domain space, so the external container it mirrored resolves to nothing and its identifier is free for another space to take. Requires an API key with the `agents:write` scope and publish rights on the space. Returns the space as it now stands rather than 204, so a connector that unregisters and re-registers needs one round trip rather than two. Clearing a space that carries no registration succeeds and writes no audit row, so a retry is safe. Rejected with 400 for any space that is not `kind='domain'`.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.clear_space_external_registration_endpoint_spaces_space_id_external_registration_delete_with_http_info(space_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object space_id: Space UUID returned by the spaces list or create endpoint. (required)
        :return: SpaceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['space_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method clear_space_external_registration_endpoint_spaces_space_id_external_registration_delete" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'space_id' is set
        if ('space_id' not in params or
                params['space_id'] is None):
            raise ValueError("Missing the required parameter `space_id` when calling `clear_space_external_registration_endpoint_spaces_space_id_external_registration_delete`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'space_id' in params:
            path_params['space_id'] = params['space_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/spaces/{space_id}/external-registration', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SpaceResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_space_endpoint_spaces_post(self, body, **kwargs):  # noqa: E501
        """Create Space  # noqa: E501

        Create a domain space programmatically, so a connector or a test harness can provision its own container rather than waiting on someone to click. Requires an API key with the `spaces:write` scope and all-spaces reach; a key confined to selected spaces cannot create new ones. The creating key becomes the space's provisioner, which is what lets it delete the space again later. People use `POST /org/{org_id}/spaces` instead, which makes the creator a steward; a space created here is stewarded by the organization's admins.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_space_endpoint_spaces_post(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateSpaceRequest body: (required)
        :return: SpaceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_space_endpoint_spaces_post_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.create_space_endpoint_spaces_post_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def create_space_endpoint_spaces_post_with_http_info(self, body, **kwargs):  # noqa: E501
        """Create Space  # noqa: E501

        Create a domain space programmatically, so a connector or a test harness can provision its own container rather than waiting on someone to click. Requires an API key with the `spaces:write` scope and all-spaces reach; a key confined to selected spaces cannot create new ones. The creating key becomes the space's provisioner, which is what lets it delete the space again later. People use `POST /org/{org_id}/spaces` instead, which makes the creator a steward; a space created here is stewarded by the organization's admins.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_space_endpoint_spaces_post_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateSpaceRequest body: (required)
        :return: SpaceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_space_endpoint_spaces_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_space_endpoint_spaces_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/spaces', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SpaceResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_space_endpoint_spaces_space_id_delete(self, space_id, **kwargs):  # noqa: E501
        """Delete Space  # noqa: E501

        Permanently delete a domain space this key created. Requires the `spaces:write` scope and provisioner rights, which a key holds only on spaces it provisioned itself: a key cannot delete a space a person made, or one another key made. Rejected with 409 while the space still homes agents, so a caller tears its agents down first; only `kind='domain'` spaces are deletable, as on the portal route. People delete spaces through `DELETE /org/{org_id}/spaces/{space_id}`, which asks for steward instead.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_space_endpoint_spaces_space_id_delete(space_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object space_id: Space UUID returned by the spaces list or create endpoint. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_space_endpoint_spaces_space_id_delete_with_http_info(space_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_space_endpoint_spaces_space_id_delete_with_http_info(space_id, **kwargs)  # noqa: E501
            return data

    def delete_space_endpoint_spaces_space_id_delete_with_http_info(self, space_id, **kwargs):  # noqa: E501
        """Delete Space  # noqa: E501

        Permanently delete a domain space this key created. Requires the `spaces:write` scope and provisioner rights, which a key holds only on spaces it provisioned itself: a key cannot delete a space a person made, or one another key made. Rejected with 409 while the space still homes agents, so a caller tears its agents down first; only `kind='domain'` spaces are deletable, as on the portal route. People delete spaces through `DELETE /org/{org_id}/spaces/{space_id}`, which asks for steward instead.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_space_endpoint_spaces_space_id_delete_with_http_info(space_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object space_id: Space UUID returned by the spaces list or create endpoint. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['space_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_space_endpoint_spaces_space_id_delete" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'space_id' is set
        if ('space_id' not in params or
                params['space_id'] is None):
            raise ValueError("Missing the required parameter `space_id` when calling `delete_space_endpoint_spaces_space_id_delete`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'space_id' in params:
            path_params['space_id'] = params['space_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/spaces/{space_id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_spaces_endpoint_spaces_get(self, **kwargs):  # noqa: E501
        """List Spaces  # noqa: E501

        List spaces in the active tenant. Default (`for=read`) returns spaces the caller can read. Pass `for=publish` for spaces the caller may publish to (agent home-space picker). When `for=publish`, personal spaces owned by other users are excluded.  Supply `external_system` and `external_id` together to resolve a registered external container to the space that mirrors it. An id that is registered nowhere, registered in another organization, or registered on a space you cannot read all return an empty list.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_spaces_endpoint_spaces_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object limit: Maximum number of items to return on this page.
        :param object cursor: Opaque pagination token from the previous response's `next_cursor`. Pass it back unchanged; omit it to start again from the first page.
        :param object _for: `read` (default): readable spaces. `publish`: spaces the caller may publish to (home-space picker).
        :param object external_system: With `external_id`, resolve a registered external container to its space. Matched lower-cased; both parameters are required together.
        :param object external_id: With `external_system`, the registered identifier to resolve. Matched verbatim, so case matters.
        :return: SpaceListResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_spaces_endpoint_spaces_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.list_spaces_endpoint_spaces_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def list_spaces_endpoint_spaces_get_with_http_info(self, **kwargs):  # noqa: E501
        """List Spaces  # noqa: E501

        List spaces in the active tenant. Default (`for=read`) returns spaces the caller can read. Pass `for=publish` for spaces the caller may publish to (agent home-space picker). When `for=publish`, personal spaces owned by other users are excluded.  Supply `external_system` and `external_id` together to resolve a registered external container to the space that mirrors it. An id that is registered nowhere, registered in another organization, or registered on a space you cannot read all return an empty list.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_spaces_endpoint_spaces_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object limit: Maximum number of items to return on this page.
        :param object cursor: Opaque pagination token from the previous response's `next_cursor`. Pass it back unchanged; omit it to start again from the first page.
        :param object _for: `read` (default): readable spaces. `publish`: spaces the caller may publish to (home-space picker).
        :param object external_system: With `external_id`, resolve a registered external container to its space. Matched lower-cased; both parameters are required together.
        :param object external_id: With `external_system`, the registered identifier to resolve. Matched verbatim, so case matters.
        :return: SpaceListResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['limit', 'cursor', '_for', 'external_system', 'external_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_spaces_endpoint_spaces_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'cursor' in params:
            query_params.append(('cursor', params['cursor']))  # noqa: E501
        if '_for' in params:
            query_params.append(('for', params['_for']))  # noqa: E501
        if 'external_system' in params:
            query_params.append(('external_system', params['external_system']))  # noqa: E501
        if 'external_id' in params:
            query_params.append(('external_id', params['external_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/spaces', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SpaceListResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def set_space_external_registration_endpoint_spaces_space_id_external_registration_put(self, body, space_id, **kwargs):  # noqa: E501
        """Set Space External Registration  # noqa: E501

        Register or re-point the external container a domain space mirrors, so a connector can keep the mapping current itself. Requires an API key with the `agents:write` scope and publish rights on the space; portal sessions use `PATCH /org/{org_id}/spaces/{space_id}` instead. The registration moves as one value: send `registration` carrying both members. To unregister, send `DELETE` to this same path. Rejected with 409 when another space in the organization already holds that registration, and with 400 for any space that is not `kind='domain'`. Re-asserting the registration the space already carries succeeds and writes no audit row.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.set_space_external_registration_endpoint_spaces_space_id_external_registration_put(body, space_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param UpdateSpaceRegistrationRequest body: (required)
        :param object space_id: Space UUID returned by the spaces list or create endpoint. (required)
        :return: SpaceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.set_space_external_registration_endpoint_spaces_space_id_external_registration_put_with_http_info(body, space_id, **kwargs)  # noqa: E501
        else:
            (data) = self.set_space_external_registration_endpoint_spaces_space_id_external_registration_put_with_http_info(body, space_id, **kwargs)  # noqa: E501
            return data

    def set_space_external_registration_endpoint_spaces_space_id_external_registration_put_with_http_info(self, body, space_id, **kwargs):  # noqa: E501
        """Set Space External Registration  # noqa: E501

        Register or re-point the external container a domain space mirrors, so a connector can keep the mapping current itself. Requires an API key with the `agents:write` scope and publish rights on the space; portal sessions use `PATCH /org/{org_id}/spaces/{space_id}` instead. The registration moves as one value: send `registration` carrying both members. To unregister, send `DELETE` to this same path. Rejected with 409 when another space in the organization already holds that registration, and with 400 for any space that is not `kind='domain'`. Re-asserting the registration the space already carries succeeds and writes no audit row.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.set_space_external_registration_endpoint_spaces_space_id_external_registration_put_with_http_info(body, space_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param UpdateSpaceRegistrationRequest body: (required)
        :param object space_id: Space UUID returned by the spaces list or create endpoint. (required)
        :return: SpaceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'space_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method set_space_external_registration_endpoint_spaces_space_id_external_registration_put" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `set_space_external_registration_endpoint_spaces_space_id_external_registration_put`")  # noqa: E501
        # verify the required parameter 'space_id' is set
        if ('space_id' not in params or
                params['space_id'] is None):
            raise ValueError("Missing the required parameter `space_id` when calling `set_space_external_registration_endpoint_spaces_space_id_external_registration_put`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'space_id' in params:
            path_params['space_id'] = params['space_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerApiKey']  # noqa: E501

        return self.api_client.call_api(
            '/spaces/{space_id}/external-registration', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SpaceResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
