# coding: utf-8

"""
    Hyperstruck Core

    Create and operate hosted agents, runs, learnings, and integrations. Authenticate resource requests with a Bearer API key unless an endpoint explicitly requires a portal session.  # noqa: E501

    OpenAPI spec version: 0.1.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from hyperstruck.api_client import ApiClient


class SpaceAdmittedSourcesApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def admit_source_endpoint_org_org_id_spaces_space_id_admitted_sources_post(self, body, org_id, space_id, **kwargs):  # noqa: E501
        """Admit a declared source in this space  # noqa: E501

        Record that content bearing this source id is not attacker-reachable within this space, so facts harvested from it are no longer held for review on arrival. Requires space steward. Refused with 409 when a live admission already covers the pair, which is a renewal. The response carries how far the grant reaches, because a grant in the shared tenant space reaches every account in it. It applies to facts harvested from now on: the rank a claim was minted with is permanent, so a backlog already held for review stays held.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.admit_source_endpoint_org_org_id_spaces_space_id_admitted_sources_post(body, org_id, space_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param AdmitSourceRequest body: (required)
        :param object org_id: Organization UUID (same as the caller's active tenant id). A foreign org id returns 404. (required)
        :param object space_id: Space identifier as the authorization layer and the fact store both hold it: the space UUID, or the literal 'commons' for the organization's shared space. (required)
        :return: AdmittedSourceGrant
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.admit_source_endpoint_org_org_id_spaces_space_id_admitted_sources_post_with_http_info(body, org_id, space_id, **kwargs)  # noqa: E501
        else:
            (data) = self.admit_source_endpoint_org_org_id_spaces_space_id_admitted_sources_post_with_http_info(body, org_id, space_id, **kwargs)  # noqa: E501
            return data

    def admit_source_endpoint_org_org_id_spaces_space_id_admitted_sources_post_with_http_info(self, body, org_id, space_id, **kwargs):  # noqa: E501
        """Admit a declared source in this space  # noqa: E501

        Record that content bearing this source id is not attacker-reachable within this space, so facts harvested from it are no longer held for review on arrival. Requires space steward. Refused with 409 when a live admission already covers the pair, which is a renewal. The response carries how far the grant reaches, because a grant in the shared tenant space reaches every account in it. It applies to facts harvested from now on: the rank a claim was minted with is permanent, so a backlog already held for review stays held.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.admit_source_endpoint_org_org_id_spaces_space_id_admitted_sources_post_with_http_info(body, org_id, space_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param AdmitSourceRequest body: (required)
        :param object org_id: Organization UUID (same as the caller's active tenant id). A foreign org id returns 404. (required)
        :param object space_id: Space identifier as the authorization layer and the fact store both hold it: the space UUID, or the literal 'commons' for the organization's shared space. (required)
        :return: AdmittedSourceGrant
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'org_id', 'space_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method admit_source_endpoint_org_org_id_spaces_space_id_admitted_sources_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `admit_source_endpoint_org_org_id_spaces_space_id_admitted_sources_post`")  # noqa: E501
        # verify the required parameter 'org_id' is set
        if ('org_id' not in params or
                params['org_id'] is None):
            raise ValueError("Missing the required parameter `org_id` when calling `admit_source_endpoint_org_org_id_spaces_space_id_admitted_sources_post`")  # noqa: E501
        # verify the required parameter 'space_id' is set
        if ('space_id' not in params or
                params['space_id'] is None):
            raise ValueError("Missing the required parameter `space_id` when calling `admit_source_endpoint_org_org_id_spaces_space_id_admitted_sources_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'org_id' in params:
            path_params['org_id'] = params['org_id']  # noqa: E501
        if 'space_id' in params:
            path_params['space_id'] = params['space_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['PortalSessionCookie']  # noqa: E501

        return self.api_client.call_api(
            '/org/{org_id}/spaces/{space_id}/admitted-sources', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AdmittedSourceGrant',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_admitted_sources_endpoint_org_org_id_spaces_space_id_admitted_sources_get(self, org_id, space_id, **kwargs):  # noqa: E501
        """List the grant history for this space  # noqa: E501

        Every grant, renewal and revocation, newest first. History rather than current state: the window a given fact was admitted under stays readable after the grant has been renewed.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_admitted_sources_endpoint_org_org_id_spaces_space_id_admitted_sources_get(org_id, space_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object org_id: Organization UUID (same as the caller's active tenant id). A foreign org id returns 404. (required)
        :param object space_id: Space identifier as the authorization layer and the fact store both hold it: the space UUID, or the literal 'commons' for the organization's shared space. (required)
        :param object limit: Maximum grants to return in this page.
        :param object cursor: Opaque page cursor from a previous response. Treat it as opaque: its encoding is not part of the contract.
        :return: AdmittedSourceListResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_admitted_sources_endpoint_org_org_id_spaces_space_id_admitted_sources_get_with_http_info(org_id, space_id, **kwargs)  # noqa: E501
        else:
            (data) = self.list_admitted_sources_endpoint_org_org_id_spaces_space_id_admitted_sources_get_with_http_info(org_id, space_id, **kwargs)  # noqa: E501
            return data

    def list_admitted_sources_endpoint_org_org_id_spaces_space_id_admitted_sources_get_with_http_info(self, org_id, space_id, **kwargs):  # noqa: E501
        """List the grant history for this space  # noqa: E501

        Every grant, renewal and revocation, newest first. History rather than current state: the window a given fact was admitted under stays readable after the grant has been renewed.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_admitted_sources_endpoint_org_org_id_spaces_space_id_admitted_sources_get_with_http_info(org_id, space_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object org_id: Organization UUID (same as the caller's active tenant id). A foreign org id returns 404. (required)
        :param object space_id: Space identifier as the authorization layer and the fact store both hold it: the space UUID, or the literal 'commons' for the organization's shared space. (required)
        :param object limit: Maximum grants to return in this page.
        :param object cursor: Opaque page cursor from a previous response. Treat it as opaque: its encoding is not part of the contract.
        :return: AdmittedSourceListResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['org_id', 'space_id', 'limit', 'cursor']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_admitted_sources_endpoint_org_org_id_spaces_space_id_admitted_sources_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'org_id' is set
        if ('org_id' not in params or
                params['org_id'] is None):
            raise ValueError("Missing the required parameter `org_id` when calling `list_admitted_sources_endpoint_org_org_id_spaces_space_id_admitted_sources_get`")  # noqa: E501
        # verify the required parameter 'space_id' is set
        if ('space_id' not in params or
                params['space_id'] is None):
            raise ValueError("Missing the required parameter `space_id` when calling `list_admitted_sources_endpoint_org_org_id_spaces_space_id_admitted_sources_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'org_id' in params:
            path_params['org_id'] = params['org_id']  # noqa: E501
        if 'space_id' in params:
            path_params['space_id'] = params['space_id']  # noqa: E501

        query_params = []
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'cursor' in params:
            query_params.append(('cursor', params['cursor']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['PortalSessionCookie']  # noqa: E501

        return self.api_client.call_api(
            '/org/{org_id}/spaces/{space_id}/admitted-sources', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AdmittedSourceListResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def reconcile_admitted_sources_endpoint_org_org_id_spaces_space_id_admitted_sources_reconciliation_get(self, org_id, space_id, **kwargs):  # noqa: E501
        """Reconcile declared sources against grants  # noqa: E501

        The sources this space's facts actually declare, set against the grants made here, and where the two disagree: a source arriving with no grant explains why its facts are held, and a grant matching nothing is a typo or a connector not yet live. Also reports how far a grant in this space reaches, since a grant in the shared tenant space reaches every account.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.reconcile_admitted_sources_endpoint_org_org_id_spaces_space_id_admitted_sources_reconciliation_get(org_id, space_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object org_id: Organization UUID (same as the caller's active tenant id). A foreign org id returns 404. (required)
        :param object space_id: Space identifier as the authorization layer and the fact store both hold it: the space UUID, or the literal 'commons' for the organization's shared space. (required)
        :param object cursor: Opaque page cursor from a previous response. Treat it as opaque: its encoding is not part of the contract.
        :param object limit: Sources per page. The paged shape existed with no caller but the tests, which is how a page nobody requests goes untried until a customer requests one.
        :return: ReconciliationResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.reconcile_admitted_sources_endpoint_org_org_id_spaces_space_id_admitted_sources_reconciliation_get_with_http_info(org_id, space_id, **kwargs)  # noqa: E501
        else:
            (data) = self.reconcile_admitted_sources_endpoint_org_org_id_spaces_space_id_admitted_sources_reconciliation_get_with_http_info(org_id, space_id, **kwargs)  # noqa: E501
            return data

    def reconcile_admitted_sources_endpoint_org_org_id_spaces_space_id_admitted_sources_reconciliation_get_with_http_info(self, org_id, space_id, **kwargs):  # noqa: E501
        """Reconcile declared sources against grants  # noqa: E501

        The sources this space's facts actually declare, set against the grants made here, and where the two disagree: a source arriving with no grant explains why its facts are held, and a grant matching nothing is a typo or a connector not yet live. Also reports how far a grant in this space reaches, since a grant in the shared tenant space reaches every account.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.reconcile_admitted_sources_endpoint_org_org_id_spaces_space_id_admitted_sources_reconciliation_get_with_http_info(org_id, space_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object org_id: Organization UUID (same as the caller's active tenant id). A foreign org id returns 404. (required)
        :param object space_id: Space identifier as the authorization layer and the fact store both hold it: the space UUID, or the literal 'commons' for the organization's shared space. (required)
        :param object cursor: Opaque page cursor from a previous response. Treat it as opaque: its encoding is not part of the contract.
        :param object limit: Sources per page. The paged shape existed with no caller but the tests, which is how a page nobody requests goes untried until a customer requests one.
        :return: ReconciliationResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['org_id', 'space_id', 'cursor', 'limit']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method reconcile_admitted_sources_endpoint_org_org_id_spaces_space_id_admitted_sources_reconciliation_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'org_id' is set
        if ('org_id' not in params or
                params['org_id'] is None):
            raise ValueError("Missing the required parameter `org_id` when calling `reconcile_admitted_sources_endpoint_org_org_id_spaces_space_id_admitted_sources_reconciliation_get`")  # noqa: E501
        # verify the required parameter 'space_id' is set
        if ('space_id' not in params or
                params['space_id'] is None):
            raise ValueError("Missing the required parameter `space_id` when calling `reconcile_admitted_sources_endpoint_org_org_id_spaces_space_id_admitted_sources_reconciliation_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'org_id' in params:
            path_params['org_id'] = params['org_id']  # noqa: E501
        if 'space_id' in params:
            path_params['space_id'] = params['space_id']  # noqa: E501

        query_params = []
        if 'cursor' in params:
            query_params.append(('cursor', params['cursor']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['PortalSessionCookie']  # noqa: E501

        return self.api_client.call_api(
            '/org/{org_id}/spaces/{space_id}/admitted-sources/reconciliation', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ReconciliationResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def renew_admitted_source_endpoint_org_org_id_spaces_space_id_admitted_sources_source_id_renew_post(self, body, org_id, space_id, source_id, **kwargs):  # noqa: E501
        """Renew a live admission  # noqa: E501

        Supersede the live grant and record its successor, extending from now rather than from the old expiry. Any steward of the space may renew what another steward granted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.renew_admitted_source_endpoint_org_org_id_spaces_space_id_admitted_sources_source_id_renew_post(body, org_id, space_id, source_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param RenewAdmissionRequest body: (required)
        :param object org_id: Organization UUID (same as the caller's active tenant id). A foreign org id returns 404. (required)
        :param object space_id: Space identifier as the authorization layer and the fact store both hold it: the space UUID, or the literal 'commons' for the organization's shared space. (required)
        :param object source_id: The source id a caller declares on corpus evidence, exactly as declared. Compared verbatim, so case matters and surrounding whitespace is stripped. (required)
        :return: AdmittedSource
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.renew_admitted_source_endpoint_org_org_id_spaces_space_id_admitted_sources_source_id_renew_post_with_http_info(body, org_id, space_id, source_id, **kwargs)  # noqa: E501
        else:
            (data) = self.renew_admitted_source_endpoint_org_org_id_spaces_space_id_admitted_sources_source_id_renew_post_with_http_info(body, org_id, space_id, source_id, **kwargs)  # noqa: E501
            return data

    def renew_admitted_source_endpoint_org_org_id_spaces_space_id_admitted_sources_source_id_renew_post_with_http_info(self, body, org_id, space_id, source_id, **kwargs):  # noqa: E501
        """Renew a live admission  # noqa: E501

        Supersede the live grant and record its successor, extending from now rather than from the old expiry. Any steward of the space may renew what another steward granted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.renew_admitted_source_endpoint_org_org_id_spaces_space_id_admitted_sources_source_id_renew_post_with_http_info(body, org_id, space_id, source_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param RenewAdmissionRequest body: (required)
        :param object org_id: Organization UUID (same as the caller's active tenant id). A foreign org id returns 404. (required)
        :param object space_id: Space identifier as the authorization layer and the fact store both hold it: the space UUID, or the literal 'commons' for the organization's shared space. (required)
        :param object source_id: The source id a caller declares on corpus evidence, exactly as declared. Compared verbatim, so case matters and surrounding whitespace is stripped. (required)
        :return: AdmittedSource
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'org_id', 'space_id', 'source_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method renew_admitted_source_endpoint_org_org_id_spaces_space_id_admitted_sources_source_id_renew_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `renew_admitted_source_endpoint_org_org_id_spaces_space_id_admitted_sources_source_id_renew_post`")  # noqa: E501
        # verify the required parameter 'org_id' is set
        if ('org_id' not in params or
                params['org_id'] is None):
            raise ValueError("Missing the required parameter `org_id` when calling `renew_admitted_source_endpoint_org_org_id_spaces_space_id_admitted_sources_source_id_renew_post`")  # noqa: E501
        # verify the required parameter 'space_id' is set
        if ('space_id' not in params or
                params['space_id'] is None):
            raise ValueError("Missing the required parameter `space_id` when calling `renew_admitted_source_endpoint_org_org_id_spaces_space_id_admitted_sources_source_id_renew_post`")  # noqa: E501
        # verify the required parameter 'source_id' is set
        if ('source_id' not in params or
                params['source_id'] is None):
            raise ValueError("Missing the required parameter `source_id` when calling `renew_admitted_source_endpoint_org_org_id_spaces_space_id_admitted_sources_source_id_renew_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'org_id' in params:
            path_params['org_id'] = params['org_id']  # noqa: E501
        if 'space_id' in params:
            path_params['space_id'] = params['space_id']  # noqa: E501
        if 'source_id' in params:
            path_params['source_id'] = params['source_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['PortalSessionCookie']  # noqa: E501

        return self.api_client.call_api(
            '/org/{org_id}/spaces/{space_id}/admitted-sources/{source_id}/renew', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AdmittedSource',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def revoke_admitted_source_endpoint_org_org_id_spaces_space_id_admitted_sources_source_id_revoke_post(self, body, org_id, space_id, source_id, **kwargs):  # noqa: E501
        """Revoke a live admission  # noqa: E501

        Withdraw the grant, naming why. Terminal and never a delete: facts already admitted keep the standing they were written with, and the record of who withdrew it survives.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.revoke_admitted_source_endpoint_org_org_id_spaces_space_id_admitted_sources_source_id_revoke_post(body, org_id, space_id, source_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param RevokeAdmissionRequest body: (required)
        :param object org_id: Organization UUID (same as the caller's active tenant id). A foreign org id returns 404. (required)
        :param object space_id: Space identifier as the authorization layer and the fact store both hold it: the space UUID, or the literal 'commons' for the organization's shared space. (required)
        :param object source_id: The source id a caller declares on corpus evidence, exactly as declared. Compared verbatim, so case matters and surrounding whitespace is stripped. (required)
        :return: AdmittedSource
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.revoke_admitted_source_endpoint_org_org_id_spaces_space_id_admitted_sources_source_id_revoke_post_with_http_info(body, org_id, space_id, source_id, **kwargs)  # noqa: E501
        else:
            (data) = self.revoke_admitted_source_endpoint_org_org_id_spaces_space_id_admitted_sources_source_id_revoke_post_with_http_info(body, org_id, space_id, source_id, **kwargs)  # noqa: E501
            return data

    def revoke_admitted_source_endpoint_org_org_id_spaces_space_id_admitted_sources_source_id_revoke_post_with_http_info(self, body, org_id, space_id, source_id, **kwargs):  # noqa: E501
        """Revoke a live admission  # noqa: E501

        Withdraw the grant, naming why. Terminal and never a delete: facts already admitted keep the standing they were written with, and the record of who withdrew it survives.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.revoke_admitted_source_endpoint_org_org_id_spaces_space_id_admitted_sources_source_id_revoke_post_with_http_info(body, org_id, space_id, source_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param RevokeAdmissionRequest body: (required)
        :param object org_id: Organization UUID (same as the caller's active tenant id). A foreign org id returns 404. (required)
        :param object space_id: Space identifier as the authorization layer and the fact store both hold it: the space UUID, or the literal 'commons' for the organization's shared space. (required)
        :param object source_id: The source id a caller declares on corpus evidence, exactly as declared. Compared verbatim, so case matters and surrounding whitespace is stripped. (required)
        :return: AdmittedSource
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'org_id', 'space_id', 'source_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method revoke_admitted_source_endpoint_org_org_id_spaces_space_id_admitted_sources_source_id_revoke_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `revoke_admitted_source_endpoint_org_org_id_spaces_space_id_admitted_sources_source_id_revoke_post`")  # noqa: E501
        # verify the required parameter 'org_id' is set
        if ('org_id' not in params or
                params['org_id'] is None):
            raise ValueError("Missing the required parameter `org_id` when calling `revoke_admitted_source_endpoint_org_org_id_spaces_space_id_admitted_sources_source_id_revoke_post`")  # noqa: E501
        # verify the required parameter 'space_id' is set
        if ('space_id' not in params or
                params['space_id'] is None):
            raise ValueError("Missing the required parameter `space_id` when calling `revoke_admitted_source_endpoint_org_org_id_spaces_space_id_admitted_sources_source_id_revoke_post`")  # noqa: E501
        # verify the required parameter 'source_id' is set
        if ('source_id' not in params or
                params['source_id'] is None):
            raise ValueError("Missing the required parameter `source_id` when calling `revoke_admitted_source_endpoint_org_org_id_spaces_space_id_admitted_sources_source_id_revoke_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'org_id' in params:
            path_params['org_id'] = params['org_id']  # noqa: E501
        if 'space_id' in params:
            path_params['space_id'] = params['space_id']  # noqa: E501
        if 'source_id' in params:
            path_params['source_id'] = params['source_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['PortalSessionCookie']  # noqa: E501

        return self.api_client.call_api(
            '/org/{org_id}/spaces/{space_id}/admitted-sources/{source_id}/revoke', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AdmittedSource',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
